{% extends '../../base.html' %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'choosen/choosen.css' %}">
    <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'material_time_picker/mdtimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'PakNastaleeqBetaRelease/font.css' %}">

{% endblock %}
{% block style %}
    <style>
        #my_camera {
            background-im: #8ABA5C;
            height: 75px;
            margin: 50px;
            transition: transform 1s;
            width: 100px;
        }

        #my_camera:hover {
            transform: scale(2);
        }
    </style>
{% endblock %}
<title>{% block title %}Club card sale (New) {% endblock %}</title>

{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">


                {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        Club card sale ( New ) <span style="font-family: PakNastaleeqBetaRelease;">کلب کارڈ سیل</span>
                    </div>
                {% endblock %}

                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">

                        <button type="button" class="btn btn-primary" onClick="javascript:history.go(-1);"><i
                                class="fa fa-chevron-left" aria-hidden="true"></i> back  <span style="font-family: PakNastaleeqBetaRelease;font-size: 18px;">واپس جائیں</span>
                        </button>

                        <button type='button' class="btn btn-primary" id="id_btn_save" ><i
                                class="ace-icon fa fa-floppy-o bigger-100"></i> save <span style="font-family: PakNastaleeqBetaRelease;font-size: 18px;">محفوظ کریں</span>
                        </button>


                    </div>

                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 text-right">
 <button type="button" class="btn btn-success btn_new_tl"
                                data-url="{% url 'clubcard_vehicle_on_sale_create' %}"><span
                                class="glyphicon glyphicon-plus"></span> New Vehicle <span style="font-family: PakNastaleeqBetaRelease;font-size: 18px;">کمبنی کی نئی گاڑی کا اندراج کریں۔ </span>
                        </button>
                    </div>
                </div>
                <hr>
                <form action="" method="post" id="id_form_save"
                      data-vehicles-url="{% url 'load_vehicles' %}">{% csrf_token %}
                    {{ form.errors }}

                    <input type="hidden" name="user" value="{{ request.user.id }}">

                    <div class="row" style="margin: 0 0 15px 0;">

                        <div class="col-md-6">
                            {{ form.company_name.errors }}{{ form.company_name.label_tag }} <span style="font-family: PakNastaleeqBetaRelease;font-size: 18px;">کمپنی کا نام </span>{{ form.company_name }}</div>
                        <div class="col-md-2">{{ form.date.errors }}{{ form.date.label_tag }} <span style="font-family: PakNastaleeqBetaRelease;font-size: 18px;"> تاریخ </span>{{ form.date }}</div>
                        <div class="col-md-4">
                            {{ form.client_ref.errors }}{{ form.client_ref.label_tag }} <span style="font-family: PakNastaleeqBetaRelease;font-size: 18px;">گاہک کا حوالہ </span>{{ form.client_ref }}</div>
                        <div class="col-md-4">
                            {{ form.clubcardvehicle.errors }}{{ form.clubcardvehicle.label_tag }} <span style="font-family: PakNastaleeqBetaRelease;font-size: 18px;">گاڑی نمبر</span>{{ form.clubcardvehicle }}</div>
                        <div class="col-md-3">
                            <label for="driver_name">Driver name: </label> <span style="font-family: PakNastaleeqBetaRelease;font-size: 18px;">ڈرائیور کا نام </span>
                            <input type="text" id="driver_name" name="driver_name" class="form-control"></div>
                        <div class="col-md-2">
                            <label for="driver_cnic">Driver cnic: </label> <span style="font-family: PakNastaleeqBetaRelease;font-size: 18px;">شناختی کارڈ نمبر </span>
                            <input type="text" id="driver_cnic" name="driver_cnic" class="form-control"></div>
                        <div class="col-md-3">
                            <label for="driver_phone">Driver phone:</label> <span style="font-family: PakNastaleeqBetaRelease;font-size: 18px;">ڈرائیور کا فون نمبر </span>
                            <input type="text" id="driver_phone" class="form-control" name="driver_phone"></div>



                    </div>
                    <table class="table table-bordered">
                        {{ clubcard_sales.management_form }}

                        {% for form in clubcard_sales.forms %}

                            {% if forloop.first %}
                                <thead>
                                <tr style="font-family: PakNastaleeqBetaRelease;font-size: 18px;">
                                    {% for field in form.visible_fields %}
                                        <th>{{ field.label|capfirst }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                            {% endif %}
                            <tbody>
                            <tr class="formset_row" id="1">
                                {% for field in form.visible_fields %}
                                    <td>
                                        {# Include the hidden fields in the form #}
                                        {% if forloop.first %}
                                            {% for hidden in form.hidden_fields %}
                                                {{ hidden }}
                                            {% endfor %}
                                        {% endif %}
                                        {{ field.errors.as_ul }}
                                        {{ field }}
                                    </td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        {% endfor %}

                    </table>
                    <div class="row">
                        <div  class="col-md-2">{{ form.received_amount.errors }}{{ form.received_amount.label_tag }} <span style="font-family: PakNastaleeqBetaRelease;font-size: 18px;">وصول کی ہوئی رقم </span>{{ form.received_amount }}</div>
                        <div class="col-md-2">{{ form.slip_no.errors }}{{ form.slip_no.label_tag }} <span style="font-family: PakNastaleeqBetaRelease;font-size: 18px;">سلپ نمبر </span>{{ form.slip_no }}</div>
                           <div  class="col-md-2">{{ form.expense_given.errors }}{{ form.expense_given.label_tag }} <span style="font-family: PakNastaleeqBetaRelease;font-size: 18px;">پیشگی کی رقم </span>{{ form.expense_given }}</div>
                        <div  class="col-md-2"> {{ form.clubcard_tax.errors }}{{ form.clubcard_tax.label_tag }} <span style="font-family: PakNastaleeqBetaRelease;font-size: 18px;">کلب کارڈ ٹیکس </span>{{ form.clubcard_tax }}</div>
                         <div class="col-md-2">{{ form.fuel_equivalent.errors }}{{ form.fuel_equivalent.label_tag }} <span style="font-family: PakNastaleeqBetaRelease;font-size: 18px;">اضافی پرچی کی رقم </span>{{ form.fuel_equivalent }}</div>
                        <div class="col-md-2" >{{ form.net_amount.errors }}{{ form.net_amount.label_tag }} <span style="font-family: PakNastaleeqBetaRelease;font-size: 18px;">کل رقم </span>{{ form.net_amount }}</div>
                    </div>

                    <div class="row" style="margin-top:15px;">
                        <div class="col-md-2" id="driver_photo"></div>
                        <div class="col-md-2" id="my_camera" style="display: none;"></div>

                        <div class="col-md-2">
                            <button type="button" style="display: none;" id="camera_button"
                                    class="btn btn-app btn-warning"
                                    onClick="configure()">
                                <i class="ace-icon fa fa-camera fa-2x"></i>
                                Photo <span style="font-family: PakNastaleeqBetaRelease;font-size: 18px;">تصویر</span>
                            </button>
                            <input id="photo_data" type="hidden" name="photo_data" value=""/>
                        </div>
                          <div class="col-md-2">{{ form.duty_person.errors }}{{ form.duty_person.label_tag }} <span style="font-family: PakNastaleeqBetaRelease;font-size: 18px;">ڈیوٹی پر آدمی </span>{{ form.duty_person }}</div>
                          <div class="col-md-2">{{ form.orig_net_amount.errors }}{{ form.orig_net_amount.label_tag }} <span style="font-family: PakNastaleeqBetaRelease;font-size: 18px;">فروخت کی رقم </span>{{ form.orig_net_amount }}</div>
                          <div class="col-md-2">{{ form.orig_qty_sold.errors }}{{ form.orig_qty_sold.label_tag }} <span style="font-family: PakNastaleeqBetaRelease;font-size: 18px;">فروخت کردہ مقدار </span>{{ form.orig_qty_sold }}</div>

                    </div>

                </form>

            </div>
        </div>
    </div>

    <div class="modal" id="modal-tl">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>


{% endblock %}
{#page specific js files#}
{% block custom_js_files %}

    <script src="{% static 'formset/clubcard_sale_create_formset.js' %}"></script>
    <script src="{% static 'sweatalert/sweatalert.js' %}"></script>
    <script src="{% static 'choosen/choosen.js' %}"></script>
    <script src="{% static 'js/datetimepicker.min.js' %}"></script>
    <script src="{% static 'material_time_picker/mdtimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webcam/webcamjs/webcam.min.js' %}"></script>

{% endblock %}

{#page specific inline js#}
{% block js_inline %}
    <script>
        // My custom code
        function configure() {
            Webcam.set({
                width: 100,
                height: 75,
                image_format: 'jpeg',
                jpeg_quality: 90
            });
            Webcam.attach('#my_camera');
        }

        //-------------
        function saveSnap() {
            // Get base64 value from <img id='imageprev'> source
            var base64image = document.getElementById("imageprev").src;

            Webcam.upload(base64image, '/clubcard_sales/driver_photo/create', function (code, text) {
                console.log('Save successfully');
                //console.log(text);
            });
        }

        //-------------
        $('#my_camera').click(function () {
            var shutter = new Audio();
            shutter.autoplay = false;
            shutter.src = navigator.userAgent.match(/Firefox/) ? '{% static 'webcam/shutter.ogg' %}' : '{% static 'webcam/shutter.mp3' %}';
            // play sound effect
            shutter.play();

            // take snapshot and get image data
            Webcam.snap(function (data_uri) {
                var raw_image_data = data_uri.replace(/^data\:image\/\w+\;base64\,/, '');

                document.getElementById('photo_data').value = raw_image_data;
                document.getElementById('driver_photo').innerHTML = '<img src="' + data_uri + '"/>';
            });

            Webcam.reset();
            $('#my_camera').css({'display': 'none'});
            $('#camera_button').css({'display': 'block'});
            $('#save_camera_button').css({'display': 'block'});
        });
        //-------------
        $('#camera_button').click(function () {
            $('#my_camera').css({'display': 'block'});
            $(this).css({'display': 'none'})
        });
        //-------------
        $('#save_camera_button').click(function () {
            saveSnap();
            $(this).css({'display': 'none'})
        });
        //-------------
        $('.formset_row').formset({
            addText: '<i class="fa fa-plus btn btn-sm btn-primary" aria-hidden="true"></i>',
            deleteText: '<i class="fa fa-trash-o btn btn-sm btn-danger" aria-hidden="true"></i>',
            prefix: 'clubcardsales_set'
        });
        //fetching vehicles releted
        $("#id_company_name").change(function () {
            var url = $("#id_form_save").attr("data-vehicles-url");  // get the url of the `load_cities` view
            var companyId = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'company': companyId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_clubcardvehicle").html(data);  // replace the contents of the city input with the data that came from the server
                    $("#id_clubcardvehicle").trigger("chosen:updated");
                }
            });

        });
        //load driver info
        $("#id_clubcardvehicle").change(function () {
            var companyId = $('#id_company_name').val();
            var vehicleId = $(this).val();
            $.ajax({
                url: '/clubcard_sales/load_driver_info',
                data: {
                    'company': companyId,
                    'vehicle': vehicleId
                },
                success: function (data) {
                    $('#driver_name').val(data.driver_name);
                    $('#driver_cnic').val(data.driver_cnic);
                    $('#driver_phone').val(data.driver_phone);
                    if (data.driver_photo != "") {
                        $('#driver_photo').html('<img src="' + '/media/' + data.driver_photo + '"/>');
                        $('#camera_button').css({'display': 'none'});

                    } else {
                        $('#camera_button').css({'display': 'block'});
                        $('#driver_photo>img').remove();
                    }
                }
            });

        });
        //fetching vehicles releted end
    </script>
    <script src="{% static 'js/custom/clubcard_sale_create.js' %}"></script>
{% endblock %}













