{% extends '../../base_pdf.html' %}
<title>{% block title %} Club Card Sale ( Detail ){% endblock %}</title>
{% block style %}
    <style>
table, td, th {
  border: 1px solid rgba(185, 185, 185, 0.38);
  text-align: left;
    font-size: 1em;
    font-weight: bolder;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 3px 3px 0 4px;
}

        .bolder {
            font-weight: bolder;
        }

        .headings {
            margin-top: 5px;
            margin-bottom: 0;
            font-weight: bolder;
            font-size: 1.1em;
            font-family: "Arial Black";
        }
    </style>
{% endblock %}

{% block content %}


    <h1 style="text-align: center;font-size: 1.5em; border-bottom: 1px solid black; border-top:1px solid black;padding-bottom: 2px;">
    <img src="/media/logo/vista.png" alt="" width="80" height="23">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vista Filling Station&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="/media/logo/total_logo.png" alt="" width="110" height="23"><br>
    </h1>
    <h4 style="text-align: center;margin: 0;">SALE INVOICE (office copy) <br> N-5 Main KLP Road Bypass Taranda M Pannah, Contact# 0321 4450149, 0344 7171704, Munshi Rafique: 0303 3693137
 </h4>
    <table>
        <tbody>

        <tr>
            <td><span class="bolder">Company : </span>{{ clubcard_sale.company_name }}</td>
            <td><span
                    class="bolder">Trans# : </span>{{ clubcard_sale.date|date:'Y-m-d' }}&star;{{ clubcard_sale.trans_no|stringformat:"06d" }}
            </td>
            <td><span class="bolder">Date : </span> {{ clubcard_sale.date }}</td>


        </tr>
        <tr>
            <td><span class="bolder">Client ref. : </span> {{ clubcard_sale.client_ref }}
            </td>
            <td><span class="bolder">Vehicle# : </span> {{ clubcard_sale.clubcardvehicle }}
            </td>
            <td><span
                    class="bolder">Driver : </span> {{ clubcard_sale.clubcardvehicle.driver_name }}</td>
        </tr>
        <tr>


            <td><span
                    class="bolder">Driver cnic# : </span> {{ clubcard_sale.clubcardvehicle.driver_cnic }}
            </td>
            <td><span
                    class="bolder">Driver phone# : </span> {{ clubcard_sale.clubcardvehicle.driver_phone }}
            </td>
            <td><span
                    class="bolder">Payment status : </span>
                {% if clubcard_sale.paymentstatus == 1 %}
                    <img src="/media/status/k.png" alt="">
                {% elif clubcard_sale.paymentstatus == 2 %}
                    <img src="/media/status/n.png" alt="">
               {% elif clubcard_sale.paymentstatus == 3 %}
                    <img src="/media/status/b.png" alt="">
                {% endif %}

            </td>

        </tr>
        </tbody>
    </table>

    <table>
        <thead>
        <tr>
            <th style="background-color: darkgray;">Product</th>
            <th style="background-color: darkgray;">Qty. sold</th>
            <th style="background-color: darkgray;">Rate</th>
            <th style="background-color: darkgray;">Amount</th>

        </tr>
        </thead>
        <tbody>
        {% for fs in clubcard_sale.clubcardsales_set.all %}
            <tr>
                <td><span class="bolder">{{ fs.product }}</span></td>
                <td>{{ fs.qty_sold }}</td>
                <td>{{ fs.price }}</td>
                <td>{{ fs.amount }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td><span class="bolder">Advance amount : </span></td>
            <td><span class="bolder">{{ clubcard_sale.expense_given }}</span></td>
            <td><span class="bolder">Sum : </span></td>
            <td><span class="bolder">{{ clubcard_sale.net_amount }}</span></td>
        </tr>
        </tbody>

    </table>

    <table>
        <tbody>

        <tr>
            <td colspan="2"><span class="bolder">Filled By : </span> {{ clubcard_sale.duty_person }}<span class="bolder">&nbsp;&nbsp;&nbsp;&nbsp;Signature : _____________</span></td>
             <td colspan="2" style="padding: 1px;"><img src="/media/{{ clubcard_sale.clubcardvehicle.driver_photo }}" width="60" height="50" alt="">&nbsp;&nbsp;&nbsp;&nbsp;<span class="bolder">Driver's Signature : _____________</span></td>
        </tr>
        </tbody>
    </table>

    <h1 style="text-align: center;font-size: 1.5em; border-bottom: 1px solid black; border-top:1px solid black;padding-bottom: 2px;">
    <img src="/media/logo/vista.png" alt="" width="80" height="23">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vista Filling Station&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="/media/logo/total_logo.png" alt="" width="110" height="23"><br>
    </h1>
    <h4 style="text-align: center;margin: 0;">SALE INVOICE (customer copy) <br> N-5 Main KLP Road Bypass Taranda M Pannah, Contact# 0321 4450149, 0344 7171704, Munshi Rafique: 0303 3693137
 </h4>
    <table>
        <tbody>

        <tr>
            <td><span class="bolder">Company : </span>{{ clubcard_sale.company_name }}</td>
            <td><span
                    class="bolder">Trans# : </span>{{ clubcard_sale.date|date:'Y-m-d' }}&star;{{ clubcard_sale.trans_no|stringformat:"06d" }}
            </td>
            <td><span class="bolder">Date : </span> {{ clubcard_sale.date }}</td>


        </tr>
        <tr>
            <td><span class="bolder">Client ref. : </span> {{ clubcard_sale.client_ref }}
            </td>
            <td><span class="bolder">Vehicle# : </span> {{ clubcard_sale.clubcardvehicle }}
            </td>
            <td><span
                    class="bolder">Driver : </span> {{ clubcard_sale.clubcardvehicle.driver_name }}</td>
        </tr>
        <tr>


            <td><span
                    class="bolder">Driver cnic# : </span> {{ clubcard_sale.clubcardvehicle.driver_cnic }}
            </td>
            <td><span
                    class="bolder">Driver phone# : </span> {{ clubcard_sale.clubcardvehicle.driver_phone }}
            </td>
            <td><span
                    class="bolder">Payment status : </span>
                {% if clubcard_sale.paymentstatus == 1 %}
                    <img src="/media/status/k.png" alt="">
                {% elif clubcard_sale.paymentstatus == 2 %}
                    <img src="/media/status/n.png" alt="">
               {% elif clubcard_sale.paymentstatus == 3 %}
                    <img src="/media/status/b.png" alt="">
                {% endif %}

            </td>

        </tr>
        </tbody>
    </table>

    <table>
        <thead>
        <tr>
            <th style="background-color: darkgray;">Product</th>
            <th style="background-color: darkgray;">Qty. sold</th>
            <th style="background-color: darkgray;">Rate</th>
            <th style="background-color: darkgray;">Amount</th>

        </tr>
        </thead>
        <tbody>
        {% for fs in clubcard_sale.clubcardsales_set.all %}
            <tr>
                <td><span class="bolder">{{ fs.product }}</span></td>
                <td>{{ fs.qty_sold }}</td>
                <td>{{ fs.price }}</td>
                <td>{{ fs.amount }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td><span class="bolder">Advance amount : </span></td>
            <td><span class="bolder">{{ clubcard_sale.expense_given }}</span></td>
            <td><span class="bolder">Sum : </span></td>
            <td><span class="bolder">{{ clubcard_sale.net_amount }}</span></td>
        </tr>
        </tbody>

    </table>

    <table>
        <tbody>

        <tr>
            <td colspan="2"><span class="bolder">Filled By : </span> {{ clubcard_sale.duty_person }}<span class="bolder">&nbsp;&nbsp;&nbsp;&nbsp;Signature : _____________</span></td>
             <td colspan="2" style="padding: 1px;"><img src="/media/{{ clubcard_sale.clubcardvehicle.driver_photo }}" width="60" height="50" alt="">&nbsp;&nbsp;&nbsp;&nbsp;<span class="bolder">Driver's Signature : _____________</span></td>
        </tr>
        </tbody>
    </table>



{% endblock %}














