{% extends '../../base.html' %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'choosen/choosen.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/datetimepicker.min.css' %}">
      <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}"/>

{% endblock %}
{% block style %}
    <style>
        body {
            counter-reset: Count-Value;
        }

        table {
            border-collapse: separate;
        }

        tr td:first-child:not(:last-child):before {
            counter-increment: Count-Value;
            content: counter(Count-Value);
        }
    </style>
{% endblock %}
<title>{% block title %}New Lubes sale{% endblock %}</title>

{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">


                 {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        Lube sale ( New )
                    </div>
                {% endblock %}

                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-12">

                        <button type="button" class="btn btn-primary" onClick="javascript:history.go(-1);"><i
                                class="fa fa-chevron-left" aria-hidden="true"></i> back
                        </button>

                        <button type='button' class="btn btn-primary" id="id_btn_save"><i
                                class="ace-icon fa fa-floppy-o bigger-100"></i> save
                        </button>

                </div>
                </div>
                <hr>
                <form action="" method="post" id="id_form_save">{% csrf_token %}
                    {{ form.errors }}

                    <input type="hidden" name="user" value="{{ request.user.id }}">

                    <div class="row" style="margin: 0 0 15px 0;">
                         <div class="col-md-4">{{ form.duty_person.errors }}{{ form.duty_person.label_tag }}{{ form.duty_person }}</div>
                        <div class="col-md-4">{{ form.duty.errors }}{{ form.duty.label_tag }}{{ form.duty }}</div>
                        <div class="col-md-4">{{ form.date.errors }}{{ form.date.label_tag }}{{ form.date }}</div>

                    </div>
                    <table class="table table-bordered">
                        {{ lubes_sale.management_form }}

                        {% for form in lubes_sale.forms %}

                            {% if forloop.first %}
                                <thead>
                                <tr>
                                    <th>NO.</th>
                                    {% for field in form.visible_fields %}
                                        <th>{{ field.label|capfirst }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                            {% endif %}
                            <tbody>
                            <tr class="formset_row" id="1">
                                <td></td>
                                {% for field in form.visible_fields %}
                                    <td>
                                        {# Include the hidden fields in the form #}
                                        {% if forloop.first %}
                                            {% for hidden in form.hidden_fields %}
                                                {{ hidden }}
                                            {% endfor %}
                                        {% endif %}
                                        {{ field.errors.as_ul }}
                                        {{ field }}
                                    </td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        {% endfor %}

                    </table>

                    <div class="row">
                            <div class="col-md-3 col-md-offset-6">
                            {{ form.net_discount.errors }}{{ form.net_discount.label_tag }}{{ form.net_discount }}
                        </div>
                         <div class="col-md-3">
                            {{ form.net_amount.errors }}{{ form.net_amount.label_tag }}{{ form.net_amount }}
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>


{% endblock %}
{#page specific js files#}
{% block custom_js_files %}

    <script src="{% static 'formset/lube_sale_create_formset.js' %}"></script>
       <script src="{% static 'sweatalert/sweatalert.js' %}"></script>
    <script src="{% static 'choosen/choosen.js' %}"></script>
    <script src="{% static 'js/datetimepicker.min.js' %}"></script>

{% endblock %}

{#page specific inline js#}
{% block js_inline %}
    <script>
// My custom code

$('.formset_row').formset({
    addText: '<i class="fa fa-plus btn btn-sm btn-primary" aria-hidden="true"></i>',
    deleteText: '<i class="fa fa-trash-o btn btn-sm btn-danger" aria-hidden="true"></i>',
    prefix: 'lubesales_set'
});

    </script>
    <script src="{% static 'js/custom/lube_sale_create.js' %}"></script>
{% endblock %}













