<form method="post" action="{% url 'lubes_purchase_delete' lubes_purchase.id %}" class="js-delete-lube_purchase-form">
  {% csrf_token %}
  <div class="modal-header" style="background-color: #D15B47;color: #fff;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirm uniform Lube purchase deletion</h4>
  </div>
  <div class="modal-body">
    <h4 class="lead"><i class="glyphicon glyphicon-alert"></i> Are you sure you want to delete the Lube purchase <strong>{{ lubes_purchase.date }} of amount {{ lubes_purchase.amount }} </strong>?</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger">Delete uniform order</button>
  </div>
</form>