         {% for sale in duty.tanksalem_set.all %}
                        <tr>
                            <td></td>
                            <td>{{ sale.duty_person }}</td>
                            <td>{{ sale.date }}</td>
                            <td>{{ sale.user }}</td>
                            <td>{{ sale.qty_sold }}</td>

                            <td>
                                <a href="{% url 'tankfuels_sale_detail' sale.id %}">
                                    <button type="button"
                                            class="btn btn-success btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span> Show
                                    </button>
                                </a>
                                <a href="{% url 'tankfuels_sale_update' sale.id %}">
                                    <button type="button"
                                            class="btn btn-warning btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span> Edit
                                    </button>
                                </a>
                                <a href="{% url 'latest_tank_fuel_sale_delete' sale.id %}">
                                <button type="button"
                                        class="btn btn-danger btn-sm "
                                        >
                                    <span class="glyphicon glyphicon-trash"></span> Delete
                                </button>
                                    </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6" class="text-center bg-warning">No tank sales</td>
                        </tr>
                    {% endfor %}