<table class="table table-bordered">
                 <thead>
                 <tr>
                     <th>Product</th>
                     <th>Amount</th>
                     <th>Allocated</th>
                     <th>Remaining</th>
                 </tr>
                 </thead>
                 <tbody>
                 {% for st in sale_transition %}
                 <tr>
                     <td>{{ st.product }}</td>
                     <td>{{ st.unallocated }}</td>
                     <td>{{ st.allocated }}</td>
                     <td>{{ st.balance }}</td>
                 </tr>
                 {% endfor %}
                 </tbody>
             </table>