{% extends "account/base.html" %}
{% load static %}

{% block title %}Account inactive{% endblock %}

{% block content %}
    <div class="position-relative">
        <div id="login-box" class="login-box visible widget-box no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h6 class="header blue lighter bigger">
                        <i class="ace-icon fa fa-sticky-note-o"></i>
                      This Account is  Inactive Please Contact To Admin!
                    </h6>

                    <div class="space-6"></div>
                    <a href="{% url 'account_login' %}"
                           class="btn btn-default">
                            Ok
                        </a>

                </div><!-- /.widget-main -->


            </div><!-- /.widget-body -->
        </div><!-- /.login-box -->
    </div>


{% endblock %}



