{% extends "account/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Sign In{% endblock %}

{% block content %}

    <div class="position-relative">
        <div id="login-box" class="login-box visible  no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header blue lighter bigger">
                        <i class="ace-icon fa fa-coffee green"></i>
                        Log In
                    </h4>

                    <div class="space-6"></div>

                    <form class="login" method="POST" action="{% url 'account_login' %}" class="form form-horizontal">
                        {% csrf_token %}
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        {{ form.errors }}
                    </div>
                    {% endif %}
                        {% for field in form %}
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% render_field field class="form-control" %}
                                {% for error in field.errors %}
                                    <p class="help-block">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endfor %}

                        <div class="space"></div>

                        <div class="clearfix">
                            <button type="submit" class="width-100 btn btn-sm btn-primary">
                                <span class="bigger-110">Login</span>
                            </button>
                        </div>

                    </form>


                </div><!-- /.widget-main -->
                <div class="toolbar">
                    <a href="{% url 'account_reset_password' %}" class="btn btn-default btn-sm">
                        Forgot password
                    </a>
                    <a href="{% url 'account_signup' %}" class="btn btn-default btn-sm text-right">
                        Register
                    </a>
                </div>
            </div><!-- /.widget-body -->
        </div><!-- /.login-box -->
    </div>

{% endblock %}



