{% extends "account/base.html" %}
{% load static %}

{% block title %}Sign Out{% endblock %}

{% block content %}
    <div class="position-relative">
        <div id="login-box" class="login-box visible  no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header blue lighter bigger">
                        <i class="ace-icon fa fa-sign-out"></i>
                        Are you sure you want to sign out?
                    </h4>

                    <div class="space-6"></div>
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button type="submit" class="btn btn-danger btn-sm">Sign Out</button>
                        <a href="
                            {% if request.user.role == 2 %}
                            {% url 'customer_home' %}
                            {% else %}
                            {% url 'dashboard' %}
                            {% endif %}
                                "
                           class="btn btn-default btn-sm">
                            Cancel
                        </a>
                    </form>

                </div><!-- /.widget-main -->


            </div><!-- /.widget-body -->
        </div><!-- /.login-box -->
    </div>


{% endblock %}


