
{% extends "account/base.html" %}
{% load {% load static %} %}

{% block title %}Password Reset{% endblock %}

{% block content %}

    <div class="position-relative">
        <div id="login-box" class="login-box visible no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header blue lighter bigger">
                        <i class="ace-icon fa fa-cogs green"></i>
                        Password Reset
                    </h4>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>


                </div><!-- /.widget-main -->

                <div class="toolbar clearfix">
                <div>
                      <a href="{% url 'account_login' %}"
                               class="btn btn-default btn-sm">
                                Login
                            </a>
                </div>

                    <div>
                        <a href="{% url 'account_signup' %}"  class="btn btn-default btn-sm">
                            Register
                        </a>
                    </div>
                </div>
            </div><!-- /.widget-body -->
        </div><!-- /.login-box -->
    </div>

{% endblock %}



