{% extends "account/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Password Reset{% endblock %}

{% block content %}

    <div class="position-relative">
        <div id="login-box" class="login-box visible  no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header blue lighter bigger">
                        <i class="ace-icon fa fa-cogs green"></i>
                        Password Reset
                    </h4>
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing
                        you to reset it.</p>

                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% render_field field class="form-control" %}
                                {% for error in field.errors %}
                                    <p class="help-block">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-sm">Reset My Password</button>
                    </form>

                    <p>Please contact us if you have any trouble resetting your password.</p>


                </div><!-- /.widget-main -->

                <div class="toolbar">

                    <a href="{% url 'dashboard' %}"
                       class="btn btn-default btn-sm">
                        Cancel
                    </a>


                    <a href="{% url 'account_signup' %}" class="btn btn-default btn-sm">
                        Register
                    </a>

                </div>
            </div><!-- /.widget-body -->
        </div><!-- /.login-box -->
    </div>

{% endblock %}



