{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password done" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password done" %}</h1>

    <p class="bg-success">Password change done!</p>
{% endblock %}
