{% extends "account/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Change Password{% endblock %}

{% block content %}

    <div class="position-relative">
        <div id="login-box" class="login-box visible no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header blue lighter bigger">
                        <i class="ace-icon fa fa-cogs green"></i>
                        Change Password
                    </h4>

                    <h5 class="green">Your password is now changed.</h5>

                    <a href="{% url 'account_login' %}"
                       class="btn btn-default btn-sm">
                        Login
                    </a>
                </div><!-- /.widget-main -->


            </div><!-- /.widget-body -->
        </div><!-- /.login-box -->
    </div>

{% endblock %}



