
{% extends "account/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Change Password{% endblock %}

{% block content %}

    <div class="position-relative">
        <div id="login-box" class="login-box visible  no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header blue lighter bigger">
                        <i class="ace-icon fa fa-cogs green"></i>
                        Change Password
                    </h4>
                    <h5>
                        {% if token_fail %}
                        {{ "Bad Token" }}
                    {% endif %}
                    </h5>

                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>The password reset link was invalid, possibly because it has already been
                            used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>
                            </p>
                    {% else %}
                        {% if form %}
                            <form method="POST" action="{{ action_url }}">
                                {% csrf_token %}
                         {% for field in form %}
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% render_field field class="form-control" %}
                                {% for error in field.errors %}
                                    <p class="help-block">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endfor %}
                                <button type="submit" name="action"  class="btn btn-primary btn-sm ">Change password</button>
                            </form>
                        {% else %}
                            <p>Your password is now changed.</p>
                        {% endif %}
                    {% endif %}
                </div><!-- /.widget-main -->
        <div class="toolbar">

                      <a href="{% url 'dashboard' %}"
                               class="btn btn-default btn-sm">
                                Cancel
                            </a>


                </div>

            </div><!-- /.widget-body -->
        </div><!-- /.login-box -->
    </div>

{% endblock %}



