{% extends "account/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Change Password{% endblock %}

{% block content %}

    <div class="position-relative">
        <div id="login-box" class="login-box visible no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header blue lighter bigger">
                        <i class="ace-icon fa fa-cogs green"></i>
                        Change Password
                    </h4>

                    <form method="POST" action="{% url 'account_change_password' %}">
                        {% csrf_token %}

                        {% for field in form %}
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% render_field field class="form-control" %}
                                {% for error in field.errors %}
                                    <p class="help-block">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <div class="space"></div>

                        <div class="clearfix">

                                <a href="{% url 'dashboard' %}"
                                   class="btn btn-primary btn-sm">
                                    Cancel
                                </a>


                                <button type="submit" name="action" class="btn btn-primary btn-sm">Change password
                                </button>

                        </div>

                    </form>


                </div><!-- /.widget-main -->


            </div><!-- /.widget-body -->
        </div><!-- /.login-box -->
    </div>

{% endblock %}



