{% extends "account/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Signup{% endblock %}

{% block content %}

    <div class="position-relative">
        <div id="signup-box" class="signup-box signup_custom no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header green lighter bigger">
                        <i class="ace-icon fa fa-users blue"></i>
                        New User Registration
                    </h4>

                    <div class="space-6"></div>
                    <p class="bolder"> Enter your details to begin: </p>

                    <form method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}


             {% for field in form %}
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% render_field field class="form-control" %}
                                {% for error in field.errors %}
                                    <p class="help-block">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endfor %}


                            <div class="space"></div>

                            <div class="clearfix">
                               <button type="submit" class="width-100 pull-right btn btn-sm btn-success">
                                    <span class="bigger-110">Register</span>
                                </button>
                            </div>

                    </form>
                </div>

                <div class="toolbar">
                    <a href="{% url 'account_login' %}"  class="btn btn-default btn-sm">
                        Login
                    </a>
                </div>
            </div><!-- /.widget-body -->
        </div><!-- /.signup-box -->
    </div>

{% endblock %}



