{% for d in  discounts %}
    <tr>
        <td>{{ d.customer }}</td>
        <td>{{ d.product }}</td>
        <td>{{ d.discount }}</td>
        <td>
            <button type="button"
                    class="btn btn-warning btn-sm js-update-discount"
                    data-url="{% url 'discount_update' d.id %}">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>
             <button type="button"
                    class="btn btn-danger btn-sm js-delete-discount"
                    data-url="{% url 'discount_delete' d.id %}">
                <span class="glyphicon glyphicon-pencil"></span> Delete
            </button>
        </td>
    </tr>
{% endfor %}