
{% load widget_tweaks %}

<form method="post" action="{% url 'rent_received_update' form.instance.pk %}" class="js-rent_received-update-form">
  {% csrf_token %}
  <div class="modal-header bg-primary">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Post rent received</h4>
  </div>
  <div class="modal-body">
    {% include 'rent_receiveds/includes/partial_rent_received_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="ace-icon fa fa-times white3"></i> Close</button>
         {% if form.status.value == 1 %}
            <button type='submit' class="btn btn-warning"><i
                    class="ace-icon fa fa-floppy-o bigger-100"></i> post it
            </button>
        {% endif %}
  </div>
</form>