{% for rent_received in rent_receiveds %}
    <tr>
        <td></td>
        <td>{{ rent_received.rent_cheque_no }}</td>
        <td>{{ rent_received.rent_receiving_date }}</td>
        <td>{{ rent_received.get_rent_receiving_month_display }}</td>
        <td>{{ rent_received.rent_bank_deposition_date }}</td>
        <td>{{ rent_received.bank }}</td>
        <td>{{ rent_received.rent_amount }}</td>
        {% if rent_received.status == 1 %}
            <td style="color:red;font-weight: bold;">{{ rent_received.get_status_display }} <span
                    class="glyphicon glyphicon-time"></span></td>
        {% else %}
            <td style="color: green;font-weight: bold;">{{ rent_received.get_status_display }} <span
                    class="glyphicon glyphicon-ok"></span></td>
        {% endif %}
        <td>
            {% if rent_received.status == 1 %}
                <button type="button"
                        class="btn btn-warning btn-sm js-update-rent_received"
                        data-url="{% url 'rent_received_update' rent_received.id %}">
                    <span class="glyphicon glyphicon-pencil"></span> Post
                </button>
                <button type="button"
                        class="btn btn-danger btn-sm js-delete-rent_received"
                        data-url="{% url 'rent_received_delete' rent_received.id %}">
                    <span class="glyphicon glyphicon-trash"></span> Delete
                </button>
            {% endif %}
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="9" class="text-center bg-warning">No rent received</td>
    </tr>
{% endfor %}