@font-face {
	font-family: 'PakNastaleeqBetaRelease';
	src: local('PakNastaleeqBetaRelease'), url("./NotoNastaliqUrdu-Regular.caae9c532894.ttf") format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_7642">Text with this font applied</p> */
.fontsforweb_fontid_7642 {
	font-family: 'PakNastaleeqBetaRelease' !important;
	font-size: 30px;
	font-weight: bold;
}

/* Font downloaded from FontsForWeb.com */