{% extends '../base.html' %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}"/>
    <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
{% endblock %}
{% block style %}

    <style>

    </style>

{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">


                {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        Taxes
                    </div>
                {% endblock %}


                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">

                      <div id="tax_create_button">

                        <table class="table table-bordered" id="tax-table">
                             <thead>
                    <tr>
                        <th>Tax type</th>
                        <th>% rate</th>

                    </thead>
                            <tbody>
                            {% include 'taxes/includes/partial_tax_list.html' %}
                            </tbody>

                        </table>


                    </div>
                    <div class="col-md-4"></div>
                </div>


            </div>
        </div>
    </div>
    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal fade" id="modal-tax">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js_files %}
    <script src="{% static 'js/custom/tax.js' %}"></script>
    <script src="{% static 'sweatalert/sweatalert.js' %}"></script>
    <script src="{% static 'choosen/choosen.js' %}"></script>
{% endblock %}

