<span class="bigger-120 text-center">
						<span class="blue bolder ">Naseer Petroleum Services</span>

					</span>
<div style="margin-bottom: 5px;">
    <span class="badge badge-info"><span class="bolder">Account: </span> {{ account_name }}</span> <span
        class="badge badge-info"><span class="bolder" style="margin-left: 20px;">ID: </span> {{ account_id }}</span>
    <span class="badge badge-info"><span class="bolder">Start date: </span> {{ start_date }}</span>
    <span class="badge badge-info"><span class="bolder">End date: </span> {{ end_date }}</span>
    <span class="badge badge-info pull-right"><span class="bolder">Date: </span> {% now "jS F Y H:i" %}</span>


</div>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Product</th>
        <th>Date</th>
        <th>Qty</th>
        <th>Discount</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>

        {% for c_sub in csm %}
            <tr>
                <td>{{ c_sub.creditsaleandexpenses__product__product_name }}</td>
                <td>{{ c_sub.duty__date | date:"d-m-Y" }}</td>
                <td>{{ c_sub.creditsaleandexpenses__qty_sold }}</td>
                <td>{{ c_sub.creditsaleandexpenses__discount_amount }}</td>
                <td>{{ c_sub.creditsaleandexpenses__amount }}</td>
            </tr>


        {% empty %}
            <tr>
                <td colspan="4" class="text-center bg-warning">No data found</td>
            </tr>
        {% endfor %}

    {% if csm.count > 0 %}
        <tr class="alert alert-info">
            <td colspan="3">Total</td>
            <td>{{ total_net_discount_amount }}</td>
            <td>{{ total_net_amount }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>







