<span class="bigger-120 text-center">
						<span class="blue bolder ">Naseer Petroleum Services (Bank depositions)</span>

					</span>
<div style="margin-bottom: 5px;">
    <span class="badge badge-info"><span class="bolder">Start date: </span>  {{ start_date }}</span>
    <span class="badge badge-info"><span class="bolder">End date: </span>  {{ end_date }}</span>
    <span class="badge badge-info pull-right"><span class="bolder">Date: </span>  {% now "jS F Y H:i" %}</span>


</div>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Bank</th>
        <th>Date</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
     <tr class="bg-info"><td colspan="2" class="bolder">Previous balance</td><td class="bolder">{{ previous_balance }}</td></tr>
    {% for tb in tbs %}
        <tr>
            <td>{{ tb.bank__account_name }}</td>
            <td>{{ tb.date }}</td>
            <td>{{ tb.amount}}</td>
        </tr>
    {% empty %}
           <tr>
            <td colspan="3" class="text-center bg-warning">No data found</td>
        </tr>
    {% endfor %}
         <tr class="alert alert-info"><td colspan="2">Sum</td><td>{{ total.total }}</td></tr>
    </tbody>
</table>





