<span class="bigger-120 text-center">
						<span class="blue bolder ">Naseer Petroleum Services (Fee paid)</span>

					</span>
<div style="margin-bottom: 5px;">
    <span class="badge badge-info"><span class="bolder">Start date: </span>  {{ start_date }}</span>
    <span class="badge badge-info"><span class="bolder">End date: </span>  {{ end_date }}</span>
    <span class="badge badge-info pull-right"><span class="bolder">Date: </span>  {% now "jS F Y H:i" %}</span>


</div>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Supplier</th>
        <th>Bank</th>
        <th>Invoice#</th>
        <th>Date</th>
        <th>Fee for month</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
     <tr class="bg-info"><td colspan="5" class="bolder">Previous balance</td><td class="bolder">{{ previous_balance }}</td></tr>
    {% for tb in tbs %}
        <tr>
            <td>{{ tb.supplier__account_name }}</td>
            <td>{{ tb.bank__account_name }}</td>
            <td>{{ tb.fee_invoice_no}}</td>
            <td>{{ tb.date}}</td>
           {% if tb.fee_paying_month == 1 %}
            <td>January</td>
            {% elif tb.fee_paying_month == 2 %}
            <td>February</td>
            {% elif tb.fee_paying_month == 3 %}
            <td>March</td>
            {% elif tb.fee_paying_month == 4 %}
            <td>April</td>
            {% elif tb.fee_paying_month == 5 %}
            <td>May</td>
            {% elif tb.fee_paying_month == 6 %}
            <td>June</td>
            {% elif tb.fee_paying_month == 7 %}
            <td>Jully</td>
            {% elif tb.fee_paying_month == 8 %}
            <td>August</td>
            {% elif tb.fee_paying_month == 9 %}
            <td>September</td>
            {% elif tb.fee_paying_month == 10 %}
            <td>October</td>
            {% elif tb.fee_paying_month == 11%}
            <td>November</td>
            {% elif tb.fee_paying_month == 12%}
            <td>December</td>
            {% else %}
                <td>None</td>
            {% endif %}
            <td>{{ tb.fee_amount}}</td>
        </tr>
    {% empty %}
           <tr>
            <td colspan="6" class="text-center bg-warning">No data found</td>
        </tr>
    {% endfor %}
         <tr class="alert alert-info"><td colspan="5">Sum</td><td>{{ total.total }}</td></tr>
    </tbody>
</table>





