<button style="float: right;" type="button" id="generate_pdf" name="addClient" value="Print"
        class="btn btn-primary " onclick="generate('Ledger');"><i
        class="fa fa-file-pdf-o"
        aria-hidden="true"></i>PDF
</button>

<span class="bigger-120 text-center">
						<span class="blue bolder ">Naseer Petroleum Services (Ledger)</span>

					</span>

<table class="table table-bordered" id="ledger">
    <thead>
    <tr><td colspan="7"><span class="bolder badge badge-info">Account: </span> {{ account_name }},
    <span class="bolder badge badge-info">Start date: </span>  {{ start_date }}
        <span class="bolder badge badge-info">End date: </span>  {{ end_date }}
        <span class="bolder badge badge-info">Date: </span>  {% now "jS F Y H:i" %}
        </td>
    </tr>
    <tr>
        <th>Date</th>
        <th>Naration</th>
        <th>Trans.</th>
        <th>Trans#</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Balance</th>
    </tr>
    </thead>
    <tbody>
    <tr class="bg-info"><td colspan="6" class="bolder">Previous balance</td><td class="bolder">{{ previous_balance }}</td></tr>
    {% for tb in tbs %}
        <tr>
            <td>{{ tb.duty__date }}</td>
            <td>{{ tb.naration }}</td>
            <td>{{ tb.voucher_type }}</td>
            <td>{{ tb.voucher_number }}</td>
            <td>{{ tb.debit }}</td>
            <td>{{ tb.credit }}</td>
            <td>{{ tb.balance}}</td>
        </tr>

    {% empty %}
        <tr>
            <td colspan="7" class="text-center bg-warning">No data found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>





