{% load widget_tweaks %}
{% if request.get_full_path == '/reports/head_account' %}

<form method="POST" action="{% url 'head_account' %}" class="js-head-account-create-form">
  {% csrf_token %}
  <div class="modal-header bg-primary">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Generate a Ledger</h4>
  </div>
  <div class="modal-body">
      <select name="sub_account_name" id="id_main_account_name">
          <option value="">Select an account</option>
          {% for f in form %}
          <option value="{{ f.id }}">{{ f.get_sub_account_name_display }}</option>
          {% endfor %}
      </select>


          <label for="start_date">Start date</label>

          <input class="form-control" type="date" name="start_date" id="start_date">



          <label for="end_date">End date</label>
            <input class="form-control" type="date" name="end_date" id="end_date">




  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-default" data-dismiss="modal"><i class="ace-icon fa fa-times white3"></i> Close</button>
        <button type="submit" class="btn btn-primary"><i class="ace-icon fa fa-refresh bigger-100"></i> Run report </button>
  </div>
</form>
{% else %}

<form method="POST" action="{% url 'ledger' %}" class="js-ledger-create-form">
  {% csrf_token %}
  <div class="modal-header bg-primary">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Generate a Ledger</h4>
  </div>
  <div class="modal-body">
      <select name="account_name" id="id_account_name">
          <option value="">Select an account</option>
          {% for f in form %}
                   <option value="{{ f.id }}">{{ f.account_name }}</option>

          {% endfor %}

      </select>


          <label for="start_date">Start date</label>

          <input class="form-control" type="date" name="start_date" id="start_date">



          <label for="end_date">End date</label>
            <input class="form-control" type="date" name="end_date" id="end_date">




  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-default" data-dismiss="modal"><i class="ace-icon fa fa-times white3"></i> Close</button>
        <button type="submit" class="btn btn-primary"><i class="ace-icon fa fa-refresh bigger-100"></i> Run report </button>
  </div>
</form>
{% endif %}