<button style="float: right;" type="button" id="generate_pdf" name="addClient" value="Print"
        class="btn btn-primary " onclick="generate('Lorry Stock History');"><i
        class="fa fa-file-pdf-o"
        aria-hidden="true"></i>PDF
</button>

<span class="bigger-120 text-center">
						<span class="blue bolder ">Naseer Petroleum Services (Lorry Stock History)</span>

</span>
<table class="table table-striped table-bordered" id="lorriesstockshistory">

    <thead>
    <tr>
        <th>Duty</th>
        <th>Lorry</th>
        <th>Chamber</th>
        <th>Product</th>
        <th>Dip</th>
        <th>voucher_type</th>
        <th>voucher_number</th>
        <th>stock_debit</th>
        <th>stock_credit</th>
        <th>comment</th>
    </tr>
    </thead>
    <tbody>
    {% for lsh in lorry_stock_history %}
        <tr>
            <td>{{ lsh.duty }}</td>
            <td>{{ lsh.lorry }}</td>
            <td>{{ lsh.chamber }}</td>
            <td>{{ lsh.product}}</td>
            <td>{{ lsh.dip}}</td>
            <td>{{ lsh.voucher_type}}</td>
            <td>{{ lsh.voucher_number}}</td>
            <td>{{ lsh.stock_debit}}</td>
            <td>{{ lsh.stock_credit}}</td>
            <td>{{ lsh.comment}}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="10" class="text-center bg-warning">No data found</td>
        </tr>
    {% endfor %}

    </tbody>
</table>





