<button style="float: right;" type="button" id="generate_pdf" name="addClient" value="Print"
        class="btn btn-primary " onclick="generate('Lorries Stock');"><i
        class="fa fa-file-pdf-o"
        aria-hidden="true"></i>PDF
</button>

<span class="bigger-120 text-center">
						<span class="blue bolder ">Naseer Petroleum Services (Lorry Stock)</span>

</span>
<table class="table table-bordered" id="lorriesstocks">


    <thead>
    <tr>
        <th>Lorry</th>
        <th>Chamber</th>
        <th>Product</th>
        <th>Stock</th>
    </tr>
    </thead>
    <tbody>
    {% for ls in lorry_stock %}
        <tr>
            <td>{{ ls.lorry }}</td>
            <td>{{ ls.chamber }}</td>
            <td>{{ ls.product }}</td>
            <td>{{ ls.stock }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="4" class="text-center bg-warning">No data found</td>
        </tr>
    {% endfor %}

    </tbody>
</table>





