<span class="bigger-120 text-center">
						<span class="blue bolder ">Naseer Petroleum Services (Suppliers payments)</span>

					</span>
<div style="margin-bottom: 5px;">
    <span class="badge badge-info"><span class="bolder">Start date: </span>  {{ start_date }}</span>
    <span class="badge badge-info"><span class="bolder">End date: </span>  {{ end_date }}</span>
    <span class="badge badge-info pull-right"><span class="bolder">Date: </span>  {% now "jS F Y H:i" %}</span>


</div>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Supplier</th>
        <th>Date</th>
        <th>Bank</th>
        <th>Payment for</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
     <tr class="bg-info"><td colspan="4" class="bolder">Previous balance</td><td class="bolder">{{ previous_balance }}</td></tr>
    {% for tb in tbs %}
        <tr>
            <td>{{ tb.supplier__account_name }}</td>
            <td>{{ tb.date }}</td>
            <td>{{ tb.bank__account_name}}</td>
            {% if tb.payment_for == 0 %}
            <td>Fuels</td>
            {% elif tb.payment_for == 1 %}
            <td>Lubes</td>
            {% elif tb.payment_for == 2 %}
            <td>Uniforms</td>
            {% else %}
            <td>None</td>
            {% endif %}
            <td>{{ tb.amount}}</td>
        </tr>
    {% empty %}
           <tr>
            <td colspan="5" class="text-center bg-warning">No data found</td>
        </tr>
    {% endfor %}
         <tr class="alert alert-info"><td colspan="4">Sum</td><td>{{ total.total }}</td></tr>
    </tbody>
</table>





