{% load widget_tweaks %}


<form method="POST" action="{% url 'suppliers_payments' %}" class="suppliers_payments_form">
    {% csrf_token %}
    <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Generate expense list</h4>
    </div>
    <div class="modal-body">

        <label for="start_date">Start date</label>

        <input class="form-control" type="date" name="start_date" id="start_date">


        <label for="end_date">End date</label>
        <input class="form-control" type="date" name="end_date" id="end_date">


    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-7">
                <div class="orange text-left">Note:</div>
                <div class="green text-left">To get all expenses leave Start date and End date empity!</div>
            </div>
            <div class="col-md-5">
                 <button type="button" class="btn btn-default" data-dismiss="modal"><i class="ace-icon fa fa-times white3"></i>
            Close
        </button>
        <button type="submit" class="btn btn-primary"><i class="ace-icon fa fa-refresh bigger-100"></i> Run report
        </button>
            </div>
        </div>


    </div>
</form>



