<span class="bigger-120 text-center">
						<span class="blue bolder ">Naseer Petroleum Services (Payable amounts)</span>

					</span>
<div style="margin-bottom: 5px;">
    <span class="badge badge-info pull-right"><span class="bolder">Date: </span>  {% now "jS F Y H:i" %}</span>


</div>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Acount id</th>
        <th>Account name</th>
        <th>Balance</th>
    </tr>
    </thead>
    <tbody>
    {% for tb in tbs %}
        <tr>
            <td>{{ tb.chartofaccount }}</td>
            <td>{{ tb.chartofaccount__account_name }}</td>
            <td>{{ tb.balance}}</td>
        </tr>
    {% empty %}
           <tr>
            <td colspan="3" class="text-center bg-warning">No data found</td>
        </tr>
    {% endfor %}
         <tr class="alert alert-info"><td colspan="2">Sum</td><td>{{ total.total }}</td></tr>
    </tbody>
</table>





