<span class="bigger-120 text-center">
						<span class="blue bolder ">Naseer Petroleum Services (Ledger)</span>

					</span>
<div style="margin-bottom: 5px;">
    <span class="badge badge-info"><span class="bolder">Account: </span> {{ account_name }}</span> <span class="badge badge-info"><span class="bolder" style="margin-left: 20px;">ID: </span> {{ account_id }}</span>
    <span class="badge badge-info"><span class="bolder">Start date: </span>  {{ start_date }}</span>
    <span class="badge badge-info"><span class="bolder">End date: </span>  {{ end_date }}</span>
    <span class="badge badge-info pull-right"><span class="bolder">Date: </span>  {% now "jS F Y H:i" %}</span>


</div>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Date</th>
        <th>Naration</th>
        <th>Trans.</th>
        <th>Trans#</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Balance</th>
    </tr>
    </thead>
    <tbody>
    <tr class="bg-info"><td colspan="6" class="bolder">Previous balance</td><td class="bolder">{{ previous_balance }}</td></tr>
    {% for tb in tbs %}
        <tr>
            <td>{{ tb.date }}</td>
            <td>{{ tb.naration }}</td>
            <td>{{ tb.voucher_type }}</td>
            <td>{{ tb.voucher_number }}</td>
            <td>{{ tb.debit }}</td>
            <td>{{ tb.credit }}</td>
            <td>{{ tb.balance}}</td>
        </tr>

    {% empty %}
        <tr>
            <td colspan="7" class="text-center bg-warning">No data found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>





