<span class="bigger-120 text-center">
						<span class="blue bolder ">Naseer Petroleum Services (Tank Ledger)</span>

					</span>
<div style="margin-bottom: 5px;">
    <span class="badge badge-info"><span class="bolder">Account: </span> {{ account_name }}</span> <span class="badge badge-info"><span class="bolder" style="margin-left: 20px;">ID: </span> {{ account_id }}</span>
    <span class="badge badge-info"><span class="bolder">Start date: </span>  {{ start_date }}</span>
    <span class="badge badge-info"><span class="bolder">End date: </span>  {{ end_date }}</span>
    <span class="badge badge-info pull-right"><span class="bolder">Date: </span>  {% now "jS F Y H:i" %}</span>


</div>
<table class="table table-striped table-bordered">
    <thead>

    <tr style="text-align: center;">
        <th>0 <br>Date</th>
        <th>1 <br>Opening stock</th>
        <th>2 <br>Received stock</th>
        <th>3 <br>Total stock</th>
        <th>4 <br>Meter sale</th>
        <th>5 <br>Closing stock</th>
        <th>6 <br>Test reading</th>
        <th>7 <br>Net book stock</th>
        <th>8 <br>Net sale</th>
        <th>9 <br>Dip</th>
        <th>10 <br>Physical stock</th>
        <th>11 <br>Gain loss</th>
        <th>12 <br>MTD</th>

    </tr>
    <tr>
        <th>-----</th>
        <th>-----</th>
        <th>-----</th>
        <th>1 + 2</th>
        <th>-----</th>
        <th>3 - 4</th>
        <th>-----</th>
        <th>5 + 6</th>
        <th>4 - 6</th>
        <th>-----</th>
        <th>-----</th>
        <th>10 - 7</th>
        <th>-----</th>

    </tr>
    </thead>
    <tlody>

    {% for tl in tank_ledgers %}
        <tr>
            <td>{{ tl.duty__date }}</td>
            <td>{{ tl.opening_stock_sum }}</td>
            <td>{{ tl.received_stock_sum }}</td>
            <td>{{ tl.total_stock }}</td>
            <td>{{ tl.meter_sale_sum }}</td>
            <td>{{ tl.closing_stock }}</td>
            <td>{{ tl.test_reading_sum }}</td>
            <td>{{ tl.net_book_stock }}</td>
            <td>{{ tl.net_sale }}</td>
            <td>{{ tl.dip_sum }}</td>
            <td>{{ tl.physical_stock_sum}}</td>
            <td>{{ tl.gain_loss }}</td>
            <td>{{ tl.mtd }}</td>

        </tr>

    {% empty %}
        <tr>
            <td colspan="13" class="text-center bg-warning">No data found</td>
        </tr>
    {% endfor %}
    </tlody>
</table>





