<span class="bigger-120 text-center">
						<span class="blue bolder ">Naseer Petroleum Services (Trial Balance)</span>
					</span>
<div class="text-right" style="margin-bottom: 5px;">
    <span class="badge badge-info"><span class="bolder">Date: </span>  {% now "jS F Y H:i" %}</span>


</div>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Account id</th>
        <th>Account name</th>
        <th>Debit</th>
        <th>Credit</th>
    </tr>
    </thead>
    <tbody>
    {% for tb in tbs %}
        <tr>
            <td>{{ tb.chartofaccount_id }}</td>
            <td>{{ tb.chartofaccount__account_name }}</td>
            <td>{{ tb.total_debit }}</td>
            <td>{{ tb.total_credit }}</td>
        </tr>

    {% empty %}
        <tr>
            <td colspan="3" class="text-center bg-warning">No data found</td>
        </tr>
    {% endfor %}
    <tr class="bg-info">
        <td class="text-right" colspan="2">Sum</td>
        <td>{{ sum_debit.sum_debit }}</td>
        <td>{{ sum_credit.sum_credit }}</td>
    </tr>
    </tbody>
</table>





