

{% if tax is not None %}
    <tr>
        <td class="bolder">Sales tax</td>
        <td>{{ tax.sales_tax }}</td>
    </tr>
    <tr>
        <td class="bolder">Extra tax</td>
        <td>{{ tax.extra_tax }}</td>
    </tr>
    <tr>
        <td class="bolder">Further tax</td>
        <td>{{ tax.further_tax }}</td>
    </tr>
    <tr class="alert alert-info">
        <td class="bolder">Sum of taxes</td>
        <td>{{ tax.sum_taxes }}</td>
    </tr>
    <tr>
        <td class="bolder">Club card tax</td>
        <td>{{ tax.cc_tax }}</td>
    </tr>
    <tr>
        <td class="bolder">Withholding tax</td>
        <td>{{ tax.withholding_tax }}</td>
    </tr>
     <tr>
        <td class="bolder">Extra Swaping return tax</td>
        <td>{{ tax.extra_swaping_return_tax }}</td>
    </tr>
    <tr>
        <td colspan="4">
            <button type="button"
                    class="btn btn-warning btn-sm js-update-tax"
                    data-url="{% url 'tax_update' tax.id %}">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>

 <button type="button" class="btn btn-primary btn-sm" onClick="javascript:history.go(-1);"><i
                                class="fa fa-chevron-left" aria-hidden="true"></i> back
                        </button>
        </td>
    </tr>

{% endif %}