{% extends '../../base.html' %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}">
{% endblock %}
{% block style %}
    <style>

    </style>
{% endblock %}
<title>{% block title %}Detail fuel purchase{% endblock %}</title>

{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">

                {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        Fuel Purchases By Lorry (Detail)
                    </div>
                {% endblock %}

                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                        <a href="{% url 'fuels_purchase_by_lorry_create' %}">
                            <button type="button"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus"></span>
                                New
                            </button>
                        </a>

                        <a href="{% url 'fuels_purchase_by_lorry_list' %}">
                            <button type="button"
                                    class="btn btn-primary">
                                <i class="fa fa-remove" aria-hidden="true"></i> Close
                            </button>
                        </a>

                    </div>

                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-right">
                        <button type="button" id="btnPrint" name="addClient" value="Print"
                                class="btn btn-primary"><i class="fa fa-print" aria-hidden="true"></i>
                            print
                        </button>


                        <button type="button" id="generate_pdf" name="addClient" value="Print"
                                class="btn btn-primary" onclick="generatePDF();"><i
                                class="fa fa-file-pdf-o"
                                aria-hidden="true"></i> pdf
                        </button>
                    </div>
                </div>

                <div id="uniform_order_print">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td colspan="12">
                        <span class="bigger-120">
						<span class="blue bolder">Vista Filling Station</span>
					</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><span class="bolder">Supplier:</span> {{ fuel_purchase_by_lorry.supplier }}</td>
                            <td colspan="2"><span class="bolder">Duty: </span>{{ fuel_purchase_by_lorry.duty }}</td>

                            <td colspan="2"><span
                                    class="bolder">Invoice#:</span> {{ fuel_purchase_by_lorry.supplier_invoice_no }}</td>
                            <td colspan="2"><span class="bolder">Lorry:</span> {{ fuel_purchase_by_lorry.lorry }}
                            </td>
                            <td colspan="2"><span class="bolder">Driver:</span> {{ fuel_purchase_by_lorry.driver_name }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered" id="uniform_order-table_detail">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Lorry Chamber</th>
                            <th>Purchased Dip</th>
                            <th>Received Dip</th>
                            <th>Milli Short</th>
                            <th>Purchased Stock</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for fp in fuel_purchase_by_lorry.fuel_purchases_by_lorry.all %}
                            <tr class="products_lists">
                                <td><span class="bolder urdu_font">{{ fp.product }}</span></td>
                                <td>{{ fp.lorry_chamber }}</td>
                                <td>{{ fp.chamber_dip_purchased }}</td>
                                <td>{{ fp.chamber_dip_received }}</td>
                                <td>{{ fp.milli_short }}</td>
                                <td>{{ fp.purchased_stock }}</td>
                                <td>{{ fp.amount }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="6" class="text-right"><span class="bolder urdu_font">Total Amount</span></td>
                            <td><span class="bolder">{{ fuel_purchase_by_lorry.net_amount }}</span></td>
                        </tr>
                        </tbody>

                    </table>

                </div>
            </div>

        </div>
    </div>
    <!-- THE MODAL FOR SUB ACCOUNTS -->
    <div class="modal fade" id="modal-uniform_order">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}
{#page specific js files#}
{% block custom_js_files %}

    <script src="{% static 'htmlTopdf/jspdf.min.js' %}"></script>
    <script src="{% static 'htmlTopdf/html2pdf.js' %}"></script>
    <script src="{% static 'htmlTopdf/html2canvas.min.js' %}"></script>
    <script src="{% static 'htmlTopdf/print2.min.js' %}"></script>


{% endblock %}

{#page specific inline js#}
{% block js_inline %}
    <script>
        function getDateTime() {
            var now = new Date();
            var year = now.getFullYear();
            var month = now.getMonth() + 1;
            var day = now.getDate();
            var hour = now.getHours();
            var minute = now.getMinutes();
            var second = now.getSeconds();
            if (month.toString().length == 1) {
                month = '0' + month;
            }
            if (day.toString().length == 1) {
                day = '0' + day;
            }
            if (hour.toString().length == 1) {
                hour = '0' + hour;
            }
            if (minute.toString().length == 1) {
                minute = '0' + minute;
            }
            if (second.toString().length == 1) {
                second = '0' + second;
            }
            var dateTime = day + '/' + month + '/' + year + ' ' + hour + ':' + minute + ':' + second;
            return dateTime;
        }

        {#pdf#}

        function generatePDF() {
            var element = document.getElementById('uniform_order_print');
            html2pdf(element, {
                margin: 1,
                filename: 'uniform_order-' + '{{uniform_order.id}}' + '-' + getDateTime() + '.pdf',
                image: {type: 'jpeg', quality: 1},
                html2canvas: {dpi: 600, letterRendering: true},
                jsPDF: {unit: 'in', format: 'legal', orientation: 'landscape'}
            });
        }

        {#print#}
        $(document).on('click', '#btnPrint', function () {
            $("#uniform_order_print").print({
                globalStyles: true,
                mediaPrint: false,
                stylesheet: null,
                noPrintSelector: ".no-print",
                iframe: true,
                append: null,
                prepend: null,
                manuallyCopyFormValues: true,
                deferred: $.Deferred(),
                timeout: 750,
                title: 'Fuel purchase',
                doctype: '<!doctype html>'
            });
        });

    </script>

{% endblock %}













