{% extends '../../base.html' %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'choosen/choosen.css' %}">
    <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'material_time_picker/mdtimepicker.min.css' %}">

{% endblock %}

<title>{% block title %}New Fuel purchase{% endblock %}</title>

{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">


                {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        Fuel purchase (New)
                    </div>
                {% endblock %}

                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">

                        <a href="{% url 'fuels_purchase_list' %}">
                            <button type="button"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-list"></span>
                                Fuel purchase list
                            </button>
                        </a>
                        <button type='button' class="btn btn-primary" id="id_btn_save"><i
                                class="ace-icon fa fa-floppy-o bigger-100"></i> save
                        </button>

                        <a href="{% url 'fuels_purchase_home' %}">
                            <button type="button"
                                    class="btn btn-primary">
                                <i class="fa fa-remove" aria-hidden="true"></i> Close
                            </button>
                        </a>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 text-right">
                        <button type="button" class="btn btn-success btn_new_tl" data-url="/tank_lorries/create"><span
                                class="glyphicon glyphicon-plus"></span>New TL
                        </button>
                    </div>
                </div>
                <hr>
                <form action="" method="post" id="id_form_save">{% csrf_token %}
                    {{ form.errors }}

                    <input type="hidden" name="user" value="{{ request.user.id }}">

                    <div class="row" style="margin: 0 0 15px 0;">

                        <div class="col-md-2">
                            {{ form.supplier.errors }}{{ form.supplier.label_tag }}{{ form.supplier }}</div>
                        <div class="col-md-2">{{ form.duty.errors }}{{ form.duty.label_tag }}{{ form.duty }}</div>
                        <div class="col-md-2">
                            {{ form.invoice_date.errors }}{{ form.invoice_date.label_tag }}{{ form.invoice_date }}</div>
                        <div class="col-md-2">
                            {{ form.supplier_invoice_no.errors }}{{ form.supplier_invoice_no.label_tag }}{{ form.supplier_invoice_no }}</div>
                        <div class="col-md-2">
                            {{ form.tanklorry.errors }}{{ form.tanklorry.label_tag }}{{ form.tanklorry }}</div>
                        <div class="col-md-2">
                            {{ form.tl_carriage_name.errors }}{{ form.tl_carriage_name.label_tag }}{{ form.tl_carriage_name }}</div>
                        <div class="col-md-3">
                            {{ form.tl_driver_name.errors }}{{ form.tl_driver_name.label_tag }}{{ form.tl_driver_name }}</div>
                        <div class="col-md-2">
                            {{ form.tl_driver_phone.errors }}{{ form.tl_driver_phone.label_tag }}{{ form.tl_driver_phone }}</div>
                        <div class="col-md-1">
                            {{ form.tl_reporting_time.errors }}{{ form.tl_reporting_time.label_tag }}{{ form.tl_reporting_time }}</div>
                        <div class="col-md-1">
                            {{ form.tl_decantation_time.errors }}{{ form.tl_decantation_time.label_tag }}{{ form.tl_decantation_time }}</div>
                        <div class="col-md-1">
                            {{ form.tl_checkout_time.errors }}{{ form.tl_checkout_time.label_tag }}{{ form.tl_checkout_time }}</div>
                        <div class="col-md-2">
                            {{ form.tl_decanted_by.errors }}{{ form.tl_decanted_by.label_tag }}{{ form.tl_decanted_by }}</div>
                        <div class="col-md-2">
                            {{ form.tl_cleared_by.errors }}{{ form.tl_cleared_by.label_tag }}{{ form.tl_cleared_by }}</div>

                    </div>
                    <table class="table table-bordered">
                        {{ fuels_purchase.management_form }}

                        {% for form in fuels_purchase.forms %}

                            {% if forloop.first %}
                                <thead>
                                <tr>
                                    {% for field in form.visible_fields %}
                                        <th>{{ field.label|capfirst }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                            {% endif %}
                            <tbody>
                            <tr class="formset_row" id="1">
                                {% for field in form.visible_fields %}
                                    <td>
                                        {# Include the hidden fields in the form #}
                                        {% if forloop.first %}
                                            {% for hidden in form.hidden_fields %}
                                                {{ hidden }}
                                            {% endfor %}
                                        {% endif %}
                                        {{ field.errors.as_ul }}
                                        {{ field }}
                                    </td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        {% endfor %}

                    </table>

                    <div class="row">
                        <div class="col-md-3 col-md-offset-9">
                            {{ form.net_amount.errors }}{{ form.net_amount.label_tag }}{{ form.net_amount }}
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-tl">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>


{% endblock %}
{#page specific js files#}
{% block custom_js_files %}

    <script src="{% static 'formset/fuel_purchase_create_formset.js' %}"></script>
    <script src="{% static 'sweatalert/sweatalert.js' %}"></script>
    <script src="{% static 'choosen/choosen.js' %}"></script>
    <script src="{% static 'js/datetimepicker.min.js' %}"></script>
    <script src="{% static 'material_time_picker/mdtimepicker.min.js' %}"></script>

{% endblock %}

{#page specific inline js#}
{% block js_inline %}
    <script>
        // My custom code

        $('.formset_row').formset({
            addText: '<i class="fa fa-plus btn btn-sm btn-primary" aria-hidden="true"></i>',
            deleteText: '<i class="fa fa-trash-o btn btn-sm btn-danger" aria-hidden="true"></i>',
            prefix: 'fuelpurchases_set'
        });

    </script>
    <script src="{% static 'js/custom/fuel_purchase_create.js' %}"></script>
{% endblock %}













