{% extends '../../base.html' %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'choosen/choosen.css' %}">
    <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/datetimepicker.min.css' %}">



{% endblock %}

<title>{% block title %}New Fuel purchase{% endblock %}</title>

{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">


                {% block page-header %}
                    <div class="col-md-12 bg-primary urdu_font"
                         style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        Fuel Purcahse By Lorry (New)
                    </div>
                {% endblock %}

                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">

                        <a href="{% url 'fuels_purchase_by_lorry_list' %}">
                            <button type="button"
                                    class="btn btn-primary urdu_font">
                                <span class="glyphicon glyphicon-list "></span>
                                Fuel Purcahse By Lorry List
                            </button>
                        </a>

                        <button type='button' class="btn btn-primary urdu_font" id="id_btn_save"><i
                                class="ace-icon fa fa-floppy-o bigger-100"></i> Save
                        </button>

                        <a href="{% url 'fuels_purchase_by_lorry_home' %}">
                            <button type="button"
                                    class="btn btn-primary">
                                <i class="fa fa-remove" aria-hidden="true"></i> Close
                            </button>
                        </a>
                    </div>

                    <div class="col-md-9 col-sm-3 col-xs-3 col-lg-3" id="id_stock">

                    </div>

                </div>
                <hr>
                <form action="" method="post" id="id_form_save">{% csrf_token %}
                    {{ form.errors }}

                    <input type="hidden" name="user" value="{{ request.user.id }}">

                    <div class="row" style="margin: 0 0 15px 0;">

                        <div class="col-md-2">
                            {{ form.supplier.errors }}{{ form.supplier.label_tag }}{{ form.supplier }}</div>
                        <div class="col-md-2">{{ form.duty.errors }}{{ form.duty.label_tag }}{{ form.duty }}</div>

                        <div class="col-md-2">
                            {{ form.supplier_invoice_no.errors }}{{ form.supplier_invoice_no.label_tag }}{{ form.supplier_invoice_no }}</div>
                        <div class="col-md-2">{{ form.lorry.errors }}{{ form.lorry.label_tag }}{{ form.lorry }}</div>
                        <div class="col-md-3">
                            {{ form.driver_name.errors }}{{ form.driver_name.label_tag }}{{ form.driver_name }}</div>

                    </div>
                    <table class="table table-bordered">
                        {{ fuels_purchase_by_lorry.management_form }}

                        {% for form in fuels_purchase_by_lorry.forms %}

                            {% if forloop.first %}
                                <thead>
                                <tr>
                                    {% for field in form.visible_fields %}
                                        {% if forloop.last %}

                                            <th>Delete</th>
                                        {% else %}
                                            <th>{{ field.label|capfirst }}</th>
                                        {% endif %}

                                    {% endfor %}
                                </tr>
                                </thead>
                            {% endif %}
                            <tbody>
                            <tr class="formset_row" id="1">
                                {% for field in form.visible_fields %}
                                    <td>
                                        {# Include the hidden fields in the form #}
                                        {% if forloop.first %}
                                            {% for hidden in form.hidden_fields %}
                                                {{ hidden }}
                                            {% endfor %}
                                        {% endif %}
                                        {{ field.errors.as_ul }}
                                        {{ field }}
                                    </td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        {% endfor %}

                    </table>

                    <div class="row">
                        <div class="col-md-3 col-md-offset-9">
                            {{ form.net_amount.errors }}{{ form.net_amount.label_tag }}{{ form.net_amount }}
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-tl">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>


{% endblock %}
{#page specific js files#}
{% block custom_js_files %}

    <script src="{% static 'formset/fuel_purchase_create_by_lorry_formset.js' %}"></script>
    <script src="{% static 'sweatalert/sweatalert.js' %}"></script>
    <script src="{% static 'choosen/choosen.js' %}"></script>
    <script src="{% static 'js/datetimepicker.min.js' %}"></script>
    <script src="{% static 'material_time_picker/mdtimepicker.min.js' %}"></script>

{% endblock %}

{#page specific inline js#}
{% block js_inline %}
    <script>
        // My custom code

        $('.formset_row').formset({
            addText: '<i class="fa fa-plus btn btn-sm btn-primary" aria-hidden="true"></i>',
            deleteText: '<i class="fa fa-trash-o btn btn-sm btn-danger" aria-hidden="true"></i>',
            prefix: 'fuel_purchases_by_lorry'
        });

    </script>
    <script src="{% static 'js/custom/fuel_purchase_by_lorry_create.js' %}"></script>
{% endblock %}













