{% extends '../../base.html' %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'choosen/choosen.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/datetimepicker.min.css' %}">

{% endblock %}
{% block style %}
    <style>
        body {
            counter-reset: Count-Value;
        }

        table {
            border-collapse: separate;
        }

        tr td:first-child:not(:last-child):before {
            counter-increment: Count-Value;
            content: counter(Count-Value);
        }
    </style>
{% endblock %}
<title>{% block title %}New Lubes purchase{% endblock %}</title>

{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">


                {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        Lube purchase ( New )
                    </div>
                {% endblock %}

                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-12">

                        <a href="{% url 'lubes_purchase_list' %}">
                            <button type="button"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-list"></span>
                                Lube purchase list
                            </button>
                        </a>

                        <button type='button' class="btn btn-primary" id="id_btn_save"><i
                                class="ace-icon fa fa-floppy-o bigger-100"></i> save
                        </button>
                        <a href="{% url 'lube_purchase_home' %}">
                            <button type="button"
                                    class="btn btn-primary">
                                <i class="fa fa-remove" aria-hidden="true"></i> Close
                            </button>
                        </a>
                    </div>
                </div>
                <hr>
                <form action="" method="post" id="id_form_save">{% csrf_token %}
                    {{ form.errors }}

                    <input type="hidden" name="user" value="{{ request.user.id }}">

                    <div class="row" style="margin: 0 0 15px 0;">

                        <div class="col-md-3">
                            {{ form.supplier.errors }}{{ form.supplier.label_tag }}{{ form.supplier }}</div>
                        <div class="col-md-3">
                            {{ form.supplier_invoice_no.errors }}{{ form.supplier_invoice_no.label_tag }}{{ form.supplier_invoice_no }}</div>
                        <div class="col-md-3">{{ form.duty.errors }}{{ form.duty.label_tag }}{{ form.duty }}</div>
                        <div class="col-md-3">
                            {{ form.invoice_date.errors }}{{ form.invoice_date.label_tag }}{{ form.invoice_date }}</div>

                    </div>
                    <table class="table table-bordered">
                        {{ lubes_purchase.management_form }}

                        {% for form in lubes_purchase.forms %}

                            {% if forloop.first %}
                                <thead>
                                <tr>
                                    <th>NO.</th>
                                    {% for field in form.visible_fields %}
                                        <th>{{ field.label|capfirst }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                            {% endif %}
                            <tbody>
                            <tr class="formset_row" id="1">
                                <td></td>
                                {% for field in form.visible_fields %}
                                    <td>
                                        {# Include the hidden fields in the form #}
                                        {% if forloop.first %}
                                            {% for hidden in form.hidden_fields %}
                                                {{ hidden }}
                                            {% endfor %}
                                        {% endif %}
                                        {{ field.errors.as_ul }}
                                        {{ field }}
                                    </td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        {% endfor %}

                    </table>

                    <div class="row">
                        <div class="col-md-2 col-md-offset-6">

                            {{ form.net_amount_without_tax.errors }}{{ form.net_amount_without_tax.label_tag }}{{ form.net_amount_without_tax }}
                        </div>
                        <div class="col-md-2">
                            {{ form.tax_net_amount.errors }}{{ form.tax_net_amount.label_tag }}{{ form.tax_net_amount }}
                        </div>
                        <div class="col-md-2">
                            {{ form.net_amount.errors }}{{ form.net_amount.label_tag }}{{ form.net_amount }}
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <input type="hidden" id="sum_taxes">
    <input type="hidden" id="withholding_tax">
{% endblock %}
{#page specific js files#}
{% block custom_js_files %}

    <script src="{% static 'formset/lube_purchase_create_formset.js' %}"></script>
    <script src="{% static 'choosen/choosen.js' %}"></script>
    <script src="{% static 'js/datetimepicker.min.js' %}"></script>

{% endblock %}

{#page specific inline js#}
{% block js_inline %}
    <script>
        // My custom code

        $('.formset_row').formset({
            addText: '<i class="fa fa-plus btn btn-sm btn-primary" aria-hidden="true"></i>',
            deleteText: '<i class="fa fa-trash-o btn btn-sm btn-danger" aria-hidden="true"></i>',
            prefix: 'lubepurchases_set'
        });

    </script>
    <script src="{% static 'js/custom/lube_purchase_create.js' %}"></script>
{% endblock %}













