{% for purchase in fuel_purchases %}
    <tr>
        <td>{{ purchase.invoice_date }}</td>
        <td>{{ purchase.supplier_invoice_no }}</td>
        <td>
            {% for fp in purchase.fuelpurchases_set.all %}
                {% if fp.purchased_stock > 0 %}
                    {{ fp.product }} [ {{ fp.purchased_stock }}]
                {% endif %}
            {% endfor %}
        </td>
        <td>{{ purchase.user }}</td>
        <td>{{ purchase.supplier }}</td>
        <td>{{ purchase.net_amount }}</td>

        {% if purchase.status == 1 %}
            <td style="color:red;font-weight: bold;">{{ purchase.get_status_display }} <span
                    class="glyphicon glyphicon-time"></span></td>
        {% else %}
            <td style="color: green;font-weight: bold;">{{ purchase.get_status_display }} <span
                    class="glyphicon glyphicon-ok"></span></td>
        {% endif %}
        <td>
            <a href="{% url 'fuels_purchase_detail' purchase.id %}">
                <button type="button"
                        class="btn btn-success btn-xs">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </button>
            </a>
            {% if purchase.status == 1 %}
                {% if perms.purchases.change_fuelpurchasem %}
                    <a href="{% url 'fuels_purchase_update' purchase.id %}">
                        <button type="button"
                                class="btn btn-warning btn-xs">
                            <span class="glyphicon glyphicon-pencil"></span> Post
                        </button>
                    </a>
                {% else %}
                    <button type="button"
                            class="btn btn-warning btn-xs js-permissions"
                            data-url="{% url 'privileges_required' %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Post
                    </button>
                {% endif %}
                <a href="{% url 'fuels_purchase_delete' purchase.id %}">
                    <button type="button"
                            class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </a>
            {% endif %}
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="8" class="text-center bg-warning urdu_font">No Data Found</td>
    </tr>
{% endfor %}