{% extends '../../base.html' %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}">
{% endblock %}
{% block style %}

{% endblock %}
<title>{% block title %}Delete fuel purchase by lorry{% endblock %}</title>

{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">
                <form method="post">{% csrf_token %}
                    <h4 class="red "> <i class="glyphicon glyphicon-warning-sign"></i> Are you sure you want to delete this fuel purchase by lorry </h4>
                    <input type="submit" value="Confirm" class="btn btn-danger">
                    <button type="button" class="btn btn-primary" onClick="javascript:history.go(-1);"><i
                            class="fa fa-chevron-left" aria-hidden="true"></i> cancel
                    </button>
                </form>


            </div>
        </div>
    </div>


{% endblock %}z
{#page specific js files#}
{% block custom_js_files %}


{% endblock %}

{#page specific inline js#}
{% block js_inline %}
    <script>

    </script>

{% endblock %}