{% for purchase in lubes_purchases %}
    <tr>
        <td></td>
        <td>{{ purchase.date }}</td>
        <td>{{ purchase.amount }}</td>
        <td>{{ purchase.user }}</td>
        <td>{{ purchase.supplier }}</td>
        {% if purchase.status == 1 %}
            <td style="color:red;font-weight: bold;">{{ purchase.get_status_display }} <span
                    class="glyphicon glyphicon-time"></span></td>
        {% else %}
            <td style="color: green;font-weight: bold;">{{ purchase.get_status_display }} <span
                    class="glyphicon glyphicon-ok"></span></td>
        {% endif %}

        <td>
            <a href="{% url 'lubes_purchase_detail' purchase.id %}">
                <button type="button"
                        class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span> Show
                </button>
            </a>
 {% if purchase.status == 1 %}
            {% if perms.purchases.change_lubepurchasem %}
                <a href="{% url 'lubes_purchase_update' purchase.id %}">
                    <button type="button"
                            class="btn btn-warning btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span> Post
                    </button>
                </a>
            {% else %}
                <button type="button"
                        class="btn btn-warning btn-sm js-permissions"
                        data-url="{% url 'privileges_required' %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Post
                </button>
            {% endif %}
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-lube_purchase"
                    data-url="{% url 'lubes_purchase_delete' purchase.id %}">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        {% endif %}
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="7" class="text-center bg-warning">No lubes purchases</td>
    </tr>
{% endfor %}