{% extends '../base.html' %}
{% load static %}
{% block page_css_files %}
        <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}"/>
    <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}"/>
       <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">
            {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        Products (All)
                    </div>
                {% endblock %}

                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-12">
                        <button type="button"
                                class="btn btn-primary js-create-tl" data-url="{% url 'tl_new' %}">
                            <span class="glyphicon glyphicon-plus"></span>
                            New
                        </button>
                    </div>
                </div>
                <table class="table table-bordered" id="tl-table">

                    <thead>
                    <tr>
                        <th>No</th>
                        <th>TL no</th>
                        <th>TL name</th>
                        <th>TL driver phone</th>
                        <th>TL driver name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% include 'tank_lorries/includes/partial_tl_list.html' %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!-- THE MODAL WE WILL BE USING -->

    <div class="modal fade" id="modal-tl">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js_files %}
    <script src="{% static 'js/custom/tl.js' %}"></script>
    <script src="{% static 'sweatalert/sweatalert.js' %}"></script>
         <script src="{% static 'choosen/choosen.js' %}"></script>
{% endblock %}

