
<form method="post" action="{% url 'lorry_to_tank_create' %}" class="js-lorry_to_tank-form">
  {% csrf_token %}
  <div class="modal-header bg-primary">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Lorry To Tank Create</h4>
  </div>
  <div class="modal-body">
  {% include 'lorry_stock_to_tank/includes/partial_lorry_to_tank_form.html' %}
  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-default" data-dismiss="modal"><i class="ace-icon fa fa-times white3"></i> Close</button>
        <button type="submit" class="btn btn-primary"><i class="ace-icon fa fa-floppy-o bigger-100"></i> Save </button>
  </div>
</form>