<table class="table table-bordered" id="posted_lorry_to_tank-table">
    <thead>
    <tr>
        <th>Duty</th>
        <th>Lorry</th>
        <th>Tank</th>
        <th>Shifted stock</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {% for pl in posted_lorry_to_tank %}
        <tr>
            <td>{{ pl.duty }}</td>
            <td>{{ pl.lorry }}</td>
            <td>{{ pl.tank }}</td>
            <td>{{ pl.lorry_shifted_stock }}</td>
            <td style="color: green;">{{ pl.get_status_display }} <span class="glyphicon glyphicon-ok"></span></td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5" class="text-center bg-warning">No any data</td>
        </tr>
    {% endfor %}
    </tbody>
</table>