{% load widget_tweaks %}
<div class="row">
     <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" id="id_stock">
    </div>
</div >

<fieldset>
<legend style="background-color: #2a8bcb;color: #fff;font-size: 17px;padding: 3px;margin-top: 8px;">Lorry</legend>
<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
           <div class="form-group{% if form.duty.errors %} has-error{% endif %}">
        <label for="{{ form.duty.id_for_label }}">{{ form.duty.label }}</label>
        {% render_field form.duty class="form-control" %}
        {% for error in form.duty.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
  <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
           <div class="form-group{% if form.lorry.errors %} has-error{% endif %}">
        <label for="{{ form.lorry.id_for_label }}">{{ form.lorry.label }}</label>
        {% render_field form.lorry class="form-control" %}
        {% for error in form.lorry.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
           <div class="form-group{% if form.chamber.errors %} has-error{% endif %}">
        <label for="{{ form.chamber.id_for_label }}">{{ form.chamber.label }}</label>
        {% render_field form.chamber class="form-control" %}
        {% for error in form.chamber.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

</div>
<div class="row">
       <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
           <div class="form-group{% if form.product.errors %} has-error{% endif %}">
        <label for="{{ form.product.id_for_label }}">{{ form.product.label }}</label>
        {% render_field form.product class="form-control" %}
        {% for error in form.product.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
           <div class="form-group{% if form.lorry_previous_dip.errors %} has-error{% endif %}">
        <label for="{{ form.lorry_previous_dip.id_for_label }}">{{ form.lorry_previous_dip.label }}</label>
        {% render_field form.lorry_previous_dip class="form-control" %}
        {% for error in form.lorry_previous_dip.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
   <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
           <div class="form-group{% if form.lorry_previous_stock.errors %} has-error{% endif %}">
        <label for="{{ form.lorry_previous_stock.id_for_label }}">{{ form.lorry_previous_stock.label }}</label>
        {% render_field form.lorry_previous_stock class="form-control" %}
        {% for error in form.lorry_previous_stock.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
</div>
<div class="row">
       <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
           <div class="form-group{% if form.lorry_final_dip.errors %} has-error{% endif %}">
        <label for="{{ form.lorry_final_dip.id_for_label }}">{{ form.lorry_final_dip.label }}</label>
        {% render_field form.lorry_final_dip class="form-control" %}
        {% for error in form.lorry_final_dip.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
           <div class="form-group{% if form.lorry_final_stock.errors %} has-error{% endif %}">
        <label for="{{ form.lorry_final_stock.id_for_label }}">{{ form.lorry_final_stock.label }}</label>
        {% render_field form.lorry_final_stock class="form-control" %}
        {% for error in form.lorry_final_stock.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
   <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
           <div class="form-group{% if form.lorry_shifted_stock.errors %} has-error{% endif %}">
        <label for="{{ form.lorry_shifted_stock.id_for_label }}">{{ form.lorry_shifted_stock.label }}</label>
        {% render_field form.lorry_shifted_stock class="form-control" %}
        {% for error in form.lorry_shifted_stock.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
</div>
<legend style="background-color: #2a8bcb;color: #fff;font-size: 17px;padding: 3px;">Tank</legend>
<div class="row">
     <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
           <div class="form-group{% if form.tank.errors %} has-error{% endif %}">
        <label for="{{ form.tank.id_for_label }}">{{ form.tank.label }}</label>
        {% render_field form.tank class="form-control" %}
        {% for error in form.tank.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
       <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
           <div class="form-group{% if form.tank_previous_dip.errors %} has-error{% endif %}">
        <label for="{{ form.tank_previous_dip.id_for_label }}">{{ form.tank_previous_dip.label }}</label>
        {% render_field form.tank_previous_dip class="form-control" %}
        {% for error in form.tank_previous_dip.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
   <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
           <div class="form-group{% if form.tank_previous_stock.errors %} has-error{% endif %}">
        <label for="{{ form.tank_previous_stock.id_for_label }}">{{ form.tank_previous_stock.label }}</label>
        {% render_field form.tank_previous_stock class="form-control" %}
        {% for error in form.tank_previous_stock.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
</div>
<div class="row">

       <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
           <div class="form-group{% if form.tank_final_dip.errors %} has-error{% endif %}">
        <label for="{{ form.tank_final_dip.id_for_label }}">{{ form.tank_final_dip.label }}</label>
        {% render_field form.tank_final_dip class="form-control" %}
        {% for error in form.tank_final_dip.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
   <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8">
           <div class="form-group{% if form.tank_final_stock.errors %} has-error{% endif %}">
        <label for="{{ form.tank_final_stock.id_for_label }}">{{ form.tank_final_stock.label }}</label>
        {% render_field form.tank_final_stock class="form-control" %}
        {% for error in form.tank_final_stock.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
</div>
</fieldset>