{% for vehicle in vehicles %}
    <tr>
        <td>{{ vehicle.id }}</td>
        <td>{{ vehicle.vehicle_name }}</td>
        <td>{{ vehicle.vehicle_address }}</td>
        <td><button type="button"
              class="btn btn-warning btn-sm js-update-vehicle"
              data-url="{% url 'vehicle_update' vehicle.id %}">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>
        <button type="button"
              class="btn btn-danger btn-sm js-delete-vehicle"
              data-url="{% url 'vehicle_delete' vehicle.id %}">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="4" class="text-center bg-warning">No vehicles</td>
    </tr>
{% endfor %}