{% extends '../base.html' %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}"/>
    <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}">
    <link rel="stylesheet" href="{% static 'css/datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'material_time_picker/mdtimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
    <link rel="stylesheet" href="{% static 'js-accordian-cookie/css/toggle.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom/fullscreen_modal.css' %}">
{% endblock %}
{% block style %}
    <style>

        #pointer {
            width: 200px;
            height: 40px;
            position: relative;
            background: #FC980E;
        }

        #pointer:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 0;
            border-left: 20px solid white;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
        }

        #pointer:before {
            content: "";
            position: absolute;
            right: -20px;
            bottom: 0;
            width: 0;
            height: 0;
            border-left: 20px solid #FC980E;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;

        }

        .pointer_text {
            color: #fff;
            font-size: 17px;
            font-weight: bolder;
            padding-left: 70px;
            padding-top: 8px;
        }


    </style>
{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        Latest Duty
                    </div>
                {% endblock %}
                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-12">

                        {% if perms.duties.add_duty %}
                            <a href="{% url 'latest_duty_create' %}">
                                <button type="button"
                                        class="btn btn-sm btn-primary">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                    New duty
                                </button>
                            </a>
                        {% else %}
                            <button type="button"
                                    class="btn btn-primary btn-sm js-permissions"
                                    data-url="{% url 'privileges_required' %}">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                New duty
                            </button>
                        {% endif %}

                        <a href="{% url 'duty_summery' duty.id%}">
                            <button type="button"

                                    class="btn btn-sm btn-success">

                                <span class="glyphicon glyphicon-info-sign"></span>
                                Show duty summery
                            </button>
                        </a>
                    <select id="random_duty">
                        <option value="">Find previous duty</option>
                        {% for d in all_duties %}
                        <option value="{% url 'duty_latest'  d.id %}">{{ d.date }}, {{ d.get_shift_display }}, {{ d.get_shift_partion_display }}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>

                <div class="accordion_container"><!-- INNER CONTAINER FOR TOGGLE ACCORDIAN -->
                    <table class="table table-bordered" id="duty-table">
                        <tbody>
                        {% include 'duties/includes/partial_duty_latest.html' %}
                        </tbody>
                    </table>
                    <div id="pointer" class="pointer_text accordion_head" data-node="#1">Sales
                        <div class="plusminus"><img src="{% static 'js-accordian-cookie/icon/minus.svg' %}"/></div>
                    </div>
                    <!-- TANK SALE LISTING -->


                    <div class="accordion_body">
                        <table class="table table-bordered" id="lube-sale-table">

                            <thead>
                            <tr>
                                <th colspan="7">

                                    {% if perms.sales.add_tankfuelsalem %}
                                        <a href="{% url 'tankfuels_sale_create' %}">
                                            <button type="button"
                                                    class="btn btn-sm btn-primary">
                                                <span class="glyphicon glyphicon-plus-sign"></span>
                                                New Tank sale
                                            </button>
                                        </a>
                                    {% else %}
                                        <button type="button"
                                                class="btn btn-primary btn-sm js-permissions"
                                                data-url="{% url 'privileges_required' %}">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            New Tank sale
                                        </button>
                                    {% endif %}

                                </th>

                            </tr>
                            <tr>
                                <th>Duty person</th>
                                <th>Duty</th>
                                <th>Product</th>
                                <th>User</th>
                                <th>Qty sold</th>
                                <th>Status</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                            {% include 'duties/includes/partial_duty_latest_tank_sale.html' %}


                            </tbody>
                        </table>

                        <!-- GASOLINE SALE LISTING -->
                        <table class="table table-bordered" id="gasoline-sale-table">

                            <thead>
                            <tr>
                                <th colspan="8">

                                    {% if perms.sales.add_fuelsalem %}
                                        <a href="{% url 'fuels_sale_create' %}">
                                            <button type="button"
                                                    class="btn btn-sm btn-primary">
                                                <span class="glyphicon glyphicon-plus-sign"></span>
                                                New Meter sale
                                            </button>
                                        </a>
                                    {% else %}
                                        <button type="button"
                                                class="btn btn-primary btn-sm js-permissions"
                                                data-url="{% url 'privileges_required' %}">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            New Meter sale
                                        </button>
                                    {% endif %}

                                </th>

                            </tr>
                            <tr>
                                <th>Duty person</th>
                                <th>Duty</th>
                                <th>Product</th>
                                <th>User</th>
                                <th>Qty sold</th>
                                <th>Net amount</th>
                                <th>Status</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                            {% include 'duties/includes/partial_duty_latest_fuel_sale.html' %}
                            </tbody>
                        </table>

                        <!-- LUBE SALE LISTING -->
                        <table class="table table-bordered" id="lube-sale-table">

                            <thead>
                            <tr>
                                <th colspan="6">
                                    {% if perms.sales.add_lubesalem %}
                                        <a href="{% url 'lubes_sale_create' %}">
                                            <button type="button"
                                                    class="btn btn-sm btn-primary">
                                                <span class="glyphicon glyphicon-plus-sign"></span>
                                                New lube sale
                                            </button>
                                        </a>
                                    {% else %}
                                        <button type="button"
                                                class="btn btn-primary btn-sm js-permissions"
                                                data-url="{% url 'privileges_required' %}">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            New lube sale
                                        </button>
                                    {% endif %}

                                </th>

                            </tr>
                            <tr>
                                <th>Duty person</th>
                                <th>Duty</th>
                                <th>User</th>
                                <th>Net amount</th>
                                <th>Status</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                            {% include 'duties/includes/partial_duty_latest_lube_sale.html' %}


                            </tbody>
                        </table>
                    </div>
                    <!-- GASOLINE SALE LISTING -->
                    <div id="pointer" class="pointer_text accordion_head" data-node="#2">Cash in
                        <div class="plusminus"><img src="{% static 'js-accordian-cookie/icon/minus.svg' %}"/></div>
                    </div>
                    <div class="accordion_body">
                        <table class="table table-bordered" id="cash_in-table">

                            <thead>
                            <tr>
                                <th colspan="6">

                                    {% if perms.cash.add_netsalem %}
                                        <a href="{% url 'cash_in_create' %}">
                                            <button type="button"
                                                    class="btn btn-sm btn-primary">
                                                <span class="glyphicon glyphicon-plus-sign"></span>
                                                New Counter Sale
                                            </button>
                                        </a>
                                    {% else %}
                                        <button type="button"
                                                class="btn btn-primary btn-sm js-permissions"
                                                data-url="{% url 'privileges_required' %}">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            New Counter Sale
                                        </button>
                                    {% endif %}

                                </th>

                            </tr>
                            <tr>
                                <th>Duty person</th>
                                <th>Duty</th>
                                <th>User</th>
                                <th>Net amount</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% include 'duties/includes/partial_duty_latest_cash_in.html' %}
                            </tbody>
                        </table>
  <table class="table table-bordered" id="recovery-table">

                            <thead>
                            <tr>
                                <th colspan="6">

                                    {% if perms.cash.add_recoverym %}
                                        <a href="{% url 'recovery_create' %}">
                                            <button type="button"
                                                    class="btn btn-sm btn-primary">
                                                <span class="glyphicon glyphicon-plus-sign"></span>
                                                New Recovery
                                            </button>
                                        </a>
                                    {% else %}
                                        <button type="button"
                                                class="btn btn-primary btn-sm js-permissions"
                                                data-url="{% url 'privileges_required' %}">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            New Recovery
                                        </button>
                                    {% endif %}

                                </th>

                            </tr>
                            <tr>
                                <th>Duty person</th>
                                <th>Duty</th>
                                <th>User</th>
                                <th>Net amount</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% include 'duties/includes/partial_duty_latest_recovery.html' %}
                            </tbody>
                        </table>

                    </div>
                    <!-- GASOLINE SALE LISTING -->
                    <div id="pointer" class="pointer_text accordion_head" data-node="#3">Cash out
                        <div class="plusminus"><img src="{% static 'js-accordian-cookie/icon/minus.svg' %}"/></div>
                    </div>
                    <div class="accordion_body">
                        <table class="table table-bordered" id="cash_out-table">

                            <thead>
                            <tr>
                                <th colspan="6">

                                    {% if perms.cash.add_creditsaleandexpensem %}
                                        <a href="{% url 'cash_out_create' %}">
                                            <button type="button"
                                                    class="btn btn-sm btn-primary">
                                                <span class="glyphicon glyphicon-plus-sign"></span>
                                                New Credit sale
                                            </button>
                                        </a>
                                    {% else %}
                                        <button type="button"
                                                class="btn btn-primary btn-sm js-permissions"
                                                data-url="{% url 'privileges_required' %}">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            New Credit sale amount & duty expenses
                                        </button>
                                    {% endif %}

                                </th>

                            </tr>
                            <tr>
                                <th>Duty person</th>
                                <th>Duty</th>
                                <th>User</th>
                                <th>Net amount</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% include 'duties/includes/partial_duty_latest_cash_out.html' %}
                            </tbody>
                        </table>
                        {#                    DUTY EXPENSES#}
                        <table class="table table-bordered" id="cash_out-table">

                            <thead>
                            <tr>
                                <th colspan="6">


                                    <a href="{% url 'duty_expense_create' %}">
                                        <button type="button"
                                                class="btn btn-sm btn-primary">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            New Duty expense
                                        </button>
                                    </a>

                                    {#                                        <button type="button"#}
                                    {#                                                class="btn btn-primary btn-sm js-permissions"#}
                                    {#                                                data-url="{% url 'privileges_required' %}">#}
                                    {#                                            <span class="glyphicon glyphicon-plus-sign"></span>#}
                                    {#                                            New Credit sale amount & duty expenses#}
                                    {#                                        </button>#}


                                </th>

                            </tr>
                            <tr>
                                <th>Duty person</th>
                                <th>Status</th>
                                <th>Net amount</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% include 'duties/includes/partial_duty_expense_list.html' %}
                            </tbody>
                        </table>

                        {#     Bank deposition#}
                        <table class="table table-bordered" id="bank_deposition-table">
                            <thead>
                            <tr>
                                <th colspan="6">
                                    <button type="button"
                                            class="btn btn-sm btn-primary js-create-bank_deposition"
                                            data-url="{% url 'bank_deposition_create' %}">
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                        New bank deposition
                                    </button>

                                </th>
                            </tr>
                            <tr>
                                <th>Duty</th>
                                <th>Bank</th>
                                <th>Amount</th>
                                <th>Deposition for?</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% include 'duties/includes/partial_bank_deposition_list.html' %}
                            </tbody>
                        </table>
                    <h1>{{ random_duty }}</h1>
                    </div>
                    <!-- CLUB CARD SALE LISTING -->


                </div> <!-- CONTAINER FOR TOGGLE ACCORDIAN -->
                <!-- THE MODAL WE WILL BE USING -->
                <div class="modal" id="modal-club_card_income">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
                <!-- THE MODAL WE WILL BE USING -->
                <div class="modal" id="modal-fuel_vehicle_income">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
                <!-- THE MODAL WE WILL BE USING -->
                <div class="modal" id="modal-t5_income">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
                <!-- THE MODAL WE WILL BE USING -->
                <div class="modal" id="modal-t4_income">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
                <!-- THE MODAL WE WILL BE USING -->

                <div class="modal" id="modal-delete">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
                <!-- THE MODAL WE WILL BE USING -->
                <div class="modal" id="modal-permissions">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>

                <!-- THE MODAL WE WILL BE USING -->
                <div class="modal" id="modal-duty-summery" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-full" role="document">
                        <div class="modal-content">

                        </div>
                    </div>
                </div>
                <!-- THE MODAL WE WILL BE USING -->
                <div class="modal" id="modal-bank_deposition">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>


{% endblock %}

{% block custom_js_files %}

    <script src="{% static 'sweatalert/sweatalert.js' %}"></script>
    <script src="{% static 'js/datetimepicker.min.js' %}"></script>
    <script src="{% static 'material_time_picker/mdtimepicker.min.js' %}"></script>
    <script src="{% static 'choosen/choosen.js' %}"></script>
    <script src="{% static 'htmlTopdf/jspdf.min.js' %}"></script>
    <script src="{% static 'htmlTopdf/html2pdf.js' %}"></script>
    <script src="{% static 'htmlTopdf/html2canvas.min.js' %}"></script>
    <script src="{% static 'htmlTopdf/print2.min.js' %}"></script>
    <script src="{% static 'js/custom/duty.js' %}"></script>
    <script src="{% static 'js-accordian-cookie/js/js.cookie.min.js' %}"></script>


{% endblock %}

{#page specific inline js#}
{% block js_inline %}
    <script>
    $("#random_duty").chosen({
        search_contains: true,
        no_results_text: "Oops, nothing found!",
        width: "20%"
    });
    $(function(){
      // bind change event to select
      $('#random_duty').on('change', function () {
          var url = $(this).val(); // get selected value
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
    });

        $(document).ready(function () {
            {#html2word#}

            //modal dragable
            $("#modal-duty-summery").draggable({
                handle: ".modal-header"
            });
            //toggle
            if (document.cookie.indexOf('collapsed_Nodes') >= 0) {
                var getCollapsed = Cookies.get('collapsed_Nodes');
                var checkCollapsed = getCollapsed.split('|');
                var arrayLength = checkCollapsed.length;
                for (var i = 0; i < arrayLength; i++) {
                    $('[data-node="#' + checkCollapsed[i] + '"]').next('.accordion_body').addClass('hide');
                    $('[data-node="#' + checkCollapsed[i] + '"]').children('.plusminus').children('img').attr('src', "{% static 'js-accordian-cookie/icon/plus.svg' %}");
                }
            }

            var adjustCookie = function () {
                var tags = [];
                $('.accordion_container .hide').each(function () {
                    var tag = $(this).prev('.accordion_head').data('node');
                    tags.push(tag.replace('#', ''));
                });

                if (tags.length) {
                    Cookies.set('collapsed_Nodes', tags.join('|'), {
                        expires: 7,
                        path: window.location.pathname
                    });
                } else {
                    Cookies.remove('collapsed_Nodes', {path: window.location.pathname});
                }
            }

            $('.accordion_head').click(function () {
                if ($(this).next('.accordion_body').is(':visible')) {
                    $(this).next('.accordion_body').slideUp(300);
                    $(this).next('.accordion_body').addClass('hide');
                    $(this).children('.plusminus').children('img').attr('src', "{% static 'js-accordian-cookie/icon/plus.svg' %}");
                } else {
                    $(this).next('.accordion_body').slideDown(300);
                    $(this).next('.accordion_body').removeClass('hide');
                    $(this).children('.plusminus').children('img').attr('src', "{% static 'js-accordian-cookie/icon/minus.svg' %}");
                }
                adjustCookie();
            });

            //toggle end
            function getDateTime() {
                var now = new Date();
                var year = now.getFullYear();
                var month = now.getMonth() + 1;
                var day = now.getDate();
                var hour = now.getHours();
                var minute = now.getMinutes();
                var second = now.getSeconds();
                if (month.toString().length == 1) {
                    month = '0' + month;
                }
                if (day.toString().length == 1) {
                    day = '0' + day;
                }
                if (hour.toString().length == 1) {
                    hour = '0' + hour;
                }
                if (minute.toString().length == 1) {
                    minute = '0' + minute;
                }
                if (second.toString().length == 1) {
                    second = '0' + second;
                }
                var dateTime = day + '/' + month + '/' + year + ' ' + hour + ':' + minute + ':' + second;
                return dateTime;
            }

            {#print#}
            $(document).on('click', '#btnPrint', function () {
                $("#report-data").print({
                    globalStyles: true,
                    mediaPrint: true,
                    stylesheet: null,
                    noPrintSelector: ".no-print",
                    iframe: true,
                    append: null,
                    prepend: null,
                    manuallyCopyFormValues: true,
                    deferred: $.Deferred(),
                    timeout: 750,
                    title: null,
                    doctype: '<!doctype html>'
                });
            });

        });
        {#pdf#}

        function getDateTime() {
            var now = new Date();
            var year = now.getFullYear();
            var month = now.getMonth() + 1;
            var day = now.getDate();
            var hour = now.getHours();
            var minute = now.getMinutes();
            var second = now.getSeconds();
            if (month.toString().length == 1) {
                month = '0' + month;
            }
            if (day.toString().length == 1) {
                day = '0' + day;
            }
            if (hour.toString().length == 1) {
                hour = '0' + hour;
            }
            if (minute.toString().length == 1) {
                minute = '0' + minute;
            }
            if (second.toString().length == 1) {
                second = '0' + second;
            }
            var dateTime = day + '/' + month + '/' + year + ' ' + hour + ':' + minute + ':' + second;
            return dateTime;
        }

        function generatePDF() {
            var element = document.getElementById('report-data');
            html2pdf(element, {
                margin: 1,
                filename: 'Duty summery-' + getDateTime() + '.pdf',
                image: {type: 'jpeg', quality: 1},
                html2canvas: {dpi: 1000, letterRendering: true},
                jsPDF: {unit: 'in', format: 'a4', orientation: 'landscape'}
            });
        }

    </script>
    <script src="{% static 'js/custom/latest_duty.js' %}"></script>
    <script src="{% static 'js/custom/t4_income.js' %}"></script>
    <script src="{% static 'js/custom/t5_income.js' %}"></script>
    <script src="{% static 'js/custom/fuel_vehicle_income.js' %}"></script>
    <script src="{% static 'js/custom/club_card_income.js' %}"></script>
    <script src="{% static 'js/custom/bank_deposition.js' %}"></script>
{% endblock %}