{% extends '../base_pdf.html' %}
{% load static %}
<title>{% block title %} Club Card Sale ( Detail ){% endblock %}</title>
{% block style %}
    <style>
        .table-wrapper {
            overflow: auto;
            max-width: 100%;
            font-size: 1em;
        }

        table {
            border: 1px solid black;
            margin-top: 0;
        }

        th {
            white-space: nowrap;
        }

        th,
        td {
            text-align: left;
            padding: 2px 2px 0 2px;
        }

        .bolder {
            font-weight: bolder;
        }

        .headings {
            margin-top: 5px;
            margin-bottom: 0;
            font-weight: bolder;
            font-size: 1.1em;
            font-family: "Arial Black";
        }
    </style>
{% endblock %}
{% block content %}
    <h2 style="text-align: center;"> Duty
        summery
        ( {{ data.latest_duty.date }}, {{ data.latest_duty.get_shift_display }}, {{ data.latest_duty.get_shift_partion_display }} )
    </h2>

    <div class="headings"> 01-Tank Status</div>
    <table>
        <thead>
        <tr>
            <th>Tank</th>
            <th>Dips</th>
            <th>Stock</th>
            <th>Gain/Loss</th>
            <th>MTD</th>

        </tr>
        </thead>
        <tbody>
        {% for tsm in data.tanksalem %}

            <tr>
                <td> {{ tsm.tankfuelsales__tank__tank_name }}</td>
                <td> {{ tsm.tankfuelsales__current_dip }}</td>
                <td> {{ tsm.tankfuelsales__current_stock }}</td>
                <td> {{ tsm.gain_loss }}</td>
                <td> {{ tsm.mtd }}</td>
            </tr>

        {% endfor %}
        {% for t4_5 in data.t4_5_stock %}
            <tr>
                <td colspan="2"> {{ t4_5.product__tank__tank_name }}</td>
                <td> {{ t4_5.balance }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="headings">02-Fuel Purchase</div>
    <table>
        <thead>
        <tr>
            <th>Tank</th>
            <th>Qty. purchased</th>
            <th>Milli short</th>
            <th>Dip (Before)</th>
            <th>Stock (Before)</th>
            <th>Dip (After)</th>
            <th>Stock (After)</th>
            <th>Sale (during decant)</th>
            <th>Difference</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for fpm in data.fuelpurchasem %}

                <tr>
                    <td> {{ fpm.fuelpurchases__tank__tank_name }}</td>
                    <td> {{ fpm.fuelpurchases__purchased_stock }}</td>
                    <td> {{ fpm.fuelpurchases__milli_short }}</td>
                    <td> {{ fpm.fuelpurchases__previous_dip }}</td>
                    <td> {{ fpm.fuelpurchases__previous_stock }}</td>
                    <td> {{ fpm.fuelpurchases__current_dip }}</td>
                    <td> {{ fpm.fuelpurchases__current_dip_stock }}</td>
                    <td> {{ fpm.fuelpurchases__sale_during_decantation }}</td>
                    <td> {{ fpm.fuelpurchases__stock_difference }}</td>
                    <td> {{ fpm.fuelpurchases__amount }}</td>
                </tr>

        {% empty %}
            <tr>
                <td colspan="8">No Fuel Purchase</td>
            </tr>
        {% endfor %}
        {% if data.fuelpurchasem.count > 0 %}
            <tr class="bolder">
                <td colspan="9">Sum</td>
                <td>{{ data.fuelpurchasem_total }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>


    <div class="headings"> 03-Meter Sale</div>
    <table>
        <thead>
        <tr>
            <th>Meter</th>
            <th>Previous reading</th>
            <th>Current reading</th>
            <th>Testing[L]</th>
            <th>Sale[L]</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for ms in data.total_fuelsales_testing %}
            {% for mss in ms.fuelsales_set.all %}

                <tr>
                    <td> {{ mss.meter }}</td>
                    <td> {{ mss.previous_reading }}</td>
                    <td> {{ mss.current_reading }}</td>
                    <td> {{ mss.test_reading }}</td>
                    <td> {{ mss.qty_sold }}</td>
                    <td> {{ mss.amount }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3" class="bolder">Total</td>
                <td class="bolder">{{ ms.total_fuelsales_testing }}</td>
                <td class="bolder">{{ ms.total_fuelsales_qty_sold }}</td>
                <td class="bolder">{{ ms.net_amount }}</td>
            </tr>
        {% endfor %}
        <tr class="bolder">
            <td colspan="5">Sum</td>
            <td>{{ data.total_fuelsalem }}</td>
        </tr>
        </tbody>
    </table>

    <div class="headings">04-Lube sale</div>
    <table>
        <thead>
        <tr>
            <th colspan="3">Product</th>
            <th>Opening <br>stock</th>
            <th>Qty <br>sold</th>
            <th>Closing <br>stock</th>
            <th>Discount</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for ls in data.lube_sales %}
            <tr>
                <td colspan="3"> {{ ls.product_name }}</td>
                <td> {{ ls.opening_stock }}</td>
                <td> {{ ls.qty_sold_sum }}</td>
                {% if ls.lubesstock_sum is None %}
                    <td>-----</td>
                {% else %}
                    <td> {{ ls.lubesstock_sum }}</td>
                {% endif %}
                <td> {{ ls.discount_sum }}</td>
                <td> {{ ls.amount_sum }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="8">No entry</td>
            </tr>
        {% endfor %}
        {% if data.lube_sales.count > 0 %}
            <tr class="bolder">
                <td colspan="6">Sum</td>
                <td>{{ data.total_discount_sum }}</td>
                <td>{{ data.total_amount_sum }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <div class="headings">05-Agency Customers Recovery</div>

    <table>
        <thead>
        <tr>
            <th>Customer</th>
            <th>Recovery (current duty)</th>
        </tr>
        </thead>
        <tbody>
        {% for ag in data.agency_general_recovery %}
            <tr>
                <td> {{ ag.account_name }}</td>
                <td> {{ ag.credit }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No entry</td>
            </tr>
        {% endfor %}
        {% if data.agency_general_recovery.count > 0 %}
            <tr class="bolder">
                <td>Sum</td>
                <td>{{ data.credit_sum_recovery }} </td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <div class="headings">Totals (in)</div>
    <table>
        <thead>
        <tr>
            <th>BBF</th>
            {% for fs in data.fs_sums %}
                <th> {{ fs.product__product_name }}</th>
            {% endfor %}

            {% for fp in data.t4t5_sale %}
                <th> {{ fp.creditsaleandexpenses__product__product_name }}</th>
            {% endfor %}
            <th>Lube sale</th>
            <th>Agency recovery</th>
            <th>CC tax</th>
         <th>HC recovery</th>
            <th class="bolder">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr class="bolder">
            <td> {{ data.previous_bbf }}</td>
            {% for fs in data.fs_sums %}
                <td> {{ fs.total_amount }}</td>
            {% endfor %}
            {% for tfs in data.t4t5_sale %}
                <td> {{ tfs.total_amount }}</td>
            {% endfor %}
            <td>{{ data.total_amount_sum }}</td>
            <td>{{ data.credit_sum_recovery }}</td>
            <td>{{ data.total_duty_cc_tax_cash }}</td>
            <td>{{ data.total_hybrid_customer_cash_received_sum }}</td>
            <td>{{ data.grand_cash_in }}</td>
        </tr>
        </tbody>
    </table>
    <div class="headings">06-Agency Customers Sale</div>
    <table>
        <thead>
        <tr>
            <th>Customer</th>
            <th>Sale (current duty)</th>
            <th>Balance (total)</th>
        </tr>
        </thead>
        <tbody>
        {% for ag in data.agency_general_sale %}
            <tr>
                <td> {{ ag.account_name }}</td>
                <td> {{ ag.debit }}</td>
                <td> {{ ag.balance }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No entry</td>
            </tr>
        {% endfor %}
        {% if data.agency_general_sale.count > 0 %}
            <tr class="bolder">
                <td>Sum</td>
                <td>{{ data.debit_sum_sale }}</td>
                <td>------</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <div class="headings">07- Bank deposition</div>
    <table>
        <thead>
        <tr>
            <th>Bank</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for b in data.bd %}
            <tr>
                <td> {{ b.bank.account_name }}</td>
                <td> {{ b.amount }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">No entry</td>
            </tr>
        {% endfor %}
        {% if data.bd.count > 0 %}
            <tr class="bolder">
                <td>Sum</td>
                <td>{{ data.total_bd_sums }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <div class="headings">08-Supplier Payments</div>
    <table>
        <thead>
        <tr>
            <th>Supplier</th>
            <th>Debit (current duty)</th>
            <th>Credit (current duty)</th>
            <th>Balance (total)</th>
        </tr>
        </thead>
        <tbody>
        {% for st in data.supplier_general %}
            <tr>
                <td> {{ st.account_name }}</td>
                <td> {{ st.debit }}</td>
                <td> {{ st.credit }}</td>
                <td> {{ st.balance }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">No Entry</td>
            </tr>
        {% endfor %}
        {% if data.supplier_general.count > 0 %}
            <tr class="bolder">
                <td>Sum</td>
                <td>{{ data.supplier_debit_sum }}</td>
                <td>{{ data.supplier_credit_sum }}</td>
                <td>-------</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <div class="headings">09-Advance given</div>
    <table>
        <thead>
        <tr>
            <th>Customer name</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for fe in data.advance_and_fuel_equivalent %}
            {% if fe.sum_expense_given > 0 %}
                <tr>
                    <td> {{ fe.company_name__account_name }}</td>
                    <td> {{ fe.sum_expense_given }}</td>
                </tr>
            {% endif %}
        {% empty %}
            <tr>
                <td colspan="2">No entry</td>
            </tr>
        {% endfor %}
        {% if data.advance_and_fuel_equivalent.count > 0 %}
            <tr class="bolder">
                <td>Sum</td>
                <td>{{ data.total_expense_given }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <div class="headings">10-Duty Expenses</div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td colspan="2" style="font-weight:bolder;text-align: center;">Miscellaneous Expenses</td>
        </tr>
        <tr>
            <th>Description</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for expm in data.expensem %}
            <tr>
                <td> {{ expm.expenses__description }}</td>
                <td> {{ expm.expenses__amount }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">No entry</td>
            </tr>
        {% endfor %}
        {% if data.expensem.count > 0 %}
            <tr class="bolder">
                <td>Sum</td>
                <td>{{ data.total_expense_amount_sum }}</td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="2" style="font-weight:bolder;text-align: center;">Sales Discount Expense</td>
        </tr>
        {% for sde in data.sales_discount_expense %}
            <tr>
                <td> {{ sde.naration }}</td>
                <td> {{ sde.debit }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">No entry</td>
            </tr>
        {% endfor %}

        {% if data.sales_discount_expense.count > 0 %}
            <tr class="bolder">
                <td>Sum</td>
                <td>{{ data.total_sales_discount_expense_sum }}</td>
            </tr>
        {% endif %}
        {% if data.sales_discount_expense.count > 0  and data.expensem.count > 0 %}
            <tr class="bolder">
                <td>Combined Sum</td>
                <td>{{ data.all_expenses_sum }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <div class="headings">Totals (outs)</div>
    <table>
        <thead>
        <tr>
            <th>Agency customers (sale)</th>
            <th>Bank deposition</th>
            <th>Payment to Suppliers</th>
            <th>Advance given</th>
            <th>Bank payer customers</th>
            <th>CC customers</th>
            <th>CC Discount Expense</th>
            <th>Fuel equivalent</th>
            <th>Duty expense</th>
            <th class="bolder">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr class="bolder">
            <td>{{ data.debit_sum_sale }}</td>
            <td>{{ data.total_bd_sums }}</td>
            <td>{{ data.supplier_debit_sum_2 }}</td>
            <td>{{ data.total_expense_given }}</td>
            <td>{{ data.bp_debit_sum }}</td>
            <td>{{ data.cc_debit_sum_2 }}</td>
            <td>{{ data.cc_discount_expense }}</td>
            <td>------</td>
            <td>{{ data.all_expenses_sum }}</td>
            <td>{{ data.grand_cash_out }}</td>
        </tr>
        </tbody>
    </table>
    <div style="font-size: 17px;font-weight: bolder;border:solid #000000 1px; padding: 8px;text-align: center;margin-top: 8px;">
    {{ data.grand_cash_in }} <sub class="grey">IN</sub> - {{ data.grand_cash_out }} <sub
        class="grey">OUT</sub> = {{ data.cash_in_hand }} <sub class="grey">Cash In Hand</sub>
{% endblock %}



