{% for drawing in drawing %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ drawing.from_bank }}</td>
        <td>{{ drawing.to_owner }}</td>
        <td>{{ drawing.date }}</td>
        <td>{{ drawing.description }}</td>
    <td>{{ drawing.amount }}</td>
         {% if drawing.status == 1 %}
            <td style="color:red;font-weight: bold;">{{ drawing.get_status_display }} <span
                    class="glyphicon glyphicon-time"></span></td>
        {% else %}
            <td style="color: green;font-weight: bold;">{{ drawing.get_status_display }} <span
                    class="glyphicon glyphicon-ok"></span></td>
        {% endif %}
        <td>
            {% if drawing.status == 1 %}
            <button type="button"
                    class="btn btn-warning btn-sm js-update-drawing"
                    data-url="{% url 'drawing_update' drawing.id %}">
                <span class="glyphicon glyphicon-pencil"></span> Post
            </button>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-drawing"
                    data-url="{% url 'drawing_delete' drawing.id %}">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </td>

     {% endif %}


    </tr>
{% empty %}
    <tr>
        <td colspan="8" class="text-center bg-warning">No any data</td>
    </tr>
{% endfor %}