{% extends '../base.html' %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}"/>
    <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">

                {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        Fuel purchase T4 & T5 (Home)
                    </div>
                {% endblock %}

                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-12">

{#                        {% if perms.purchases.add_lubepurchasem %}#}
                      <button type="button"
                                class="btn btn-primary js-create-fp-home"
                                data-url="{% url 'fp_create_home' %}">
                            <span class="glyphicon glyphicon-plus"></span> New
                        </button>
{#                        {% else %}#}
{#                            <button type="button"#}
{#                                    class="btn btn-primary js-permissions"#}
{#                                    data-url="{% url 'privileges_required' %}">#}
{#                                <span class="glyphicon glyphicon-plus"></span>#}
{#                                New#}
{#                            </button>#}
{#                        {% endif %}#}

{#                    {% if perms.purchases.list_lubepurchasem %}#}
                        <a href="{% url 'fp_list' %}">
                            <button type="button"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-list"></span>
                                Fuel purchase list (T4 & T5)
                            </button>
                        </a>
{#                            {% else %}#}
{#                         <button type="button" data-url="{% url 'privileges_required' %}"#}
{#                                    class="btn btn-primary js-permissions">#}
{#                                <span class="glyphicon glyphicon-list"></span>#}
{#                                Fuel purchase list#}
{#                            </button>#}
{#                            {% endif %}#}
                    </div>
                </div>
                <div style="font-size: 60px;font-weight: bolder; color: lightgray;" class="text-center" id="fps_count">
                  {{fps_count}}

                </div>
                <div style="font-size: 20px;font-weight: bolder; color: lightgray;" class="text-center" id="fps_not_posted">
                  Un Posted : {{ not_posted }}

                </div>
                <div style="font-size: 60px;font-weight: bolder; color: lightgray;" class="text-center">
                    Fuel Purchases (T4 & T5)
                </div>
            </div>

        </div>
    </div>
   <!-- THE MODAL WE WILL BE USING -->
    <div class="modal" id="modal-fp-home">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_js_files %}
    <script src="{% static 'sweatalert/sweatalert.js' %}"></script>
    <script src="{% static 'js/datetimepicker.min.js' %}"></script>
    <script src="{% static 'choosen/choosen.js' %}"></script>
        <script src="{% static 'js/custom/fp_home.js' %}"></script>
{% endblock %}

{% block js_inline %}

{% endblock %}