{% extends '../base.html' %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}"/>
    <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
{% endblock %}
{% block style %}

    <style>

    </style>

{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                         Fuel purchases (T4 & T5)
                    </div>
                {% endblock %}

                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-12">

                        <button type="button"
                                class="btn btn-primary js-create-fp"
                                data-url="{% url 'fp_create' %}">
                            <span class="glyphicon glyphicon-plus"></span> New
                        </button>
                        <a href="{% url 'fp_home' %}">
                            <button type="button"
                                class="btn btn-primary js-create-fp">
                            <span class="glyphicon glyphicon-home"></span> Home
                        </button>
                        </a>


                    </div>
                </div>

                <table class="table table-bordered" id="fp-table">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Supplier</th>
                        <th>Duty</th>
                        <th>Decanted in</th>
                        <th>Qty purchased</th>
                        <th>Amount</th>
                        <th>Status</th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% include 'fps/includes/partial_fp_list.html' %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>

    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal" id="modal-fp">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_js_files %}
    <script src="{% static 'js/custom/fp.js' %}"></script>
    <script src="{% static 'sweatalert/sweatalert.js' %}"></script>
    <script src="{% static 'js/datetimepicker.min.js' %}"></script>
    <script src="{% static 'choosen/choosen.js' %}"></script>
{% endblock %}

