{% extends '../base.html' %}
{% load static %}
{% block page_css_files %}
        <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}"/>
    <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}"/>
       <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
     <link rel="stylesheet" href="{% static 'data_tables/datatables.min.css' %}">
{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">
            {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        Products
                    </div>
                {% endblock %}

                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-12">
                        <button type="button"
                                class="btn btn-primary js-create-product" data-url="{% url 'product_create' %}">
                            <span class="glyphicon glyphicon-plus"></span>
                            New
                        </button>
                         <button type="button" class="btn btn-primary" onClick="javascript:history.go(-1);"><i
                                class="fa fa-chevron-left" aria-hidden="true"></i> back
                        </button>
                    </div>
                </div>
                <table class="table table-bordered" id="product-table">

                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Units/box</th>
                        <th>Type</th>
                        <th>Purchase price/box</th>
                        <th>Sale price/unit</th>
                        <th>Unit</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% include 'products/includes/partial_product_list.html' %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!-- THE MODAL WE WILL BE USING -->

    <div class="modal fade" id="modal-product">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js_files %}
    <script src="{% static 'js/custom/product.js' %}"></script>
    <script src="{% static 'sweatalert/sweatalert.js' %}"></script>
         <script src="{% static 'choosen/choosen.js' %}"></script>
      <script src="{% static 'data_tables/datatables.min.js' %}"></script>
{% endblock %}

{% block js_inline %}
    <script>
 $(document).ready(function () {
            $('#product-table').DataTable();
        });
    </script>
{% endblock %}