{% extends '../../base.html' %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}">
{% endblock %}
{% block style %}
    <style>

    </style>
{% endblock %}
<title>{% block title %}Detail cash in{% endblock %}</title>

{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">

                {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        Cash in ( Detail )
                    </div>
                {% endblock %}

                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                        <button type="button" class="btn btn-primary" onClick="javascript:history.go(-1);"><i
                                class="fa fa-chevron-left" aria-hidden="true"></i> back
                        </button>


                    </div>

                      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-right">
                         <button type="button" id="btnPrint" name="addClient" value="Print"
                                class="btn btn-primary"><i class="fa fa-print" aria-hidden="true"></i>
                            print
                        </button>


                        <button type="button" id="generate_pdf" name="addClient" value="Print"
                                class="btn btn-primary" onclick="generatePDF();"><i
                                class="fa fa-file-pdf-o"
                                aria-hidden="true"></i> pdf
                        </button>
                    </div>
                </div>

                <div id="uniform_order_print">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td colspan="3">
                        <span class="bigger-120">
						<span class="blue bolder">Vista Filling Station (Cash in) </span>
					</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Duty person: {{ cash_in.duty_person }}</td>
                            <td>Duty date: {{ cash_in.duty }}</td>
                            <td>Duty date: {{ cash_in.date }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered" id="uniform_order-table_detail">
                        <thead>
                        <tr>
                            <th>Account</th>
                            <th colspan="2">Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for uo in cash_in.netsales_set.all %}
                            <tr class="products_lists">
                                <td>{{ uo.account }}</td>
                                <td colspan="2">{{ uo.amount }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td  class="text-right">Sum:</td>
                            <td colspan="2">{{ cash_in.net_amount }}</td>
                        </tr>
                        </tbody>

                    </table>

                </div>
            </div>

        </div>
    </div>
    <!-- THE MODAL FOR SUB ACCOUNTS -->
    <div class="modal fade" id="modal-uniform_order">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}
{#page specific js files#}
{% block custom_js_files %}

    <script src="{% static 'htmlTopdf/jspdf.min.js' %}"></script>
    <script src="{% static 'htmlTopdf/html2pdf.js' %}"></script>
    <script src="{% static 'htmlTopdf/html2canvas.min.js' %}"></script>
    <script src="{% static 'htmlTopdf/print2.min.js' %}"></script>


{% endblock %}

{#page specific inline js#}
{% block js_inline %}
    <script>
        function getDateTime() {
            var now = new Date();
            var year = now.getFullYear();
            var month = now.getMonth() + 1;
            var day = now.getDate();
            var hour = now.getHours();
            var minute = now.getMinutes();
            var second = now.getSeconds();
            if (month.toString().length == 1) {
                month = '0' + month;
            }
            if (day.toString().length == 1) {
                day = '0' + day;
            }
            if (hour.toString().length == 1) {
                hour = '0' + hour;
            }
            if (minute.toString().length == 1) {
                minute = '0' + minute;
            }
            if (second.toString().length == 1) {
                second = '0' + second;
            }
            var dateTime = day + '/' + month + '/' + year + ' ' + hour + ':' + minute + ':' + second;
            return dateTime;
        }

        {#pdf#}

        function generatePDF() {
            var element = document.getElementById('uniform_order_print');
            html2pdf(element, {
                margin: 1,
                filename: 'uniform_order-' + '{{uniform_order.id}}' + '-' + getDateTime() + '.pdf',
                image: {type: 'jpeg', quality: 1},
                html2canvas: {dpi: 600, letterRendering: true},
                jsPDF: {unit: 'in', format: 'letter', orientation: 'portrait'}
            });
        }

        {#print#}
        $(document).on('click', '#btnPrint', function () {
            $("#uniform_order_print").print({
                globalStyles: true,
                mediaPrint: false,
                stylesheet: null,
                noPrintSelector: ".no-print",
                iframe: true,
                append: null,
                prepend: null,
                manuallyCopyFormValues: true,
                deferred: $.Deferred(),
                timeout: 750,
                title: null,
                doctype: '<!doctype html>'
            });
        });

    </script>

{% endblock %}













