
{% load widget_tweaks %}

<form method="post" action="{% url 'bank_deposition_update' form.instance.pk %}" class="js-bank_deposition-update-form">
  {% csrf_token %}
  <div class="modal-header bg-primary">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Post bank deposition</h4>
  </div>
  <div class="modal-body">
    {% include 'cash/includes/partial_bank_deposition_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="ace-icon fa fa-times white3"></i> Close</button>
        {% if form.status.value == 1 %}
            <button type='submit' class="btn btn-warning"><i
                    class="ace-icon fa fa-floppy-o bigger-100"></i> post bank deposition
            </button>
        {% endif %}
  </div>
</form>