
    <tr style="background-color:#F3F3F3;">
       <td><span class="badge badge-info">Duty date</span></td> <td><span class="badge badge-success">{{ duty.date }}</span></td>
    </tr>
<tr style="background-color:#F3F3F3;">
<td><span class="badge badge-info">Duty persons</span></td>
    <td>
        {% for duty_man in duty.dutymen_set.all %}
            <span class="badge badge-success"> {{ duty_man.duty_person }} ({{ duty_man.get_duty_at_display }})</span>
        {% endfor %}
    </td>
</tr>
<tr style="background-color:#F3F3F3;">

    <td  class="text-right" colspan="2">
        <a href="{% url 'duty_detail' duty.id %}">
            <button type="button"
                    class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-eye-open"></span> Show
            </button>
        </a>
        <a href="{% url 'latest_duty_update' duty.id %}">
            <button type="button"
                    class="btn btn-warning btn-sm">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>
        </a>
        <button type="button"
                class="btn btn-danger btn-sm js-delete-latest-duty"
                data-url="{% url 'latest_duty_delete' duty.id %}">
            <span class="glyphicon glyphicon-trash"></span> Delete
        </button>
    </td>
    </tr>
<tr>
    <td colspan="3"></td>
</tr>
