<form method="post" action="{% url 'bank_deposition_delete' bank_deposition.id %}" class="js-bank_deposition-delete-form">
  {% csrf_token %}
  <div class="modal-header" style="background-color: #D15B47;color: #fff;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirm bank deposition deletion</h4>
  </div>
  <div class="modal-body">
    <p class="lead"><i class="glyphicon glyphicon-alert"></i> Are you sure you want to delete the bank deposition with Date:<strong>{{ bank_deposition.date }}</strong> and Amount: <strong>{{ bank_deposition.amount }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger">Delete bank deposition</button>
  </div>
</form>