{% for bank_deposition in bank_depositions %}
    <tr>
          <td>{{ bank_deposition.duty }}</td>
        <td>{{ bank_deposition.bank }}</td>
        <td>{{ bank_deposition.amount }}</td>
        <td>{{ bank_deposition.get_deposition_for_display }}</td>
       {% if bank_deposition.status == 1 %}
            <td style="color:red;font-weight: bold;">{{ bank_deposition.get_status_display }} <span
                    class="glyphicon glyphicon-time"></span></td>
        {% else %}
            <td style="color: green;font-weight: bold;">{{ bank_deposition.get_status_display }} <span
                    class="glyphicon glyphicon-ok"></span></td>
        {% endif %}
        <td>
             {% if bank_deposition.status == 1 %}
            <button type="button"
                    class="btn btn-warning btn-sm js-update-bank_deposition"
                    data-url="{% url 'bank_deposition_update' bank_deposition.id %}">
                <span class="glyphicon glyphicon-pencil"></span> post it
            </button>

            <button type="button"
                    class="btn btn-danger btn-sm js-delete-bank_deposition"
                    data-url="{% url 'bank_deposition_delete' bank_deposition.id %}">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
            {% endif %}
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="6" class="text-center bg-warning">No any bank deposition</td>
    </tr>
{% endfor %}