{% load widget_tweaks %}

<form method="post" action="{% url 'supplier_payment_update' form.instance.pk %}"
      class="js-supplier_payment-update-form">
    {% csrf_token %}
    <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Update supplier payment</h4>
    </div>
    <div class="modal-body">
        {% include 'cash/includes/partial_supplier_payment_form.html' %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="ace-icon fa fa-times white3"></i>
            Close
        </button>
        {% if form.status.value == 1 %}
            <button type='submit' class="btn btn-warning"><i
                    class="ace-icon fa fa-floppy-o bigger-100"></i> post it
            </button>
        {% endif %}
    </div>
</form>