<form method="post" action="{% url 'supplier_payment_delete' supplier_payment.id %}" class="js-supplier_payment-delete-form">
  {% csrf_token %}
  <div class="modal-header" style="background-color: #D15B47;color: #fff;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirm supplier payment deletion</h4>
  </div>
  <div class="modal-body">
    <p class="lead"><i class="glyphicon glyphicon-alert"></i> Are you sure you want to delete the supplier payment with Date:<strong>{{ supplier_payment.date }}</strong> and Amount: <strong>{{ supplier_payment.amount }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger">Delete supplier payment</button>
  </div>
</form>