{% for supplier_payment in supplier_payments %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ supplier_payment.supplier }}</td>
        {% if supplier_payment.bank is None %}
            <td style="color:#4faaf7;font-weight: bold;">Cash in hand</td>
        {% else %}
            <td style="color:#f98f55;font-weight: bold;">{{ supplier_payment.bank }}</td>
        {% endif %}

        <td>{{ supplier_payment.cheque_no }}</td>
        <td>{{ supplier_payment.duty }}</td>
        <td>{{ supplier_payment.get_payment_for_display }}</td>
        <td>{{ supplier_payment.amount }}</td>
        {% if supplier_payment.status == 1 %}
            <td style="color:red;font-weight: bold;">{{ supplier_payment.get_status_display }} <span
                    class="glyphicon glyphicon-time"></span></td>
        {% else %}
            <td style="color: green;font-weight: bold;">{{ supplier_payment.get_status_display }} <span
                    class="glyphicon glyphicon-ok"></span></td>
        {% endif %}
        <td>
            {% if supplier_payment.status == 1 %}
                <button type="button"
                        class="btn btn-warning btn-sm js-update-supplier_payment"
                        data-url="{% url 'supplier_payment_update' supplier_payment.id %}">
                    <span class="glyphicon glyphicon-pencil"></span> Post
                </button>


                <button type="button"
                        class="btn btn-danger btn-sm js-delete-supplier_payment"
                        data-url="{% url 'supplier_payment_delete' supplier_payment.id %}">
                    <span class="glyphicon glyphicon-trash"></span> Delete
                </button>
            {% endif %}

        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="9" class="text-center bg-warning">No any supplier payment</td>
    </tr>
{% endfor %}