{% extends '../base.html' %}
{% load static %}
{% block page_css_files %}
        <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}"/>
         <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
    <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/datetimepicker.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'data_tables/datatables.min.css' %}"/>
{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">

                {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        Ledger accounts
{#                        <form action="{% url 'chart_of_account_list' %}" method="GET">#}
{#                            <select name="q" id="q">#}
{#                                <option value="">All</option>#}
{#                                <option value="1">Suppliers</option>#}
{#                                <option value="2">Persons</option>#}
{#                                <option value="3">Product</option>#}
{#                                <option value="4">Real</option>#}
{#                                <option value="5">Employee</option>#}
{#                            </select>#}
{#                            <button type="submit">search</button>#}
{#                        </form>#}
                    </div>
                {% endblock %}

                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-12">
                        <button type="button"
                                class="btn btn-primary js-create-chart_of_account"
                                data-url="{% url 'chart_of_account_create' %}">
                            <span class="glyphicon glyphicon-plus"></span>
                            New
                        </button>
                      <button type="button" class="btn btn-primary" onClick="javascript:history.go(-1);"><i
                                class="fa fa-chevron-left" aria-hidden="true"></i> back
                        </button>
                    </div>
                </div>
                <table class="table table-bordered" id="chart_of_account-table">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Acount ID</th>
                        <th>Account name</th>
                        <th>Sub account</th>
                        <th>Account type</th>
                        <th>Address</th>
                        <th>Phone number</th>
                        <th>User</th>
                        <th>Is account active</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% include 'chart_of_accounts/includes/partial_chart_of_account_list.html' %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <!-- THE MODAL FOR SUB ACCOUNTS -->
    <div class="modal" id="modal-chart_of_account">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js_files %}
    <script src="{% static 'js/custom/chart_of_accounts.js' %}"></script>
        <script src="{% static 'choosen/choosen.js' %}"></script>
    <script src="{% static 'js/datetimepicker.min.js' %}"></script>
    <script src="{% static 'sweatalert/sweatalert.js' %}"></script>
    <script src="{% static 'data_tables/datatables.min.js' %}"></script>
{% endblock %}

{% block js_inline %}
    <script>
       $(document).ready(function () {
            $('#chart_of_account-table').DataTable();
        });
    </script>
{% endblock %}