{% extends '../base.html' %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
    <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/datetimepicker.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'data_tables/datatables.min.css' %}"/>
{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">

                {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        Main & sub-accounts
                    </div>
                {% endblock %}


                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-6">
                        <button type="button"
                                class="btn btn-primary js-create-main_account"
                                data-url="{% url 'main_account_create' %}">
                            <span class="glyphicon glyphicon-plus"></span>
                            New main account
                        </button>

                        <button type="button" class="btn btn-primary" onClick="javascript:history.go(-1);"><i
                                class="fa fa-chevron-left" aria-hidden="true"></i> back
                        </button>
                    </div>
                    <div class="col-md-6">

                        <div style="padding: 5px 0 5px 0;font-size: 20px;" class="text-center">Main Accounts</div>
                    </div>
                </div>

                <table class="table table-bordered" id="main_account-table">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Id</th>
                        <th>Name</th>
                        {#                        <th></th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% include 'chart_of_accounts/includes/partial_main_account_list.html' %}
                    </tbody>
                </table>
                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-6">
                        <button type="button"
                                class="btn btn-primary js-create-sub_account"
                                data-url="{% url 'sub_account_create' %}">
                            <span class="glyphicon glyphicon-plus"></span> New sub account
                        </button>
                    </div>
                    <div class="col-md-6">
                        <div style="padding: 5px 0 5px 0;font-size: 20px;" class="text-center">Sub Accounts</div>
                    </div>
                </div>

                <table class="table table-bordered" id="sub_account-table">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Id</th>
                        <th>Main account</th>
                        <th>Sub account name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% include 'chart_of_accounts/includes/partial_sub_account_list.html' %}
                    </tbody>
                </table>
                <!-- THE MODAL WE WILL BE USING -->
                <div class="modal" id="modal-main_account">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
                <!-- THE MODAL FOR SUB ACCOUNTS -->
                <div class="modal" id="modal-sub_account">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block custom_js_files %}
    <script src="{% static 'js/custom/main_accounts.js' %}"></script>
    <script src="{% static 'choosen/choosen.js' %}"></script>
    <script src="{% static 'js/custom/sub_accounts.js' %}"></script>
    <script src="{% static 'js/datetimepicker.min.js' %}"></script>
    <script src="{% static 'sweatalert/sweatalert.js' %}"></script>
    <script src="{% static 'data_tables/datatables.min.js' %}"></script>
{% endblock %}

{% block js_inline %}
    <script>
        $(document).ready(function () {
            $('#main_account-table').DataTable();
        });
        $(document).ready(function () {
            $('#sub_account-table').DataTable();
        });
    </script>
{% endblock %}