{% extends '../customer_base.html' %}
{% load mathfilters %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}"/>
{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">


                <div class="row">
                    <div class="col-md-12">

                        <button type="button" id="btnPrint" name="addClient" value="Print"
                                class="btn btn-flat btn-grey btn-sm"><i class="fa fa-print" aria-hidden="true"></i>
                            print
                        </button>


                        <button type="button" id="generate_pdf" name="addClient" value="Print"
                                class="btn btn-flat btn-grey btn-sm " onclick="generatePDF();"><i
                                class="fa fa-file-pdf-o"
                                aria-hidden="true"></i> pdf
                        </button>

                    </div>
                </div>
                <div id="report-data">
                <span class="bigger-120 text-center">
						<span class="blue bolder text-center">{{ account_name }} (Invoices)</span>

					</span>
                    <div style="margin: 8px;">
                        <span class="badge badge-info"><span class="bolder">Account: </span> {{ account_name }}</span>
                        <span
                                class="badge badge-info"><span class="bolder"
                                                               style="margin-left: 20px;">ID: </span> {{ account_id }}</span>
                        <span
                                class="badge badge-info"><span class="bolder"
                                                               style="margin-left: 20px;">Total invoices: </span> {{ total_invoices }}</span>
                        <span class="badge badge-info pull-right"><span
                                class="bolder">Date: </span> {% now "jS F Y H:i" %}</span>


                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>

                            <th>Date</th>
                            <th>Vehicle#</th>
                            <th>Slip#</th>
                            <th>Product</th>
                            <th>Litres</th>
                            <th>Amount</th>
                            <th></th>

                        </tr>
                        </thead>
                        {% for cs in clubcardsalem %}
                            <tr>

                                <td>{{ cs.date }}</td>
                                <td>{{ cs.clubcardvehicle }}</td>
                                <td>{{ cs.slip_no }}</td>
                                <td>
                                    {% for p in cs.clubcardsales_set.all %}
                                        {{ p.product }}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for p in cs.clubcardsales_set.all %}
                                        {{ p.qty_sold }}
                                    {% endfor %}
                                </td>
                                <td>{{ cs.net_amount }}</td>
                                <td>
                                    <a href="{% url 'customer_sale_detail' cs.id %}">

                                        <span class="badge badge-info">Detail</span>

                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="9" class="text-center bg-warning">No club card sales</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal" id="modal-ledger" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>


{% endblock %}

{% block custom_js_files %}
    <script src="{% static 'htmlTopdf/jspdf.min.js' %}"></script>
    <script src="{% static 'htmlTopdf/html2pdf.js' %}"></script>
    <script src="{% static 'htmlTopdf/html2canvas.min.js' %}"></script>
    <script src="{% static 'htmlTopdf/print2.min.js' %}"></script>
{% endblock %}

{% block js_inline %}

    <script>
        function getDateTime() {
            var now = new Date();
            var year = now.getFullYear();
            var month = now.getMonth() + 1;
            var day = now.getDate();
            var hour = now.getHours();
            var minute = now.getMinutes();
            var second = now.getSeconds();
            if (month.toString().length == 1) {
                month = '0' + month;
            }
            if (day.toString().length == 1) {
                day = '0' + day;
            }
            if (hour.toString().length == 1) {
                hour = '0' + hour;
            }
            if (minute.toString().length == 1) {
                minute = '0' + minute;
            }
            if (second.toString().length == 1) {
                second = '0' + second;
            }
            var dateTime = day + '/' + month + '/' + year + ' ' + hour + ':' + minute + ':' + second;
            return dateTime;
        }

        {#pdf#}

        function generatePDF() {
            var element = document.getElementById('report-data');
            html2pdf(element, {
                margin: 1,
                filename: 'report-data-' + '{{uniform_order.id}}' + '-' + getDateTime() + '.pdf',
                image: {type: 'jpeg', quality: 1},
                html2canvas: {dpi: 600, letterRendering: true},
                jsPDF: {unit: 'in', format: 'letter', orientation: 'landscape'}
            });
        }

        {#print#}
        $(document).on('click', '#btnPrint', function () {
            $("#uniform_order_print").print({
                globalStyles: true,
                mediaPrint: false,
                stylesheet: null,
                noPrintSelector: ".no-print",
                iframe: true,
                append: null,
                prepend: null,
                manuallyCopyFormValues: true,
                deferred: $.Deferred(),
                timeout: 750,
                title: null,
                doctype: '<!doctype html>'
            });
        });

        {#for pdf and printing#}
        $(document).ready(function () {
            $(document).on("click", "#tb", function () {
                $.ajax({
                    url: '/reports/trial_balance',
                    type: 'GET',
                    success: function (data) {
                        $("#report-data").html(data.html_trial_balance);
                        //message
                        swal({
                            position: 'center',
                            type: 'success',
                            title: 'Report data fetched',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    },
                    error: function (data) {
                        sweetAlert({
                            title: "Oops!",
                            text: "Error occoured!",
                            type: "error"
                        });
                    }
                });


            });


            {#display model and forms#}
            /* Functions */

            $(document).on("click", ".create-ledger", function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-ledger").modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                    },
                    success: function (data) {
                        $("#modal-ledger .modal-content").html(data.html_form);
                        //for date select
                        $("#id_account_name").chosen({
                            search_contains: true,
                            no_results_text: "Oops, nothing found!",
                            width: "100%"
                        });
                    }
                });
            });

            $(document).on("submit", ".js-ledger-create-form", function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: 'json',
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#report-data").html(data.html_ledger);
                            $("#modal-ledger").modal("hide");
                            //message
                            swal({
                                position: 'center',
                                type: 'success',
                                title: 'Report data fetched',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        } else {
                            $("#modal-ledger .modal-content").html(data.html_form);
                            $("#id_account_name").chosen({
                                search_contains: true,
                                no_results_text: "Oops, nothing found!",
                                width: "100%"
                            });
                        }
                    }
                });
                return false;
            });
            /* Binding */

            // Create book
            $(".js-create-fee_paid").click(loadForm);

            // Update book
            $("#fee_paid-table").on("click", ".js-update-fee_paid", loadForm);
            $("#modal-fee_paid").on("submit", ".js-fee_paid-update-form", saveForm);

            // Delete book
            $("#fee_paid-table").on("click", ".js-delete-fee_paid", loadForm);
            $("#modal-fee_paid").on("submit", ".js-fee_paid-delete-form", saveForm);

        });

    </script>

{% endblock %}




