{% extends '../customer_base.html' %}
{% load mathfilters %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}"/>
    <style>
        .ml10 {
            font-weight: 900;
        }

        .ml10 .text-wrapper {
            display: inline-block;
            overflow: hidden;
        }

        .ml10 .letter {
            display: inline-block;
            line-height: 1em;
            transform-origin: 0 0;
            color: #438EB9;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"><h2 class="ml10">
  <span class="text-wrapper">
    <span class="letters">Welcome To Vista Filling Station
    </span>
  </span>
                    </h2></div>
                    <div class="col-md-4"></div>
                </div>
                <div id="report-data">


                </div>
            </div>

        </div>
    </div>
    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal" id="modal-ledger" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>


{% endblock %}

{% block custom_js_files %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
{% endblock %}

{% block js_inline %}

    <script>
        // Wrap every letter in a span
        $('.ml10 .letters').each(function () {
            $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
        });

        anime.timeline({loop: true})
            .add({
                targets: '.ml10 .letter',
                rotateY: [-90, 0],
                duration: 1300,
                delay: function (el, i) {
                    return 45 * i;
                }
            }).add({
            targets: '.ml10',
            opacity: 0,
            duration: 1000,
            easing: "easeOutExpo",
            delay: 1000
        });
    </script>

{% endblock %}