{% extends '../customer_base.html' %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}">
{% endblock %}

<title>{% block title %}Detail fuel purchase{% endblock %}</title>

{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">

                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-12">

                        <button type="button" id="btnPrint" name="addClient" value="Print"
                                class="btn btn-flat btn-grey btn-sm"><i class="fa fa-print" aria-hidden="true"></i>
                            print
                        </button>


                        <button type="button" id="generate_pdf" name="addClient" value="Print"
                                class="btn btn-flat btn-grey btn-sm" onclick="generatePDF();"><i
                                class="fa fa-file-pdf-o"
                                aria-hidden="true"></i> pdf
                        </button>


                        <button type="button" class="btn btn-flat btn-grey btn-sm" onClick="javascript:history.go(-1);"><i
                                class="fa fa-chevron-left" aria-hidden="true"></i> back
                        </button>

                    </div>
                </div>

                <div id="uniform_order_print">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td colspan="12" class="text-center">

                                <span class="black bolder bigger-120">{{ account_name }} (Invoice detail)</span>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"><span class="bolder">Company : </span> {{ clubcard_sale.company_name }}</td>
                            <td colspan="3"><span
                                    class="bolder">Trans# : </span>{{ clubcard_sale.date|date:'Y-m-d' }}&star;{{ clubcard_sale.trans_no|stringformat:"06d" }}
                            </td>
                            <td colspan="3"><span class="bolder">Date : </span> {{ clubcard_sale.date }}</td>

                            <td colspan="3"><span class="bolder">Client ref. : </span> {{ clubcard_sale.client_ref }}
                            </td>

                        </tr>
                        <tr>
                            <td colspan="3"><span class="bolder">Vehicle# : </span> {{ clubcard_sale.clubcardvehicle }}
                            </td>
                            <td colspan="3"><span
                                    class="bolder">Driver : </span> {{ clubcard_sale.clubcardvehicle.driver_name }}</td>
                            <td colspan="3"><span
                                    class="bolder">Driver cnic# : </span> {{ clubcard_sale.clubcardvehicle.driver_cnic }}
                            </td>
                            <td colspan="2"><span
                                    class="bolder">Driver phone# : </span> {{ clubcard_sale.clubcardvehicle.driver_phone }}
                            </td>
                            <td colspan="1"><span
                                    class="bolder">Payment status : </span>{{ clubcard_sale.get_paymentstatus_display }} {% if clubcard_sale.paymentstatus == 2 %}
                                <img src="{% static 'images/placeholder/n.png' %}" alt="">
                                {% elif clubcard_sale.paymentstatus == 3 %}
                                 <img src="{% static 'images/placeholder/b.png' %}" alt="">
                                    {% endif %}

                            </td>

                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered" id="uniform_order-table_detail">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Qty. sold</th>
                            <th>Price</th>
                            <th class="text-right">Amount</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for fs in clubcard_sale.clubcardsales_set.all %}
                            <tr class="products_lists">
                                <td><span class="bolder">{{ fs.product }}</span></td>
                                <td>{{ fs.qty_sold}}</td>
                                <td>{{ fs.price}}</td>
                                <td class="text-right">{{ fs.amount }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>

                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td colspan="10" class="text-left"><span class="bolder">Sum : </span></td>
                            <td colspan="2" class="text-right"><span
                                    class="bolder">{{ clubcard_sale.net_amount }}</span></td>

                        </tr>
                        <tr>
                            <td colspan="12">
                                <div class="row">
                                    <div class="col-md-6"> <img
                                    src="/media/{{ clubcard_sale.clubcardvehicle.driver_photo }}" alt=""
                                    class="img img-responsive">
                                        <div style="padding-top: 10px;"></div>
                                    <span class="bolder" >Driver's Signature : ___________________________</span>
                                    </div>
                                    <div class="col-md-6"><span class="bolder">Filled By : </span> {{ clubcard_sale.duty_person }}
                                     <div style="padding-top: 65px;"></div>
                                    <span class="bolder" >Signature : ___________________________</span>
                                    </div>

                                </div>

                            </td>


                        </tr>

                        </tbody>
                    </table>


                </div>
            </div>

        </div>
    </div>
    <!-- THE MODAL FOR SUB ACCOUNTS -->
    <div class="modal fade" id="modal-uniform_order">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}
{#page specific js files#}
{% block custom_js_files %}

    <script src="{% static 'htmlTopdf/jspdf.min.js' %}"></script>
    <script src="{% static 'htmlTopdf/html2pdf.js' %}"></script>
    <script src="{% static 'htmlTopdf/html2canvas.min.js' %}"></script>
    <script src="{% static 'htmlTopdf/print2.min.js' %}"></script>


{% endblock %}

{#page specific inline js#}
{% block js_inline %}
    <script>
        function getDateTime() {
            var now = new Date();
            var year = now.getFullYear();
            var month = now.getMonth() + 1;
            var day = now.getDate();
            var hour = now.getHours();
            var minute = now.getMinutes();
            var second = now.getSeconds();
            if (month.toString().length == 1) {
                month = '0' + month;
            }
            if (day.toString().length == 1) {
                day = '0' + day;
            }
            if (hour.toString().length == 1) {
                hour = '0' + hour;
            }
            if (minute.toString().length == 1) {
                minute = '0' + minute;
            }
            if (second.toString().length == 1) {
                second = '0' + second;
            }
            var dateTime = day + '/' + month + '/' + year + ' ' + hour + ':' + minute + ':' + second;
            return dateTime;
        }

        {#pdf#}

        function generatePDF() {
            var element = document.getElementById('uniform_order_print');
            html2pdf(element, {
                margin: 1,
                filename: 'uniform_order-' + '{{uniform_order.id}}' + '-' + getDateTime() + '.pdf',
                image: {type: 'jpeg', quality: 1},
                html2canvas: {dpi: 600, letterRendering: true},
                jsPDF: {unit: 'in', format: 'legal', orientation: 'landscape'}
            });
        }

        {#print#}
        $(document).on('click', '#btnPrint', function () {
            $("#uniform_order_print").print({
                globalStyles: true,
                mediaPrint: false,
                stylesheet: null,
                noPrintSelector: ".no-print",
                iframe: true,
                append: null,
                prepend: null,
                manuallyCopyFormValues: true,
                deferred: $.Deferred(),
                timeout: 750,
                title: 'Fuel purchase',
                doctype: '<!doctype html>'
            });
        });

    </script>

{% endblock %}













