{% extends '../../base.html' %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}">
{% endblock %}
{% block style %}
    <style>

    </style>
{% endblock %}
<title>{% block title %}Detail fuel purchase{% endblock %}</title>

{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">

                {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        Fuel purchase T4 & T5 (Detail)
                    </div>
                {% endblock %}

                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                        
                        <button type="button" class="btn btn-primary" onClick="javascript:history.go(-1);"><i
                                class="fa fa-chevron-left" aria-hidden="true"></i> back
                        </button>
                                <a href="{% url 'fp_home' %}">
                            <button type="button"
                                    class="btn btn-primary">
                                <i class="fa fa-home" aria-hidden="true"></i> home
                            </button>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-right">
                        <button type="button" id="btnPrint" name="addClient" value="Print"
                                class="btn btn-primary"><i class="fa fa-print" aria-hidden="true"></i>
                            print
                        </button>



                        <button type="button" id="generate_pdf" name="addClient" value="Print"
                                class="btn btn-primary" onclick="generatePDF();"><i
                                class="fa fa-file-pdf-o"
                                aria-hidden="true"></i> pdf
                        </button>
                    </div>
                </div>

                <div id="uniform_order_print">
                    <table class="table table-borderless">
                        <tr class="text-center">

                                   <td colspan="2">
                        <span class="bigger-120">
						<span class="blue bolder">Vista Filling Station </span>
					</span>
                            </td>
                            <tr class="text-center">

                        <td colspan="2">Fuel purchase (T4 & T5)</td>
                    </tr>
                        </tr>
                      <tr> <td>Invoice #</td><td>{{ fp.id }}</td></tr>
                      <tr> <td>Purchase date</td><td>{{ fp.date }}</td></tr>
                      <tr> <td>Duty</td><td>{{ fp.duty }}</td></tr>
                      <tr> <td>Product</td><td>{{ fp.product }}</td></tr>
                      <tr> <td>Supplier</td><td>{{ fp.supplier }}</td></tr
                      <tr> <td>Decanted by</td><td>{{ fp.decanted_by }}</td></tr>
                      <tr> <td>Qty purchased</td><td>{{ fp.purchased_stock }}</td></tr>
                      <tr> <td>Amount</td><td>{{ fp.amount }}</td></tr>
                    </table>

                </div>
            </div>

        </div>
    </div>

{% endblock %}
{#page specific js files#}
{% block custom_js_files %}

    <script src="{% static 'htmlTopdf/jspdf.min.js' %}"></script>
    <script src="{% static 'htmlTopdf/html2pdf.js' %}"></script>
    <script src="{% static 'htmlTopdf/html2canvas.min.js' %}"></script>
    <script src="{% static 'htmlTopdf/print2.min.js' %}"></script>


{% endblock %}

{#page specific inline js#}
{% block js_inline %}

 <script>
        function getDateTime() {
            var now = new Date();
            var year = now.getFullYear();
            var month = now.getMonth() + 1;
            var day = now.getDate();
            var hour = now.getHours();
            var minute = now.getMinutes();
            var second = now.getSeconds();
            if (month.toString().length == 1) {
                month = '0' + month;
            }
            if (day.toString().length == 1) {
                day = '0' + day;
            }
            if (hour.toString().length == 1) {
                hour = '0' + hour;
            }
            if (minute.toString().length == 1) {
                minute = '0' + minute;
            }
            if (second.toString().length == 1) {
                second = '0' + second;
            }
            var dateTime = day + '/' + month + '/' + year + ' ' + hour + ':' + minute + ':' + second;
            return dateTime;
        }

        {#pdf#}

        function generatePDF() {
            var element = document.getElementById('uniform_order_print');
            html2pdf(element, {
                margin: 1,
                filename: 'uniform_order-' + '{{uniform_order.id}}' + '-' + getDateTime() + '.pdf',
                image: {type: 'jpeg', quality: 1},
                html2canvas: {dpi: 600, letterRendering: true},
                jsPDF: {unit: 'in', format: 'legal', orientation: 'landscape'}
            });
        }

        {#print#}
        $(document).on('click', '#btnPrint', function () {
            $("#uniform_order_print").print({
                globalStyles: true,
                mediaPrint: false,
                stylesheet: null,
                noPrintSelector: ".no-print",
                iframe: true,
                append: null,
                prepend: null,
                manuallyCopyFormValues: true,
                deferred: $.Deferred(),
                timeout: 750,
                title: 'Fuel purchase',
                doctype: '<!doctype html>'
            });
        });

    </script>
{% endblock %}













