{% for d in  fps %}
    <tr>
        <td>{{ d.product }}</td>
        <td>{{ d.supplier }}</td>
        <td>{{ d.duty }}</td>
        <td>{{ d.decanted_by }}</td>
        <td>{{ d.purchased_stock }}</td>
        <td>{{ d.amount }}</td>
    {% if d.status == 1 %}
            <td style="color:red;font-weight: bold;">{{ d.get_status_display }} <span class="glyphicon glyphicon-time"></span></td>
                {% else %}
            <td style="color: green;font-weight: bold;">{{ d.get_status_display }} <span class="glyphicon glyphicon-ok"></span></td>
        {% endif %}
        <td>
          <a href="{% url 'fp_detail' d.id %}">
            <button type="button"
                    class="btn btn-success btn-sm js-update-fp">
                <span class="glyphicon glyphicon-eye-open"></span> Show
            </button>
                </a>
            {% if d.status == 1 %}

                 <button type="button"
                    class="btn btn-warning btn-sm js-update-fp"
                    data-url="{% url 'fp_update' d.id %}">
                <span class="glyphicon glyphicon-pencil"></span> Post
            </button>
             <button type="button"
                    class="btn btn-danger btn-sm js-delete-fp"
                    data-url="{% url 'fp_delete' d.id %}">
                <span class="glyphicon glyphicon-pencil"></span> Delete
            </button>
            {% endif %}
        </td>
    </tr>
{% endfor %}