{% for t in tl %}
    <tr>
        <td></td>
        <td>{{ t.tl_no }}</td>
        <td>{{ t.tl_carriage_name }}</td>
        <td>{{ t.tl_driver_phone }}</td>
        <td>{{ t.tl_driver_name }}</td>
        <td>
            <button type="button"
                    class="btn btn-warning btn-sm js-update-tl"
                    data-url="{% url 'tl_update' t.id %}">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>
{#            <button type="button"#}
{#                    class="btn btn-danger btn-sm js-delete-fuel_purchase"#}
{#                    data-url="{% url 'fuel_purchase_delete' purchase.id %}">#}
{#                <span class="glyphicon glyphicon-trash"></span> Delete#}
{#            </button>#}
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="5" class="text-center bg-warning">No tank lorry</td>
    </tr>
{% endfor %}
