
{% load widget_tweaks %}

<form method="post" action="{% url 'tl_create' %}" class="js-tl-create-form">
  {% csrf_token %}
  <div class="modal-header" style="background-color:#6FB3E0;color: #fff;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Create a new Tank Lorry information</h4>
  </div>
  <div class="modal-body">
  {% include 'tank_lorries/includes/partial_tl_form.html' %}
  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-default" data-dismiss="modal"><i class="ace-icon fa fa-times white3"></i> Close</button>
        <button type="submit" class="btn btn-primary"><i class="ace-icon fa fa-floppy-o bigger-100"></i> Save </button>
  </div>
</form>