{% for tank in tanks %}
    <tr>
        <td></td>
        <td>{{ tank.tank_name }}</td>
        <td>{{ tank.product }}</td>
        <td>{{ tank.tank_address }}</td>
        <td><button type="button"
              class="btn btn-warning btn-xs js-update-tank"
              data-url="{% url 'tank_update' tank.id %}">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
        <button type="button"
              class="btn btn-danger btn-xs js-delete-tank"
              data-url="{% url 'tank_delete' tank.id %}">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="4" class="text-center bg-warning">No tanks</td>
    </tr>
{% endfor %}