{% extends '../base.html' %}

{% load static %}
{% block page_css_files %}
        <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}"/>
    <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/datetimepicker.min.css' %}"/>
             <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">
                {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                       Duty Expenses (<span id="total_fee_paid">{{ total_duty_expenses }}</span>)
                    </div>
                {% endblock %}

                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-12">
                        <a href="{% url 'duty_expense_home' %}">
                        <button type="button"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span>
                            New
                        </button>
                        </a>
                    </div>
                </div>

                <table class="table table-bordered" id="expense-table">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Duty person</th>
                        <th>Status</th>
                        <th>Net amount</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% include 'expenses/includes/partial_duty_expense_list.html' %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal fade" id="modal-expense">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
     <!-- THE MODAL WE WILL BE USING -->
    <div class="modal" id="modal-permissions">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js_files %}
    <script src="{% static 'js/custom/expense_list.js' %}"></script>
    <script src="{% static 'js/datetimepicker.min.js' %}"></script>
          <script src="{% static 'choosen/choosen.js' %}"></script>
{% endblock %}

{% block js_inline %}
    <script>
        $(document).ready(function () {

            var loadForm = function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-permissions").modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                    },
                    success: function (data) {
                        $("#modal-permissions .modal-content").html(data.html_form);
                    }
                });
            };

            $(".js-permissions").click(loadForm);

        });

    </script>
{% endblock %}