<form method="post" action="{% url 'fuel_vehicle_income_delete' fuel_vehicle_income.id %}" class="js-fuel_vehicle_income-delete-form">
  {% csrf_token %}
  <div class="modal-header" style="background-color: #D15B47;color: #fff;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirm fuel_vehicle deletion</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Are you sure you want to delete fuel_vehicle income <strong>{{ fuel_vehicle_income.title }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger">Delete fuel vehicle income</button>
  </div>
</form>