{% for sub_account in sub_accounts %}
    <tr>
    <td>{{ forloop.counter }}</td>
        <td>{{ sub_account.id }}</td>
        <td>{{ sub_account.mainaccount }}</td>
        <td>{{ sub_account.get_sub_account_name_display }}</td>

        <td>

            <button type="button"
                    class="btn btn-warning btn-xs js-update-sub_account"
                    data-url="{% url 'sub_account_update' sub_account.id %}">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button type="button"
                    class="btn btn-danger btn-xs js-delete-sub_account"
                    data-url="{% url 'sub_account_delete' sub_account.id %}">
                <span class="glyphicon glyphicon-trash"></span>
            </button>

        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="5" class="text-center bg-warning">No sub account</td>
    </tr>
{% endfor %}