{% for main_account in main_accounts %}
    <tr>
    <td>{{ forloop.counter }}</td>
        <td>{{ main_account.id }}</td>
        <td>{{ main_account.get_main_account_name_display }}</td>

{#        <td>#}
{##}
{#            <button type="button"#}
{#                    class="btn btn-warning btn-sm js-update-main_account"#}
{#                    data-url="{% url 'main_account_update' main_account.id %}">#}
{#                <span class="glyphicon glyphicon-pencil"></span> Edit#}
{#            </button>#}
{#            <button type="button"#}
{#                    class="btn btn-danger btn-sm js-delete-main_account"#}
{#                    data-url="{% url 'main_account_delete' main_account.id %}">#}
{#                <span class="glyphicon glyphicon-trash"></span> Delete#}
{#            </button>#}
{##}
{#        </td>#}
    </tr>
{% empty %}
    <tr>
        <td colspan="3" class="text-center bg-warning">No chart of account</td>
    </tr>
{% endfor %}