{% for chart_of_account in chart_of_accounts %}
    <tr>
    <td>{{ forloop.counter }}</td>
        <td>{{ chart_of_account.id }}</td>
         <td>{{ chart_of_account.account_name }}</td>
        <td>{{ chart_of_account.subaccount}}</td>
        <td>{{ chart_of_account.get_account_type_display }}</td>
        <td>{{ chart_of_account.address }}</td>
        <td>{{ chart_of_account.phone_number }}</td>
        <td>{{ chart_of_account.user }}</td>
        <td>{{ chart_of_account.get_is_account_active_display }}</td>

        <td>

            <button type="button"
                    class="btn btn-warning btn-xs js-update-chart_of_account"
                    data-url="{% url 'chart_of_account_update' chart_of_account.id %}">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button type="button"
                    class="btn btn-danger btn-xs js-delete-chart_of_account"
                    data-url="{% url 'chart_of_account_delete' chart_of_account.id %}">
                <span class="glyphicon glyphicon-trash"></span>
            </button>

        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="9" class="text-center bg-warning">No chart of account</td>
    </tr>
{% endfor %}