<form method="post" action="{% url 'chart_of_account_delete' chart_of_account.id %}" class="js-chart_of_account-delete-form">
  {% csrf_token %}
  <div class="modal-header" style="background-color: #D15B47;color: #fff;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirm account deletion</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Are you sure you want to delete the account <strong>{{ chart_of_account.account_name }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger">Delete account</button>
  </div>
</form>