{% extends '../base.html' %}
{% load mathfilters %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}"/>
    <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'material_time_picker/mdtimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">

                {% block page-header %}
                    <div class="col-md-12 bg-info" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        <div class="btn-group">

                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"
                                    aria-expanded="true">
                                Reports
                                <i class="ace-icon fa fa-angle-down icon-on-right"></i>
                            </button>

     <ul class="dropdown-menu dropdown-primary dropdown-menu-left" style="cursor: pointer;">

                                <li>
                                    <a id="tb"> <img src="{% static 'images/menus/trial_balance.png' %}" alt=""> Trial
                                        Balance</a>
                                </li>
                                {#                                 <li class="divider"></li>#}
                                {#                                <li>#}
                                {#                                    <a class="create-head-account" data-url="{% url 'head_account' %}"> Head account</a>#}
                                {#                                </li>#}
                                <li class="divider"></li>
                                <li>
                                    <a class="create-customers_outstanding_amounts"
                                       data-url="{% url 'customers_outstanding_amounts' %}"><img
                                            src="{% static 'images/menus/outstanding.png' %}" alt=""> Customers
                                        (Outstanding amounts)</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a class="create-customers_outstanding_amounts"
                                       data-url="{% url 'suppliers_payable_amounts' %}"><img
                                            src="{% static 'images/menus/suppliers_payment.png' %}" alt=""> Suppliers
                                        (Payable amounts)</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a class="create-ledger" data-url="{% url 'ledger' %}"><img
                                            src="{% static 'images/menus/ledger.png' %}" alt=""> Ledger</a>
                                </li>

                                <li class="divider"></li>
                                <li>
                                    <a class="create-expense" data-url="{% url 'expenses_list' %}"><img
                                            src="{% static 'images/menus/expenses.png' %}" alt=""> Expenses list</a>
                                </li>

                                <li class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#"> <img
                                            src="{% static 'images/menus/cash_transaction.png' %}" alt=""> Cash
                                        transaction <span class="caret"></span></a>
                                    <ul class="dropdown-menu">

                                        <li>
                                            <a tabindex="-1" class="create-suppliers_payments"
                                               data-url="{% url 'suppliers_payments' %}"><img
                                                    src="{% static 'images/menus/suppliers_payments.png' %}" alt=""> Suppliers
                                                payments</a>
                                        </li>
                                        <li class="divider"></li>
                                              <li>
                                            <a tabindex="-1" class="create-bank_deposition"
                                               data-url="{% url 'bank_depositions' %}"><img
                                                    src="{% static 'images/menus/deposit.png' %}" alt=""> Bank depositions
                                                </a>
                                        </li>
                                         <li class="divider"></li>
                                              <li>
                                            <a tabindex="-1" class="create-rent_received"
                                               data-url="{% url 'rent_received' %}"><img
                                                    src="{% static 'images/menus/rent_received.png' %}" alt=""> Rent received
                                                </a>
                                        </li>
                                    </ul>
                                <li class="divider"></li>


                                <li>
                                    <a href="{% url 'lubes_stock_histories' %}"><img
                                            src="{% static 'images/menus/lube_stock.png' %}" alt=""> Lubes stock
                                        histories</a>
                                </li>
                            </ul>
                        </div>
                    <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-success dropdown-toggle"
                                    aria-expanded="true">
                                Filter
                                <i class="ace-icon fa fa-angle-down icon-on-right"></i>
                            </button>

                            <ul class="dropdown-menu dropdown-success dropdown-menu-left" style="cursor: pointer;">
                                    <li><a href="/reports/lubes_stock_histories?product_id=0">All</a></li>
                                {% for l in products_list %}
                                     <li class="divider"></li>
                                    <li><a href="/reports/lubes_stock_histories?product_id={{ l.id }}">{{ l.product_name }}</a></li>

                                {% endfor %}
                            </ul>

                    </div>
                    <div class="btn-group">
                        <button  type="button" id="btnPrint" name="addClient" value="Print"
                                class="btn btn-primary"><i class="fa fa-print" aria-hidden="true"></i>
                            print
                        </button>


                        <button type="button" id="generate_pdf" name="addClient" value="Print"
                                class="btn btn-primary " onclick="generatePDF();"><i
                                class="fa fa-file-pdf-o"
                                aria-hidden="true"></i> pdf
                        </button>


                        <button type="button" class="btn btn-primary" onClick="javascript:history.go(-1);"><i
                                class="fa fa-chevron-left" aria-hidden="true"></i> back
                        </button>


                        <button type="button" id="addClient" name="addClient" value="Cancel"
                                class="btn btn-primary" onclick="javascript:window.location.href='/'"><i
                                class="fa fa-home" aria-hidden="true"></i> home
                        </button>
                        </div>

                    </div>
                    </div>

                {% endblock %}



                <div id="report-data">
                     <span class="bigger-120 text-center">
						<span class="blue bolder ">Vista Filling Station (Lubes stock history)</span>

					</span>
                    <div style="margin-bottom: 5px;">

                        <span class="badge badge-info pull-right"><span
                                class="bolder">Date: </span> {% now "jS F Y H:i" %}</span>
                    </div>

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Date</th>
                            <th>Trans. type</th>
                            <th>Purchased stock</th>
                            <th>Sold stock</th>
                            <th>Qty.</th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for lubes_stock_history in lubes_stock_histories %}
                            <tr>
                                <td>{{ lubes_stock_history.product }}</td>
                                <td>{{ lubes_stock_history.date }}</td>
                                <td>{{ lubes_stock_history.get_type_display }}</td>
                                <td>{{ lubes_stock_history.purchased_stock }}</td>
                                <td>{{ lubes_stock_history.sold_stock }}</td>
                                <td>{{ lubes_stock_history.qty }}</td>
                            </tr>

                        {% empty %}
                            <tr>
                                <td colspan="6" class="text-center bg-warning">No data found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th colspan="3">Product</th>
                            <th colspan="3">Current stock</th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for lubes_stock_history in latest_stocks %}
                            <tr>
                                <td colspan="3">{{ lubes_stock_history.product }}</td>
                                <td colspan="3">{{ lubes_stock_history.balance_stock }}</td>
                            </tr>

                        {% empty %}
                            <tr>
                                <td colspan="2" class="text-center bg-warning">No data found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>


                {#            inserted end#}
            </div>

        </div>
    </div>
    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal" id="modal-ledger" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>

    <div class="modal" id="modal-expense" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>

{% endblock %}

{% block custom_js_files %}
    <script src="{% static 'sweatalert/sweatalert.js' %}"></script>
    <script src="{% static 'js/datetimepicker.min.js' %}"></script>
    <script src="{% static 'material_time_picker/mdtimepicker.min.js' %}"></script>
    <script src="{% static 'choosen/choosen.js' %}"></script>
    <script src="{% static 'htmlTopdf/jspdf.min.js' %}"></script>
    <script src="{% static 'htmlTopdf/html2pdf.js' %}"></script>
    <script src="{% static 'htmlTopdf/html2canvas.min.js' %}"></script>
    <script src="{% static 'htmlTopdf/print2.min.js' %}"></script>
{% endblock %}

{% block js_inline %}

    <script>
        function getDateTime() {
            var now = new Date();
            var year = now.getFullYear();
            var month = now.getMonth() + 1;
            var day = now.getDate();
            var hour = now.getHours();
            var minute = now.getMinutes();
            var second = now.getSeconds();
            if (month.toString().length == 1) {
                month = '0' + month;
            }
            if (day.toString().length == 1) {
                day = '0' + day;
            }
            if (hour.toString().length == 1) {
                hour = '0' + hour;
            }
            if (minute.toString().length == 1) {
                minute = '0' + minute;
            }
            if (second.toString().length == 1) {
                second = '0' + second;
            }
            var dateTime = day + '/' + month + '/' + year + ' ' + hour + ':' + minute + ':' + second;
            return dateTime;
        }

        {#pdf#}

        function generatePDF() {
            var element = document.getElementById('report-data');
            html2pdf(element, {
                margin: 1,
                filename: 'report-data-' + '{{uniform_order.id}}' + '-' + getDateTime() + '.pdf',
                image: {type: 'jpeg', quality: 1},
                html2canvas: {dpi: 600, letterRendering: true},
                jsPDF: {unit: 'in', format: 'letter', orientation: 'portrait'}
            });
        }

        {#print#}
        $(document).on('click', '#btnPrint', function () {
            $("#uniform_order_print").print({
                globalStyles: true,
                mediaPrint: false,
                stylesheet: null,
                noPrintSelector: ".no-print",
                iframe: true,
                append: null,
                prepend: null,
                manuallyCopyFormValues: true,
                deferred: $.Deferred(),
                timeout: 750,
                title: null,
                doctype: '<!doctype html>'
            });
        });

        {#for pdf and printing#}
       $(document).ready(function () {
            $('.dropdown-submenu a.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
            {#menu end#}
            $(document).on("click", "#tb", function () {
                $.ajax({
                    url: '/reports/trial_balance',
                    type: 'GET',
                    success: function (data) {
                        $("#report-data").html(data.html_trial_balance);
                        //message
                        swal({
                            position: 'center',
                            type: 'success',
                            title: 'Report data fetched',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    },
                    error: function (data) {
                        sweetAlert({
                            title: "Oops!",
                            text: "Error occoured!",
                            type: "error"
                        });
                    }
                });


            });


            {#display model and forms#}
            /* Functions */

            $(document).on("click", ".create-ledger", function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-ledger").modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                    },
                    success: function (data) {
                        $("#modal-ledger .modal-content").html(data.html_form);
                        //for date select
                        $("#id_account_name").chosen({
                            search_contains: true,
                            no_results_text: "Oops, nothing found!",
                            width: "100%"
                        });
                    }
                });
            });

            $(document).on("click", ".create-expense", function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-expense").modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                    },
                    success: function (data) {
                        $("#modal-expense .modal-content").html(data.html_form);
                    }
                });
            });


            $(document).on("submit", ".create-expense_form", function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: 'json',
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#report-data").html(data.html_expense_list);
                            $("#modal-expense").modal("hide");
                            //message
                            swal({
                                position: 'center',
                                type: 'success',
                                title: 'Report data fetched',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        } else {
                            $("#modal-expense .modal-content").html(data.html_form);

                        }
                    }
                });
                return false;
            });

             $(document).on("click", ".create-suppliers_payments", function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-expense").modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                    },
                    success: function (data) {
                        $("#modal-expense .modal-content").html(data.html_form);
                    }
                });
            });


            $(document).on("submit", ".suppliers_payments_form", function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: 'json',
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#report-data").html(data.html_suppliers_payment_list);
                            $("#modal-expense").modal("hide");
                            //message
                            swal({
                                position: 'center',
                                type: 'success',
                                title: 'Report data fetched',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        } else {
                            $("#modal-expense .modal-content").html(data.html_form);

                        }
                    }
                });
                return false;
            });


             $(document).on("click", ".create-rent_received", function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-expense").modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                    },
                    success: function (data) {
                        $("#modal-expense .modal-content").html(data.html_form);
                    }
                });
            });


            $(document).on("submit", ".rent_received_form", function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: 'json',
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#report-data").html(data.html_rent_received_list);
                            $("#modal-expense").modal("hide");
                            //message
                            swal({
                                position: 'center',
                                type: 'success',
                                title: 'Report data fetched',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        } else {
                            $("#modal-expense .modal-content").html(data.html_form);

                        }
                    }
                });
                return false;
            });


             $(document).on("click", ".create-bank_deposition", function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-expense").modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                    },
                    success: function (data) {
                        $("#modal-expense .modal-content").html(data.html_form);
                    }
                });
            });


            $(document).on("submit", ".bank_deposition_form", function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: 'json',
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#report-data").html(data.html_bank_deposition_list);
                            $("#modal-expense").modal("hide");
                            //message
                            swal({
                                position: 'center',
                                type: 'success',
                                title: 'Report data fetched',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        } else {
                            $("#modal-expense .modal-content").html(data.html_form);

                        }
                    }
                });
                return false;
            });

            $(document).on("click", ".create-head-account", function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-ledger").modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                    },
                    success: function (data) {
                        $("#modal-ledger .modal-content").html(data.html_form);
                        //for date select
                        $("#id_main_account_name").chosen({
                            search_contains: true,
                            no_results_text: "Oops, nothing found!",
                            width: "100%"
                        });
                    }
                });
            });

            $(document).on("click", ".create-customers_outstanding_amounts", function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',

                    success: function (data) {
                        $("#report-data").html(data.html_head_account);
                        //for date select
                        $("#id_sub_account_name").chosen({
                            search_contains: true,
                            no_results_text: "Oops, nothing found!",
                            width: "100%"
                        });
                        //message
                        swal({
                            position: 'center',
                            type: 'success',
                            title: 'Report data fetched',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }
                });
            });

            $(document).on("submit", ".js-ledger-create-form", function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: 'json',
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#report-data").html(data.html_ledger);
                            $("#modal-ledger").modal("hide");
                            //message
                            swal({
                                position: 'center',
                                type: 'success',
                                title: 'Report data fetched',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        } else {
                            $("#modal-ledger .modal-content").html(data.html_form);
                            $("#id_account_name").chosen({
                                search_contains: true,
                                no_results_text: "Oops, nothing found!",
                                width: "100%"
                            });
                        }
                    }
                });
                return false;
            });
            $(document).on("submit", ".js-head-account-create-form", function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: 'json',
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#report-data").html(data.html_head_account);
                            $("#modal-ledger").modal("hide");
                            //message
                            swal({
                                position: 'center',
                                type: 'success',
                                title: 'Report data fetched',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        } else {
                            $("#modal-ledger .modal-content").html(data.html_form);
                            $("#id_main_account_name").chosen({
                                search_contains: true,
                                no_results_text: "Oops, nothing found!",
                                width: "100%"
                            });
                        }
                    }
                });
                return false;
            });
            /* Binding */

            // Create book
            $(".js-create-fee_paid").click(loadForm);

            // Update book
            $("#fee_paid-table").on("click", ".js-update-fee_paid", loadForm);
            $("#modal-fee_paid").on("submit", ".js-fee_paid-update-form", saveForm);

            // Delete book
            $("#fee_paid-table").on("click", ".js-delete-fee_paid", loadForm);
            $("#modal-fee_paid").on("submit", ".js-fee_paid-delete-form", saveForm);

        });

    </script>

{% endblock %}