{% extends '../base.html' %}
{% load mathfilters %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}"/>
    <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'material_time_picker/mdtimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">


                {% block page-header %}

                    <div class="row" style="border-bottom: thin solid #EEEEEE;">
                        <div class=" col-md-3 col-lg-3 col-sm-3 col-xs-3">

                            <div class="btn-group">

                                <button type="button" class="btn btn-primary "
                                        onClick="javascript:history.go(-1);"><i
                                        class="fa fa-chevron-left" aria-hidden="true"></i> Back
                                </button>


                                <button type="button" id="addClient" name="addClient" value="Cancel"
                                        class="btn btn-primary " onclick="javascript:window.location.href='/'">
                                    <i
                                            class="fa fa-home" aria-hidden="true"></i> Home
                                </button>


                            </div>

                        </div>
                        <div class=" col-md-9 col-lg-9 col-sm-9 col-xs-9">

                 <span data-url="{% url 'tank_ledger' %}" class="create-tank_ledger badge badge-pill badge-primary"
                       style="cursor:pointer;">
                 Tank Ledger
                 </span>
                            <span class="badge badge-pill badge-primary" style="cursor:pointer;" id="tb">
                  Trial Balance
                 </span>
                            <span data-url="{% url 'ledger' %}" class="create-ledger badge badge-pill badge-primary"
                                  style="cursor:pointer;">
                Ledger
                </span>
                            <span data-url="{% url 'customers_outstanding_amounts' %}"
                                  class="create-customers_outstanding_amounts badge badge-pill badge-primary"
                                  style="cursor:pointer;">
                 Outstanding Amount
                </span>
                            <span data-url="{% url 'suppliers_payable_amounts' %}"
                                  class="create-customers_outstanding_amounts badge badge-pill badge-primary"
                                  style="cursor:pointer;">
                Suppliers Balance
                </span>
                            <span data-url="{% url 'expenses_list' %}"
                                  class="create-expense badge badge-pill badge-primary" style="cursor:pointer;">
                Expenses
                </span>


                            <a href="{% url 'lubes_stock_histories' %}" class="badge badge-pill badge-primary"> Lube
                                Stock
                            </a>
                            <span data-url="{% url 'suppliers_payments' %}"
                                  class="create-suppliers_payments badge badge-pill badge-primary"
                                  style="cursor:pointer;">
                 Paid To Suppliers
                 </span>
                            <span data-url="{% url 'bank_depositions' %}"
                                  class="create-bank_deposition badge badge-pill badge-primary" style="cursor:pointer;">
                 Bank Depositions
                 </span>
                            <span data-url="{% url 'rent_received' %}"
                                  class="create-rent_received badge badge-pill badge-primary" style="cursor:pointer;">
                  Rent Received
                  </span>
                            <span data-url="{% url 'agency_customer_invoice' %}"
                                  class="agency_customer_invoice badge badge-pill badge-primary"
                                  style="cursor:pointer;">
                    Agency Customer Invoices
                    </span>
                            <span data-url="{% url 'lorries_stocks' %}"
                                  class="badge badge-pill badge-primary" style="cursor:pointer;" id="lorries_stocks">
                    Lorries Stocks
                    </span>
              <span data-url="{% url 'lorries_stocks_history' %}"
                                  class="badge badge-pill badge-primary" style="cursor:pointer;" id="lorries_stocks_history">
                    Lorries Stocks History
                    </span>
                        </div>
                    </div>

                {% endblock %}

                <div id="report-data">


                </div>
            </div>


        </div>
    </div>
    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal" id="modal-ledger" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>

    <div class="modal" id="modal-expense" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>

{% endblock %}

{% block custom_js_files %}
    <script src="{% static 'sweatalert/sweatalert.js' %}"></script>
    <script src="{% static 'js/datetimepicker.min.js' %}"></script>
    <script src="{% static 'material_time_picker/mdtimepicker.min.js' %}"></script>
    <script src="{% static 'choosen/choosen.js' %}"></script>
    <script src="{% static 'jsPDF/jspdf.min.js' %}"></script>
    <script src="{% static 'jsPDF/jspdf.plugin.autotable.min.js' %}"></script>
{% endblock %}

{% block js_inline %}
    <script>
        generate = function (report_title='') {
            var doc = new jsPDF()
            doc.text('Naseer Petroleum Services ('+ report_title +')'+' {% now "jS F Y H:i" %}', 10, 10)
            doc.setFontSize(10);
            doc.autoTable({html: '#ledger, #lorriesstocks, #lorriesstockshistory'})
            doc.save('file.pdf');
        }

            $(document).ready(function () {
                $('.dropdown-submenu a.test').on("click", function (e) {
                    $(this).next('ul').toggle();
                    e.stopPropagation();
                    e.preventDefault();
                });
                {#menu end#}
                $(document).on("click", "#tb", function () {
                    $.ajax({
                        url: '/reports/trial_balance',
                        type: 'GET',
                        success: function (data) {
                            $("#report-data").html(data.html_trial_balance);
                            //message
                            swal({
                                position: 'center',
                                type: 'success',
                                title: 'Report data fetched',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        },
                        error: function (data) {
                            sweetAlert({
                                title: "Oops!",
                                text: "Error occoured!",
                                type: "error"
                            });
                        }
                    });


                });


                {#display model and forms#}
                /* Functions */

                $(document).on("click", ".create-ledger", function () {
                    var btn = $(this);
                    $.ajax({
                        url: btn.attr("data-url"),
                        type: 'get',
                        dataType: 'json',
                        beforeSend: function () {
                            $("#modal-ledger").modal({
                                backdrop: 'static',
                                keyboard: false
                            });
                        },
                        success: function (data) {
                            $("#modal-ledger .modal-content").html(data.html_form);
                            //for date select
                            $("#id_account_name").chosen({
                                search_contains: true,
                                no_results_text: "Oops, nothing found!",
                                width: "100%"
                            });
                        }
                    });
                });

                $(document).on("click", ".create-cc_ledger", function () {
                    var btn = $(this);
                    $.ajax({
                        url: btn.attr("data-url"),
                        type: 'get',
                        dataType: 'json',
                        beforeSend: function () {
                            $("#modal-ledger").modal({
                                backdrop: 'static',
                                keyboard: false
                            });
                        },
                        success: function (data) {
                            $("#modal-ledger .modal-content").html(data.html_form);
                            //for date select
                            $("#id_account_name").chosen({
                                search_contains: true,
                                no_results_text: "Oops, nothing found!",
                                width: "100%"
                            });
                        }
                    });
                });


                $(document).on("click", ".create-tank_ledger", function () {
                    var btn = $(this);
                    $.ajax({
                        url: btn.attr("data-url"),
                        type: 'get',
                        dataType: 'json',
                        beforeSend: function () {
                            $("#modal-ledger").modal({
                                backdrop: 'static',
                                keyboard: false
                            });
                        },
                        success: function (data) {
                            $("#modal-ledger .modal-content").html(data.html_form);
                            //for date select
                            $("#id_tank_name").chosen({
                                search_contains: true,
                                no_results_text: "Oops, nothing found!",
                                width: "100%"
                            });
                        }
                    });
                });


                $(document).on("click", ".create-tank_four_and_five_ledger", function () {
                    var btn = $(this);
                    $.ajax({
                        url: btn.attr("data-url"),
                        type: 'get',
                        dataType: 'json',
                        beforeSend: function () {
                            $("#modal-ledger").modal({
                                backdrop: 'static',
                                keyboard: false
                            });
                        },
                        success: function (data) {
                            $("#modal-ledger .modal-content").html(data.html_form);
                            //for date select
                            $("#id_product_name").chosen({
                                search_contains: true,
                                no_results_text: "Oops, nothing found!",
                                width: "100%"
                            });
                        }
                    });
                });

                $(document).on("click", ".agency_customer_invoice", function () {
                    var btn = $(this);
                    $.ajax({
                        url: btn.attr("data-url"),
                        type: 'get',
                        dataType: 'json',
                        beforeSend: function () {
                            $("#modal-ledger").modal({
                                backdrop: 'static',
                                keyboard: false
                            });
                        },
                        success: function (data) {
                            $("#modal-ledger .modal-content").html(data.html_form);
                            //for date select
                            $("#id_customer").chosen({
                                search_contains: true,
                                no_results_text: "Oops, nothing found!",
                                width: "100%"
                            });
                        }
                    });
                });

                $(document).on("click", ".create-expense", function () {
                    var btn = $(this);
                    $.ajax({
                        url: btn.attr("data-url"),
                        type: 'get',
                        dataType: 'json',
                        beforeSend: function () {
                            $("#modal-expense").modal({
                                backdrop: 'static',
                                keyboard: false
                            });
                        },
                        success: function (data) {
                            $("#modal-expense .modal-content").html(data.html_form);
                        }
                    });
                });


                $(document).on("submit", ".create-expense_form", function () {
                    var form = $(this);
                    $.ajax({
                        url: form.attr("action"),
                        data: form.serialize(),
                        type: form.attr("method"),
                        dataType: 'json',
                        success: function (data) {
                            if (data.form_is_valid) {
                                $("#report-data").html(data.html_expense_list);
                                $("#modal-expense").modal("hide");
                                //message
                                swal({
                                    position: 'center',
                                    type: 'success',
                                    title: 'Report data fetched',
                                    showConfirmButton: false,
                                    timer: 1500
                                })
                            } else {
                                $("#modal-expense .modal-content").html(data.html_form);

                            }
                        }
                    });
                    return false;
                });

                $(document).on("click", ".create-suppliers_payments", function () {
                    var btn = $(this);
                    $.ajax({
                        url: btn.attr("data-url"),
                        type: 'get',
                        dataType: 'json',
                        beforeSend: function () {
                            $("#modal-expense").modal({
                                backdrop: 'static',
                                keyboard: false
                            });
                        },
                        success: function (data) {
                            $("#modal-expense .modal-content").html(data.html_form);
                        }
                    });
                });


                $(document).on("submit", ".suppliers_payments_form", function () {
                    var form = $(this);
                    $.ajax({
                        url: form.attr("action"),
                        data: form.serialize(),
                        type: form.attr("method"),
                        dataType: 'json',
                        success: function (data) {
                            if (data.form_is_valid) {
                                $("#report-data").html(data.html_suppliers_payment_list);
                                $("#modal-expense").modal("hide");
                                //message
                                swal({
                                    position: 'center',
                                    type: 'success',
                                    title: 'Report data fetched',
                                    showConfirmButton: false,
                                    timer: 1500
                                })
                            } else {
                                $("#modal-expense .modal-content").html(data.html_form);

                            }
                        }
                    });
                    return false;
                });


                $(document).on("click", ".create-rent_received", function () {
                    var btn = $(this);
                    $.ajax({
                        url: btn.attr("data-url"),
                        type: 'get',
                        dataType: 'json',
                        beforeSend: function () {
                            $("#modal-expense").modal({
                                backdrop: 'static',
                                keyboard: false
                            });
                        },
                        success: function (data) {
                            $("#modal-expense .modal-content").html(data.html_form);
                        }
                    });
                });


                $(document).on("submit", ".rent_received_form", function () {
                    var form = $(this);
                    $.ajax({
                        url: form.attr("action"),
                        data: form.serialize(),
                        type: form.attr("method"),
                        dataType: 'json',
                        success: function (data) {
                            if (data.form_is_valid) {
                                $("#report-data").html(data.html_rent_received_list);
                                $("#modal-expense").modal("hide");
                                //message
                                swal({
                                    position: 'center',
                                    type: 'success',
                                    title: 'Report data fetched',
                                    showConfirmButton: false,
                                    timer: 1500
                                })
                            } else {
                                $("#modal-expense .modal-content").html(data.html_form);

                            }
                        }
                    });
                    return false;
                });

                $(document).on("click", ".create-fee_paid", function () {
                    var btn = $(this);
                    $.ajax({
                        url: btn.attr("data-url"),
                        type: 'get',
                        dataType: 'json',
                        beforeSend: function () {
                            $("#modal-expense").modal({
                                backdrop: 'static',
                                keyboard: false
                            });
                        },
                        success: function (data) {
                            $("#modal-expense .modal-content").html(data.html_form);
                        }
                    });
                });


                $(document).on("submit", ".fee_paid_form", function () {
                    var form = $(this);
                    $.ajax({
                        url: form.attr("action"),
                        data: form.serialize(),
                        type: form.attr("method"),
                        dataType: 'json',
                        success: function (data) {
                            if (data.form_is_valid) {
                                $("#report-data").html(data.html_fee_paid_list);
                                $("#modal-expense").modal("hide");
                                //message
                                swal({
                                    position: 'center',
                                    type: 'success',
                                    title: 'Report data fetched',
                                    showConfirmButton: false,
                                    timer: 1500
                                })
                            } else {
                                $("#modal-expense .modal-content").html(data.html_form);

                            }
                        }
                    });
                    return false;
                });


                $(document).on("click", ".create-bank_deposition", function () {
                    var btn = $(this);
                    $.ajax({
                        url: btn.attr("data-url"),
                        type: 'get',
                        dataType: 'json',
                        beforeSend: function () {
                            $("#modal-expense").modal({
                                backdrop: 'static',
                                keyboard: false
                            });
                        },
                        success: function (data) {
                            $("#modal-expense .modal-content").html(data.html_form);
                        }
                    });
                });


                $(document).on("submit", ".bank_deposition_form", function () {
                    var form = $(this);
                    $.ajax({
                        url: form.attr("action"),
                        data: form.serialize(),
                        type: form.attr("method"),
                        dataType: 'json',
                        success: function (data) {
                            if (data.form_is_valid) {
                                $("#report-data").html(data.html_bank_deposition_list);
                                $("#modal-expense").modal("hide");
                                //message
                                swal({
                                    position: 'center',
                                    type: 'success',
                                    title: 'Report data fetched',
                                    showConfirmButton: false,
                                    timer: 1500
                                })
                            } else {
                                $("#modal-expense .modal-content").html(data.html_form);

                            }
                        }
                    });
                    return false;
                });

                $(document).on("click", ".create-head-account", function () {
                    var btn = $(this);
                    $.ajax({
                        url: btn.attr("data-url"),
                        type: 'get',
                        dataType: 'json',
                        beforeSend: function () {
                            $("#modal-ledger").modal({
                                backdrop: 'static',
                                keyboard: false
                            });
                        },
                        success: function (data) {
                            $("#modal-ledger .modal-content").html(data.html_form);
                            //for date select
                            $("#id_main_account_name").chosen({
                                search_contains: true,
                                no_results_text: "Oops, nothing found!",
                                width: "100%"
                            });
                        }
                    });
                });

                $(document).on("click", ".create-customers_outstanding_amounts", function () {
                    var btn = $(this);
                    $.ajax({
                        url: btn.attr("data-url"),
                        type: 'get',
                        dataType: 'json',

                        success: function (data) {
                            $("#report-data").html(data.html_head_account);
                            //for date select
                            $("#id_sub_account_name").chosen({
                                search_contains: true,
                                no_results_text: "Oops, nothing found!",
                                width: "100%"
                            });
                            //message
                            swal({
                                position: 'center',
                                type: 'success',
                                title: 'Report data fetched',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                    });
                });

                $(document).on("submit", ".js-ledger-create-form", function () {
                    var form = $(this);
                    $.ajax({
                        url: form.attr("action"),
                        data: form.serialize(),
                        type: form.attr("method"),
                        dataType: 'json',
                        success: function (data) {
                            if (data.form_is_valid) {
                                $("#report-data").html(data.html_ledger);
                                $("#modal-ledger").modal("hide");
                                //message
                                swal({
                                    position: 'center',
                                    type: 'success',
                                    title: 'Report data fetched',
                                    showConfirmButton: false,
                                    timer: 1500
                                })
                            } else {
                                $("#modal-ledger .modal-content").html(data.html_form);
                                $("#id_account_name").chosen({
                                    search_contains: true,
                                    no_results_text: "Oops, nothing found!",
                                    width: "100%"
                                });
                            }
                        }
                    });
                    return false;
                });

                $(document).on("submit", ".js-cc_ledger-create-form", function () {
                    var form = $(this);
                    $.ajax({
                        url: form.attr("action"),
                        data: form.serialize(),
                        type: form.attr("method"),
                        dataType: 'json',
                        success: function (data) {
                            if (data.form_is_valid) {
                                $("#report-data").html(data.html_ledger);
                                $("#modal-ledger").modal("hide");
                                //message
                                swal({
                                    position: 'center',
                                    type: 'success',
                                    title: 'Report data fetched',
                                    showConfirmButton: false,
                                    timer: 1500
                                })
                            } else {
                                $("#modal-ledger .modal-content").html(data.html_form);
                                $("#id_account_name").chosen({
                                    search_contains: true,
                                    no_results_text: "Oops, nothing found!",
                                    width: "100%"
                                });
                            }
                        }
                    });
                    return false;
                });

                $(document).on("submit", ".js-head-account-create-form", function () {
                    var form = $(this);
                    $.ajax({
                        url: form.attr("action"),
                        data: form.serialize(),
                        type: form.attr("method"),
                        dataType: 'json',
                        success: function (data) {
                            if (data.form_is_valid) {
                                $("#report-data").html(data.html_head_account);
                                $("#modal-ledger").modal("hide");
                                //message
                                swal({
                                    position: 'center',
                                    type: 'success',
                                    title: 'Report data fetched',
                                    showConfirmButton: false,
                                    timer: 1500
                                })
                            } else {
                                $("#modal-ledger .modal-content").html(data.html_form);
                                $("#id_main_account_name").chosen({
                                    search_contains: true,
                                    no_results_text: "Oops, nothing found!",
                                    width: "100%"
                                });
                            }
                        }
                    });
                    return false;
                });

                $(document).on("submit", ".js-tank-ledger-create-form", function () {
                    var form = $(this);
                    $.ajax({
                        url: form.attr("action"),
                        data: form.serialize(),
                        type: form.attr("method"),
                        dataType: 'json',
                        success: function (data) {
                            if (data.form_is_valid) {
                                $("#report-data").html(data.html_ledger);
                                $("#modal-ledger").modal("hide");
                                //message
                                swal({
                                    position: 'center',
                                    type: 'success',
                                    title: 'Report data fetched',
                                    showConfirmButton: false,
                                    timer: 1500
                                })
                            } else {
                                $("#modal-ledger .modal-content").html(data.html_form);
                                $("#id_tank_name").chosen({
                                    search_contains: true,
                                    no_results_text: "Oops, nothing found!",
                                    width: "100%"
                                });
                            }
                        }
                    });
                    return false;
                });


                $(document).on("submit", ".js-tank_four_and_five-ledger-create-form", function () {
                    var form = $(this);
                    $.ajax({
                        url: form.attr("action"),
                        data: form.serialize(),
                        type: form.attr("method"),
                        dataType: 'json',
                        success: function (data) {
                            if (data.form_is_valid) {
                                $("#report-data").html(data.html_ledger);
                                $("#modal-ledger").modal("hide");
                                //message
                                swal({
                                    position: 'center',
                                    type: 'success',
                                    title: 'Report data fetched',
                                    showConfirmButton: false,
                                    timer: 1500
                                })
                            } else {
                                $("#modal-ledger .modal-content").html(data.html_form);
                                $("#id_product_name").chosen({
                                    search_contains: true,
                                    no_results_text: "Oops, nothing found!",
                                    width: "100%"
                                });
                            }
                        }
                    });
                    return false;
                });

               $(document).on("submit", ".js-agency_customer_invoice-form", function () {
                    var form = $(this);
                    $.ajax({
                        url: form.attr("action"),
                        data: form.serialize(),
                        type: form.attr("method"),
                        dataType: 'json',
                        success: function (data) {
                            if (data.form_is_valid) {
                                $("#report-data").html(data.html_ledger);
                                $("#modal-ledger").modal("hide");
                                //message
                                swal({
                                    position: 'center',
                                    type: 'success',
                                    title: 'Report data fetched',
                                    showConfirmButton: false,
                                    timer: 1500
                                })
                            } else {
                                $("#modal-ledger .modal-content").html(data.html_form);
                                $("#id_customer").chosen({
                                    search_contains: true,
                                    no_results_text: "Oops, nothing found!",
                                    width: "100%"
                                });
                            }
                        }
                    });
                    return false;
                });

                    $(document).on("click", "#lorries_stocks", function () {
                    var btn = $(this);
                    $.ajax({
                        url: btn.attr("data-url"),
                        type: 'get',
                        dataType: 'json',
                        success: function (data) {
                            $("#report-data").html(data.lorry_stock);
                            swal({
                                position: 'center',
                                type: 'success',
                                title: 'Report data fetched',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                    });
                    return false;
                });

            $(document).on("click", "#lorries_stocks_history", function () {
                    var btn = $(this);
                    $.ajax({
                        url: btn.attr("data-url"),
                        type: 'get',
                        dataType: 'json',
                        success: function (data) {
                            $("#report-data").html(data.lorry_stock_history);
                            swal({
                                position: 'center',
                                type: 'success',
                                title: 'Report data fetched',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                    });
                    return false;
                });
                /* Binding */

                // Create book
                $(".js-create-fee_paid").click(loadForm);

                // Update book
                $("#fee_paid-table").on("click", ".js-update-fee_paid", loadForm);
                $("#modal-fee_paid").on("submit", ".js-fee_paid-update-form", saveForm);

                // Delete book
                $("#fee_paid-table").on("click", ".js-delete-fee_paid", loadForm);
                $("#modal-fee_paid").on("submit", ".js-fee_paid-delete-form", saveForm);

            });

    </script>

{% endblock %}