
<form method="post" action="{% url 'tank_to_lorry_create' %}" class="js-tank_to_lorry-form">
  {% csrf_token %}
  <div class="modal-header bg-primary">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Tank To Lorry Create</h4>
  </div>
  <div class="modal-body">
  {% include 'tank_stock_to_lorry/includes/partial_tank_to_lorry_form.html' %}
  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-default" data-dismiss="modal"><i class="ace-icon fa fa-times white3"></i> Close</button>
        <button type="submit" class="btn btn-primary"><i class="ace-icon fa fa-floppy-o bigger-100"></i> Save </button>
  </div>
</form>