
    {% for unpl in un_posted_tank_to_lorry %}
        <tr>
            <td>{{ unpl.duty }}</td>
            <td>{{ unpl.lorry }}</td>
            <td>{{ unpl.tank }}</td>
            <td>{{ unpl.lorry_shifted_stock }}</td>
            {% if unpl.status == 1 %}
                <td style="color:red;font-weight: bold;">{{ unpl.get_status_display }} <span
                        class="glyphicon glyphicon-time"></span></td>
            {% else %}
                <td style="color: green;font-weight: bold;">{{ unpl.get_status_display }} <span
                        class="glyphicon glyphicon-ok"></span></td>
            {% endif %}
            <td>
                {% if unpl.status == 1 %}
                                <button type="button"
                                        class="btn btn-warning btn-xs js-update-tank_to_lorry"
                                        data-url="{% url 'tank_to_lorry_update' unpl.id %}">
                                    <span class="glyphicon glyphicon-pencil"></span> Post
                                </button>
                                <button type="button"
                                        class="btn btn-danger btn-xs js-delete-tank_to_lorry"
                                        data-url="{% url 'tank_to_lorry_delete' unpl.id %}">
                                    <span class="glyphicon glyphicon-trash"></span> Delete
                                </button>
                    </td>

                {% endif %}


        </tr>
    {% empty %}
        <tr>
            <td colspan="7" class="text-center bg-warning">No any data</td>
        </tr>
    {% endfor %}

