{% extends '../base.html' %}
{% load static %}
{% block page_css_files %}
        <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}"/>
    <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'material_time_picker/mdtimepicker.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">

                {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        Clubcard sales (<span id="total_clubcard_sales">{{ total_clubcard_sales }}</span>)
                    </div>
                {% endblock %}

                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-12">

                                 {% if perms.sales.add_clubcardsalem %}
                          <a href="{% url 'clubcard_sale_create' %}">
                            <button type="button"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus"></span>
                                New
                            </button>
                        </a>
                            {% else %}
                            <button type="button"
                                    class="btn btn-primary btn-sm js-permissions"
                                    data-url="{% url 'privileges_required' %}">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                    New
                            </button>
                            {% endif %}
                     <a href="{% url 'clubcard_sale_home' %}">
                            <button type="button"
                                    class="btn btn-primary">
                                <i class="fa fa-home" aria-hidden="true"></i> home
                            </button>
                        </a>

                    </div>
                </div>
                <table class="table table-bordered" id="clubcard_sale-table">

                    <thead>
                    <tr>
                        <th>Company</th>
                        <th>Date</th>
                         <th>Vehicle</th>
                        <th>Products</th>
                        <th>Duty</th>
                       <th>Amount</th>
                        <th>Payment</th>
                         <th>Status</th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    {% include 'sales/includes/partial_clubcard_sale_list.html' %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!-- THE MODAL WE WILL BE USING -->
<!-- THE MODAL WE WILL BE USING -->
                <div class="modal" id="modal-permissions">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>

    <div class="modal fade" id="modal-delete">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

<div class="modal fade" id="modal-clubcard_vehicle">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block custom_js_files %}
    <script src="{% static 'sweatalert/sweatalert.js' %}"></script>
       <script src="{% static 'js/datetimepicker.min.js' %}"></script>
       <script src="{% static 'material_time_picker/mdtimepicker.min.js' %}"></script>
     <script src="{% static 'choosen/choosen.js' %}"></script>
{% endblock %}

{#page specific inline js#}
{% block js_inline %}
    <script>


$(document).ready(function () {

        var loadForm = function () {
            var btn = $(this);
            $.ajax({
                url: btn.attr("data-url"),
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                    $("#modal-permissions").modal({
                        backdrop: 'static',
                        keyboard: false
                    });
                },
                success: function (data) {
                    $("#modal-permissions .modal-content").html(data.html_form);
                }
            });
        };


        $(".js-permissions").click(loadForm);

});

    </script>
     <script src="{% static 'js/custom/clubcard_sale_create.js' %}"></script>
{% endblock %}