{% extends '../base.html' %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'material_time_picker/mdtimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">

                {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        Club card sale ( Home )
                    </div>
                {% endblock %}

                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-12">
                        <a href="{% url 'clubcard_sale_create' %}">
                        <button type="button"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span>
                            New
                        </button>
                            </a>
                        <a href="{% url 'clubcard_sales_list' %}">
                            <button type="button"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-list"></span>
                                Club card sale list
                            </button>
                        </a>
                    </div>
                </div>
                <div style="font-size: 60px;font-weight: bolder; color: lightgray;" class="text-center"
                     id="total_purchases">
                    {{ total_clubcard_sales }}
                </div>
                <div style="font-size: 60px;font-weight: bolder; color: lightgray;" class="text-center">
                    Club Card Sales
                </div>
            </div>

        </div>
    </div>
    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal fade" id="modal-sale">
        <div class="modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-tl">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>


{% endblock %}

{% block custom_js_files %}
    <script src="{% static 'js/custom/clubcard_sales.js' %}"></script>
    <script src="{% static 'sweatalert/sweatalert.js' %}"></script>
    <script src="{% static 'js/datetimepicker.min.js' %}"></script>
    <script src="{% static 'material_time_picker/mdtimepicker.min.js' %}"></script>
    <script src="{% static 'choosen/choosen.js' %}"></script>
{% endblock %}

{% block js_inline %}
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/fuel_purchases/create',
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                    $("#modal-product").modal("show");
                },
                success: function (data) {
                    $("#modal-product .modal-content").html(data.html_form);

                    //date picker
                    $('#id_date').datetimepicker({
                        format: "Y-m-d h:m:s",
                        onShow: function (ct) {

                        },
                        timepicker: false
                    });
                    //timepicker
                    $('#id_tl_reporting_time, #id_tl_decantation_time, #id_tl_checkout_time').mdtimepicker({

                        // format of the time value (data-time attribute)
                        timeFormat: 'hh:mm:ss.000',

                        // format of the input value
                        format: 'h:mm tt',

                        // theme of the timepicker
                        // 'red', 'purple', 'indigo', 'teal', 'green'
                        theme: 'blue',

                        // determines if input is readonly
                        readOnly: false,

                        // determines if display value has zero padding for hour value less than 10 (i.e. 05:30 PM); 24-hour format has padding by default
                        hourPadding: false

                    });
                    //millisho calculation
                    var tl_dip = 0;
                    var tl_dip_observed = 0;

                    $('#id_tl_dip_observed').keyup(function () {
                        tl_dip = $('#id_tl_dip').val();
                        tl_dip_observed = $(this).val();
                        var ms = tl_dip - tl_dip_observed;
                        $('#id_milli_short').val(ms);
                    });

                    $('#id_tl_dip').keyup(function () {
                        tl_dip = $(this).val();
                        tl_dip_observed = $('#id_tl_dip_observed').val();
                        var ms = tl_dip - tl_dip_observed;
                        $('#id_milli_short').val(ms);
                    });
                }
            });


        });

    </script>
{% endblock %}