{% extends '../base.html' %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'material_time_picker/mdtimepicker.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
            <link rel="stylesheet" href="{% static 'data_tables/datatables.min.css' %}">
{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">

                {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        Lube Purchases (<span id="total_purchases">{{ total_purchases }}</span>)
                    </div>
                {% endblock %}

                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-12">
                        <a href="{% url 'lubes_purchase_create' %}">
                            <button type="button"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus"></span>
                                New
                            </button>
                        </a>

                    </div>
                </div>
                <table class="table table-bordered" id="lube_purchase-table">

                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>User</th>
                        <th>Supplier</th>
                        <th>Status</th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    {% include 'purchases/includes/partial_lube_purchase_list.html' %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!-- THE MODAL WE WILL BE USING -->


    <div class="modal fade" id="modal-delete">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

    </div>
{% endblock %}

{% block custom_js_files %}
    <script src="{% static 'sweatalert/sweatalert.js' %}"></script>
       <script src="{% static 'js/datetimepicker.min.js' %}"></script>
       <script src="{% static 'material_time_picker/mdtimepicker.min.js' %}"></script>
     <script src="{% static 'choosen/choosen.js' %}"></script>
     <script src="{% static 'data_tables/datatables.min.js' %}"></script>
{% endblock %}

{#page specific inline js#}
{% block js_inline %}
    <script>
 $(document).ready(function () {
            $('#lube_purchase-table').DataTable();
        });
    </script>
     <script src="{% static 'js/custom/lube_purchase.js' %}"></script>
{% endblock %}