{% extends '../base.html' %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}"/>
    <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'material_time_picker/mdtimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">

{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">

                {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        Fuel Purchase By Lorry (Home)
                    </div>
                {% endblock %}

                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-12">

                        {% if perms.purchases.add_lubepurchasem_by_lorry %}
                              <a href="{% url 'fuels_purchase_by_lorry_create' %}">
                        <button type="button"
                                class="btn btn-primary js-create-purchase">
                            <span class="glyphicon glyphicon-plus"></span>
                            New
                        </button>
                                    </a>
                        {% else %}
                            <button type="button"
                                    class="btn btn-primary js-permissions"
                                    data-url="{% url 'privileges_required' %}">
                                <span class="glyphicon glyphicon-plus"></span>
                                New
                            </button>
                        {% endif %}


                    {% if perms.purchases.list_lubepurchasem_by_lorry %}
                        <a href="{% url 'fuels_purchase_by_lorry_list' %}">
                            <button type="button"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-list"></span>
                                Fuel Purchase By Lorry list
                            </button>
                        </a>
                            {% else %}
                         <button type="button" data-url="{% url 'privileges_required' %}"
                                    class="btn btn-primary js-permissions">
                                <span class="glyphicon glyphicon-list"></span>
                                Fuel Purchase By Lorry list
                            </button>
                            {% endif %}
                      <a href="{% url 'dashboard' %}">
                            <button type="button"
                                    class="btn btn-primary">
                                <i class="fa fa-remove" aria-hidden="true"></i> Close
                            </button>
                        </a>
                    </div>
                </div>
                <div style="font-size: 60px;font-weight: bolder; color: lightgray;" class="text-center"
                     id="total_purchases">
                    {{ total_purchases_by_lorry }}
                    <span style="font-size: 20px;">( Un Posted : {{ not_posted }} )</span>
                </div>
                <div style="font-size: 60px;font-weight: bolder; color: lightgray;" class="text-center">
                    Fuel Purchases By Lorry
                </div>
            </div>

        </div>
    </div>
    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal fade" id="modal-purchase">
        <div class="modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-tl">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>

    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal" id="modal-permissions">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>


{% endblock %}

{% block custom_js_files %}
    <script src="{% static 'sweatalert/sweatalert.js' %}"></script>
    <script src="{% static 'js/datetimepicker.min.js' %}"></script>
    <script src="{% static 'material_time_picker/mdtimepicker.min.js' %}"></script>
    <script src="{% static 'choosen/choosen.js' %}"></script>
{% endblock %}

{% block js_inline %}
    <script>
        $(document).ready(function () {




            var loadForm = function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-permissions").modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                    },
                    success: function (data) {
                        $("#modal-permissions .modal-content").html(data.html_form);
                    }
                });
            };

            $(".js-permissions").click(loadForm);

        });

    </script>
{% endblock %}