{% for bank_to_bank_transfer in bank_to_bank_transfer %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ bank_to_bank_transfer.from_bank }}</td>
        <td>{{ bank_to_bank_transfer.to_bank }}</td>
        <td>{{ bank_to_bank_transfer.duty }}</td>
        <td>{{ bank_to_bank_transfer.description }}</td>
    <td>{{ bank_to_bank_transfer.amount }}</td>
         {% if bank_to_bank_transfer.status == 1 %}
            <td style="color:red;font-weight: bold;">{{ bank_to_bank_transfer.get_status_display }} <span
                    class="glyphicon glyphicon-time"></span></td>
        {% else %}
            <td style="color: green;font-weight: bold;">{{ bank_to_bank_transfer.get_status_display }} <span
                    class="glyphicon glyphicon-ok"></span></td>
        {% endif %}
        <td>
            {% if bank_to_bank_transfer.status == 1 %}
            <button type="button"
                    class="btn btn-warning btn-sm js-update-bank_to_bank_transfer"
                    data-url="{% url 'bank_to_bank_transfer_update' bank_to_bank_transfer.id %}">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-bank_to_bank_transfer"
                    data-url="{% url 'bank_to_bank_transfer_delete' bank_to_bank_transfer.id %}">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </td>

     {% endif %}


    </tr>
{% empty %}
    <tr>
        <td colspan="8" class="text-center bg-warning">No any data</td>
    </tr>
{% endfor %}