<form method="post" action="{% url 'bank_to_bank_transfer_delete' bank_to_bank_transfer.id %}" class="js-bank_to_bank_transfer-delete-form">
  {% csrf_token %}
  <div class="modal-header" style="background-color: #D15B47;color: #fff;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirm bank to bank transfer deletion</h4>
  </div>
  <div class="modal-body">
    <p class="lead"><i class="glyphicon glyphicon-alert"></i> Are you sure you want to delete the bank to bank transfer with ID:<strong>{{ bank_to_bank_transfer.fee_invoice_no }}</strong> ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger">Delete bank to bank transfer</button>
  </div>
</form>