{% extends '../base.html' %}
{% load static %}
{% block page_css_files %}
        <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}"/>
    <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/datetimepicker.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">

                {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        Bank expense ( Home)
                    </div>
                {% endblock %}

                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-12">
                         <button type="button"
                                class="btn btn-primary js-create-bank_expense"
                                data-url="{% url 'bank_expense_create' %}">
                            <span class="glyphicon glyphicon-plus"></span>
                            New
                        </button>

                        {% if perms.bank_expense.list_bank_expense %}
                         <a href="{% url 'bank_expense_list' %}">
                            <button type="button"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-list"></span>
                                bank expense list
                            </button>
                        </a>
                            {% else %}
                         <button type="button" data-url="{% url 'privileges_required' %}"
                                    class="btn btn-primary js-permissions">
                                <span class="glyphicon glyphicon-list"></span>
                                bank expense list
                            </button>
                            {% endif %}
                    </div>
                </div>
            <div style="font-size: 60px;font-weight: bolder; color: lightgray;" class="text-center" id="total_bank_expense">
                {{ total_bank_expense}}
            </div>
            <div style="font-size: 60px;font-weight: bolder; color: lightgray;" class="text-center">
                bank expense
            </div>
            </div>

        </div>
    </div>
 <!-- THE MODAL WE WILL BE USING -->
    <div class="modal fade" id="modal-bank_expense">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
<!-- THE MODAL WE WILL BE USING -->
    <div class="modal" id="modal-permissions">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js_files %}
    <script src="{% static 'js/custom/bank_expense.js' %}"></script>
    <script src="{% static 'sweatalert/sweatalert.js' %}"></script>
    <script src="{% static 'js/datetimepicker.min.js' %}"></script>
     <script src="{% static 'choosen/choosen.js' %}"></script>
{% endblock %}

{% block js_inline %}
    <script>
$(document).ready(function () {

            var loadForm = function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-permissions").modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                    },
                    success: function (data) {
                        $("#modal-permissions .modal-content").html(data.html_form);
                    }
                });
            };

            $(".js-permissions").click(loadForm);

        });
    </script>
{% endblock %}