<form method="post" action="{% url 'meter_delete' meter.id %}" class="js-meter-delete-form">
  {% csrf_token %}
  <div class="modal-header" style="background-color: #D15B47;color: #fff;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirm meter deletion</h4>
  </div>
  <div class="modal-body">
    <p class="lead"><i class="glyphicon glyphicon-alert"></i> Are you sure you want to delete the meter <strong>{{ meter.title }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="ace-icon fa fa-times white3"></i> Close</button>
    <button type="submit" class="btn btn-danger"><i class="ace-icon fa fa-trash-o bigger100"></i> Delete meter</button>
  </div>
</form>