{% for meter in meters %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ meter.meter_name }}</td>
        <td>{{ meter.tank }}</td>
        <td>{{ meter.product }}</td>
        <td>{{ meter.meter_description }}</td>
        <td><button type="button"
              class="btn btn-warning btn-xs js-update-meter"
              data-url="{% url 'meter_update' meter.id %}">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
        <button type="button"
              class="btn btn-danger btn-xs js-delete-meter"
              data-url="{% url 'meter_delete' meter.id %}">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="5" class="text-center bg-warning">No meters</td>
    </tr>
{% endfor %}