<!DOCTYPE html>
<html lang="en">


<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>

    <title>
        {% block title %}
        {% endblock %}
    </title>

    <meta name="description" content="overview &amp; stats"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>


    {% block style %}

        <style>

        </style>

    {% endblock %}

</head>


<body class="no-skin">


<div class="main-container ace-save-state" id="main-container">


    {% block content %}

        {% block page-header %}

        {% endblock %}



    {% endblock %}

</div>
</body>
</html>
