{% extends 'base.html' %}
{% load static %}
{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <div style="margin-left:35%;padding-top:10%;">

            <span style="font-size: 50px;color: rgba(54,54,52,0.93);">NPS</span>


    </div>

{% endblock %}



