




<div style="
    border: solid 1px #F2F2F2;
    background-color: #F2F2F2;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);">
  <div class="modal-header red2" >
    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" aria-label="Ok" style="float: right;">
      Ok
    </button>
    <h4 class="modal-title"><span class="fa fa-info-circle"></span> Permission requiered <span class="fa fa-key"></span></h4>
  </div>
  <div class="modal-body">

      <span class="green text-capitalize" style="font-size: 1.1em;">{{ request.user.username }}</span>  <span style="font-size:1.1em;">You are not allowed for this action! Please contact to admin!</span><br>
        <strong style="font-size: 1.1em;"> آپ کواس عمل کی اجازت نہیں ہے اپنے ایڈمن سے رابطہ کریں۔</strong> <span class="green text-capitalize" style="font-size: 1.1em;">{{ request.user.username }}</span>
  </div>
</div>
