{% for recovery in duty.recoverym_set.all %}
    <tr>

        <td>{{ recovery.duty_person }}</td>
        <td>{{ recovery.duty }}</td>
        <td>{{ recovery.user }}</td>
        <td>{{ recovery.net_amount }}</td>
             {% if recovery.status == 1 %}
        <td style="color:red;font-weight: bold;">{{ recovery.get_status_display }} <span
                class="glyphicon glyphicon-time"></span></td>
    {% else %}
        <td style="color: green;font-weight: bold;">{{ recovery.get_status_display }} <span
                class="glyphicon glyphicon-ok"></span></td>
    {% endif %}

        <td class="text-right">
            <a href="{% url 'recovery_detail' recovery.id %}">
                <button type="button"
                        class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span> Show
                </button>
            </a>
 {% if recovery.status == 1 %}
            {% if perms.cash.change_recoverym %}
                <a href="{% url 'latest_recovery_update' recovery.id %}">
                    <button type="button"
                            class="btn btn-warning btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span> Post
                    </button>
                </a>
            {% else %}
                <button type="button"
                        class="btn btn-warning btn-sm js-permissions"
                        data-url="{% url 'privileges_required' %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Post
                </button>
            {% endif %}

        {% if perms.cash.delete_recoverym %}
                <a href="{% url 'latest_recovery_delete' recovery.id %}">
                    <button type="button"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                </a>
            {% else %}
                <button type="button"
                        class="btn btn-danger btn-sm js-permissions"
                        data-url="{% url 'privileges_required' %}">
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete
                </button>
            {% endif %}
            {% endif %}
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="6" class="text-center bg-warning">No Recovery</td>
    </tr>
{% endfor %}