<form method="post" action="{% url 'duty_club_card_income_delete' club_card_income.id %}" class="js-club_card_income-delete-form">
  {% csrf_token %}
  <div class="modal-header" style="background-color: #D15B47;color: #fff;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirm club card income deletion</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Are you sure you want to delete the club card income <strong>{{ club_card_income.title }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger">Delete club card income</button>
  </div>
</form>