{% for sale in duty.tankfuelsalem_set.all %}
    <tr>
        <td>{{ sale.duty_person }}</td>
        <td>{{ sale.duty }}</td>
        <td>{{ sale.product }}</td>
        <td>{{ sale.user }}</td>
        <td>{{ sale.net_qty_sold }}</td>
                {% if sale.status == 1 %}
        <td style="color:red;font-weight: bold;">{{ sale.get_status_display }} <span
                class="glyphicon glyphicon-time"></span></td>
    {% else %}
        <td style="color: green;font-weight: bold;">{{ sale.get_status_display }} <span
                class="glyphicon glyphicon-ok"></span></td>
    {% endif %}
        <td class="text-right">
            <a href="{% url 'tankfuels_sale_detail' sale.id %}">
                <button type="button"
                        class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span> Show
                </button>
            </a>

     {% if sale.status == 1 %}
            {% if perms.sales.change_tankfuelsalem %}
                <a href="{% url 'tankfuels_sale_update' sale.id %}">
                    <button type="button"
                            class="btn btn-warning btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span> Post
                    </button>
                </a>
            {% else %}
                <button type="button"
                        class="btn btn-warning btn-sm js-permissions"
                        data-url="{% url 'privileges_required' %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Edit
                </button>
            {% endif %}

        {% if perms.sales.delete_tankfuelsalem %}
                <a href="{% url 'latest_tank_fuel_sale_delete' sale.id %}">
                    <button type="button"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                </a>
            {% else %}
                <button type="button"
                        class="btn btn-danger btn-sm js-permissions"
                        data-url="{% url 'privileges_required' %}">
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete
                </button>
            {% endif %}
            {% endif %}
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="7" class="text-center bg-warning">No tank sales</td>
    </tr>
{% endfor %}