{% for duty in duties %}
    <tr>
        <td></td>
        <td>{{ duty }}</td>
    <td>
        {% for duty_man in duty.dutymen_set.all %}
                {{ duty_man.duty_person }} ({{ duty_man.get_duty_at_display }}),
        {% endfor %}
    </td>
    <td>
        <a href="{% url 'duty_detail' duty.id %}">
            <button type="button"
                    class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-eye-open"></span> Show
            </button>
        </a>
        <a href="{% url 'duty_update' duty.id %}">
            <button type="button"
                    class="btn btn-warning btn-sm">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>
        </a>
        <button type="button"
                class="btn btn-danger btn-sm js-delete-duty"
                data-url="{% url 'duty_delete' duty.id %}">
            <span class="glyphicon glyphicon-trash"></span> Delete
        </button>
    </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="3" class="text-center bg-warning">No any duty</td>
    </tr>
{% endfor %}