{% for cash_out in duty.creditsalem_set.all %}
    <tr>
        <td>{{ cash_out.duty_person }}</td>
        <td>{{ cash_out.duty }}</td>
        <td>{{ cash_out.user }}</td>
        <td>{{ cash_out.net_amount }}</td>
        {% if cash_out.status == 1 %}
        <td style="color:red;font-weight: bold;">{{ cash_out.get_status_display }} <span
                class="glyphicon glyphicon-time"></span></td>
    {% else %}
        <td style="color: green;font-weight: bold;">{{ cash_out.get_status_display }} <span
                class="glyphicon glyphicon-ok"></span></td>
    {% endif %}

        <td class="text-right">
            <a href="{% url 'cash_out_detail' cash_out.id %}">
                <button type="button"
                        class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span> Show
                </button>
            </a>
     {% if cash_out.status == 1 %}
            {% if perms.cash.change_creditsalem %}
                <a href="{% url 'latest_cash_out_update' cash_out.id %}">
                    <button type="button"
                            class="btn btn-warning btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span> Post
                    </button>
                </a>
            {% else %}
                <button type="button"
                        class="btn btn-warning btn-sm js-permissions"
                        data-url="{% url 'privileges_required' %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Post
                </button>
            {% endif %}
       {% if perms.cash.delete_creditsalem %}
                <a href="{% url 'latest_cash_out_delete' cash_out.id %}">
                    <button type="button"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                </a>
            {% else %}
                <button type="button"
                        class="btn btn-danger btn-sm js-permissions"
                        data-url="{% url 'privileges_required' %}">
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete
                </button>
            {% endif %}
        {% endif %}
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="6" class="text-center bg-warning">No Cash Out</td>
    </tr>
{% endfor %}

