{% for expense in duty_expenses %}
    <tr>
        <td>{{ expense.duty_person }}</td>

        <td>{{ expense.net_amount }}</td>
     {% if expense.status == 1 %}
            <td style="color:red;font-weight: bold;">{{ expense.get_status_display }} <span
                    class="glyphicon glyphicon-time"></span></td>
        {% else %}
            <td style="color: green;font-weight: bold;">{{ expense.get_status_display }} <span
                    class="glyphicon glyphicon-ok"></span></td>
        {% endif %}
        <td class="text-right">
                <a href="{% url 'detail_duty_expense' expense.id %}">
            <button type="button"
                    class="btn btn-success btn-sm ">
                <span class="glyphicon glyphicon-eye-open"></span> Show
            </button>
                </a>
             {% if expense.status == 1 %}
            <a href="{% url 'duty_expense_update' expense.id %}">
                <button type="button"
                        class="btn btn-warning btn-sm ">
                    <span class="glyphicon glyphicon-pencil"></span> Post
                </button>
            </a>
            <a href="{% url 'duty_expense_delete' expense.id %}">
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-expense">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
                </a>
            {% endif %}


        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="4" class="text-center bg-warning">No any Expense</td>
    </tr>
{% endfor %}