{% for sale in duty.lubesalem_set.all %}
    <tr>
        <td>{{ sale.duty_person }}</td>
        <td>{{ sale.duty }}</td>
        <td>{{ sale.user }}</td>
        <td>{{ sale.net_amount }}</td>
        {% if sale.status == 1 %}
        <td style="color:red;font-weight: bold;">{{ sale.get_status_display }} <span
                class="glyphicon glyphicon-time"></span></td>
    {% else %}
        <td style="color: green;font-weight: bold;">{{ sale.get_status_display }} <span
                class="glyphicon glyphicon-ok"></span></td>
    {% endif %}
        <td class="text-right">
            <a href="{% url 'lubes_sale_detail' sale.id %}">
                <button type="button"
                        class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span> Show
                </button>
            </a>
             {% if sale.status == 1 %}
            <a href="{% url 'lubes_sale_update' sale.id %}">
                <button type="button"
                        class="btn btn-warning btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span> Post
                </button>
            </a>
            <a href="{% url 'latest_lube_sale_delete' sale.id %}">
                <button type="button"
                        class="btn btn-danger btn-sm "
                >
                    <span class="glyphicon glyphicon-trash"></span> Delete
                </button>
            </a>
            {% endif %}
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="6" class="text-center bg-warning">No lubes sales</td>
    </tr>
{% endfor %}