
{% load widget_tweaks %}

<form method="post" action="{% url 'duty_fuel_vehicle_income_update' form.instance.pk %}" class="js-fuel_vehicle_income-update-form">
  {% csrf_token %}
  <div class="modal-header bg-primary">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Update club card income</h4>
  </div>
  <div class="modal-body">
    {% include 'duties/includes/partial_fuel_vehicle_income_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="ace-icon fa fa-times white3"></i> Close</button>
        <button type="submit" class="btn btn-primary"><i class="ace-icon fa fa-floppy-o bigger-100"></i> Update fuel vehicle income </button>
  </div>
</form>