{% for cash_in in duty.netsalem_set.all %}
    <tr>

        <td>{{ cash_in.duty_person }}</td>
        <td>{{ cash_in.duty }}</td>
        <td>{{ cash_in.user }}</td>
        <td>{{ cash_in.net_amount }}</td>
             {% if cash_in.status == 1 %}
        <td style="color:red;font-weight: bold;">{{ cash_in.get_status_display }} <span
                class="glyphicon glyphicon-time"></span></td>
    {% else %}
        <td style="color: green;font-weight: bold;">{{ cash_in.get_status_display }} <span
                class="glyphicon glyphicon-ok"></span></td>
    {% endif %}

        <td class="text-right">
            <a href="{% url 'cash_in_detail' cash_in.id %}">
                <button type="button"
                        class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span> Show
                </button>
            </a>
 {% if cash_in.status == 1 %}
            {% if perms.cash.change_netsalem %}
                <a href="{% url 'latest_cash_in_update' cash_in.id %}">
                    <button type="button"
                            class="btn btn-warning btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span> Post
                    </button>
                </a>
            {% else %}
                <button type="button"
                        class="btn btn-warning btn-sm js-permissions"
                        data-url="{% url 'privileges_required' %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Post
                </button>
            {% endif %}

        {% if perms.cash.delete_netsalem %}
                <a href="{% url 'latest_cash_in_delete' cash_in.id %}">
                    <button type="button"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                </a>
            {% else %}
                <button type="button"
                        class="btn btn-danger btn-sm js-permissions"
                        data-url="{% url 'privileges_required' %}">
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete
                </button>
            {% endif %}
            {% endif %}
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="6" class="text-center bg-warning">No Cash In</td>
    </tr>
{% endfor %}