{% for cs in club_card_latest_sales %}
    <tr>
        <td>{{ cs.company_name }}</td>
        <td>{{ cs.date }}</td>
    <td>{{ cs.clubcardvehicle }}</td>
        <td>
            {% for p in cs.clubcardsales_set.all %}
                    {{ p.product }} [ {{ p.qty_sold }}]
            {% endfor %}
        </td>
        <td>{{ cs.duty }}</td>
        <td>{{ cs.net_amount }}</td>

        {% if cs.paymentstatus == 1 %}
            <td style="color:green;font-weight: bold;">{{ cs.get_paymentstatus_display }} <span
                    class="fa fa-battery-full"></span></td>
        {% elif cs.paymentstatus == 2 %}
            <td style="color: #f98f55;font-weight: bold;">{{ cs.get_paymentstatus_display }} <span
                    class="fa fa-battery-half"></span></td>
        {% else%}
            <td style="color: red;font-weight: bold;">{{ cs.get_paymentstatus_display }} <span
                    class="fa fa-battery-empty"></span></td>

        {% endif %}

    {% if cs.status == 1 %}
            <td style="color:red;font-weight: bold;">{{ cs.get_status_display }} <span class="glyphicon glyphicon-time"></span></td>
                {% else %}
            <td style="color: green;font-weight: bold;">{{ cs.get_status_display }} <span class="glyphicon glyphicon-ok"></span></td>
        {% endif %}


        <td>
            <a href="{% url 'clubcard_sale_detail' cs.id %}">
                <button type="button"
                        class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span> Show
                </button>
            </a>
            {% if cs.status == 1 %}
                {% if perms.purchases.change_fuelpurchasem %}
                    <a href="{% url 'clubcard_sale_update' cs.id %}">
                        <button type="button"
                                class="btn btn-warning btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span> Post
                        </button>
                    </a>
                {% else %}
                    <button type="button"
                            class="btn btn-warning btn-sm js-permissions"
                            data-url="{% url 'privileges_required' %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Post
                    </button>
                {% endif %}
                <a href="{% url 'clubcard_sale_delete' cs.id %}">
                    <button type="button"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                </a>
            {% endif %}
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="9" class="text-center bg-warning">No club card sales</td>
    </tr>
{% endfor %}