{% for fuel_vehicle_income in fuel_vehicle_incomes %}
    <tr>
        <td>{{ fuel_vehicle_income.date }}</td>
        <td>{{ fuel_vehicle_income.amount }}</td>
        <td class="text-right"><button type="button"
              class="btn btn-warning btn-sm js-update-fuel_vehicle_income"
              data-url="{% url 'duty_fuel_vehicle_income_update' fuel_vehicle_income.id %}">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>
        <button type="button"
              class="btn btn-danger btn-sm js-delete-fuel_vehicle_income"
              data-url="{% url 'duty_fuel_vehicle_income_delete' fuel_vehicle_income.id %}">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="3" class="text-center bg-warning">No fuel vehicle incomes</td>
    </tr>
{% endfor %}