{% for bank_expense in bank_expense %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ bank_expense.from_bank }}</td>
        <td>{{ bank_expense.duty }}</td>
        <td>{{ bank_expense.description }}</td>
    <td>{{ bank_expense.amount }}</td>
         {% if bank_expense.status == 1 %}
            <td style="color:red;font-weight: bold;">{{ bank_expense.get_status_display }} <span
                    class="glyphicon glyphicon-time"></span></td>
        {% else %}
            <td style="color: green;font-weight: bold;">{{ bank_expense.get_status_display }} <span
                    class="glyphicon glyphicon-ok"></span></td>
        {% endif %}
        <td>
            {% if bank_expense.status == 1 %}
            <button type="button"
                    class="btn btn-warning btn-sm js-update-bank_expense"
                    data-url="{% url 'bank_expense_update' bank_expense.id %}">
                <span class="glyphicon glyphicon-pencil"></span> Post
            </button>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-bank_expense"
                    data-url="{% url 'bank_expense_delete' bank_expense.id %}">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </td>

     {% endif %}


    </tr>
{% empty %}
    <tr>
        <td colspan="8" class="text-center bg-warning">No any data</td>
    </tr>
{% endfor %}