
<form method="post" action="{% url 'bank_expense_create' %}" class="js-bank_expense-create-form">
  {% csrf_token %}
  <div class="modal-header bg-primary">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">New bank expense</h4>
  </div>
  <div class="modal-body">
  {% include 'bank_expense/includes/partial_bank_expense_form.html' %}
  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-default" data-dismiss="modal"><i class="ace-icon fa fa-times white3"></i> Close</button>
        <button type="submit" class="btn btn-primary"><i class="ace-icon fa fa-floppy-o bigger-100"></i> Create bank expense </button>
  </div>
</form>