{% extends '../base.html' %}
{% block style %}
    <style>

    </style>
{% endblock %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}"/>
    <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/datetimepicker.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">
                {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        Milli Short Recovery (<span
                            id="total_fee_paid">{{ total_milli_shorts }}</span>)
                    </div>
                {% endblock %}
<div class="col-sm-4 col-md-4 col-lg-4" style="background-color: #1B6AAA;color: #FFFFFF;">
      <table class="table table-bordered" id="show_advance_given_detail-table">
                    <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Product</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% include 'milli_short_recovery/includes/partial_milli_short_list.html' %}
                    </tbody>
                </table>
</div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                      <table class="table table-bordered" id="show_advance_given_detail-table">
                    <thead>
                    <tr>
                        <th>Company</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Amount</th>
                        <th>Percent</th>
                        <th>Percentage</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% include 'milli_short_recovery/includes/partial_milli_short_recovery_list.html' %}
                    </tbody>
                </table>
            </div>


            </div>
        </div>
    </div>
    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal fade" id="modal-paid_to_club_card_customer">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal" id="modal-permissions">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal" id="modal-milli_short_recovery_detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <input type="text">
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js_files %}
    <script src="{% static 'js/custom/milli_short_recovery.js' %}"></script>
    <script src="{% static 'js/datetimepicker.min.js' %}"></script>
    <script src="{% static 'choosen/choosen.js' %}"></script>
{% endblock %}

{% block js_inline %}
    <script>
        $(document).ready(function () {

            var loadForm = function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-permissions").modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                    },
                    success: function (data) {
                        $("#modal-permissions .modal-content").html(data.html_form);
                    }
                });
            };

            $(".js-permissions").click(loadForm);

        });

        function remove_me() {
            var sum = 0;
            var percentage = 0;

            $('table').on('click', '.remove_it', function (e) {
                $(this).closest('tr').remove()

                 $('.total_amount').each(function () {
                    sum += parseInt($(this).val());
                });
                $('.sum_total_amount').val(sum);
                percentage = parseFloat($('.percent').val() / 100) * parseFloat($('.sum_total_amount').val());
                $('.percentage').val(parseFloat(percentage).toFixed(3));
            })

        }


    </script>
{% endblock %}