
{% load widget_tweaks %}

<form method="post" action="{% url 'club_card_income_create' %}" class="js-club_card_income-create-form">
  {% csrf_token %}
  <div class="modal-header bg-primary">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Create a new club card income</h4>
  </div>
  <div class="modal-body">
  {% include 'club_card_incomes/includes/partial_club_card_income_form.html' %}
  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-default" data-dismiss="modal"><i class="ace-icon fa fa-times white3"></i> Close</button>
        <button type="submit" class="btn btn-primary"><i class="ace-icon fa fa-floppy-o bigger-100"></i> Create club card income </button>
  </div>
</form>