{% for club_card_income in club_card_incomes %}
    <tr>
        <td></td>
        <td>{{ club_card_income.date }}</td>
        <td>{{ club_card_income.amount }}</td>
        <td><button type="button"
              class="btn btn-warning btn-sm js-update-club_card_income"
              data-url="{% url 'club_card_income_update' club_card_income.id %}">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>
        <button type="button"
              class="btn btn-danger btn-sm js-delete-club_card_income"
              data-url="{% url 'club_card_income_delete' club_card_income.id %}">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="4" class="text-center bg-warning">No club card incomes</td>
    </tr>
{% endfor %}