{% extends '../../base.html' %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'choosen/choosen.css' %}">
    <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'material_time_picker/mdtimepicker.min.css' %}">

{% endblock %}
{% block style %}
    <style>

    </style>
{% endblock %}
<title>{% block title %}Duty expense ( New ){% endblock %}</title>

{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">


                {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        Duty expense ( New )
                    </div>
                {% endblock %}

                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-12">

                        <button type="button" class="btn btn-primary" onClick="javascript:history.go(-1);"><i
                                class="fa fa-chevron-left" aria-hidden="true"></i> back
                        </button>

                        <button type='button' class="btn btn-primary" id="id_btn_save"><i
                                class="ace-icon fa fa-floppy-o bigger-100"></i> save
                        </button>

                    </div>
                </div>
              <hr>
            <div id="sale_transition" style="background-color: #428bca;padding: 2px;color: #fff;">

            </div>
                <hr>
                <form action="" method="post" id="id_form_save">{% csrf_token %}
                    {{ form.errors }}

                    <input type="hidden" name="user" value="{{ request.user.id }}">

                    <div class="row" style="margin: 0 0 15px 0;">

                        <div class="col-md-8">
                            {{ form.duty_person.errors }}{{ form.duty_person.label_tag }}{{ form.duty_person }}
                        </div>
                        <div class="col-md-4">
                            {{ form.duty.errors }}{{ form.duty.label_tag }}{{ form.duty }}
                        </div>

                    </div>
                    <table class="table table-bordered">
                        {{ expense.management_form }}

                        {% for form in expense.forms %}

                            {% if forloop.first %}
                                <thead>
                                <tr>
                                    {% for field in form.visible_fields %}
                                        <th>{{ field.label|capfirst }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                            {% endif %}
                            <tbody>
                            <tr class="formset_row" id="1">
                                {% for field in form.visible_fields %}
                                    <td>
                                        {# Include the hidden fields in the form #}
                                        {% if forloop.first %}
                                            {% for hidden in form.hidden_fields %}
                                                {{ hidden }}
                                            {% endfor %}
                                        {% endif %}
                                        {{ field.errors.as_ul }}
                                        {{ field }}
                                    </td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        {% endfor %}

                    </table>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-9">
                            {{ form.net_amount.errors }}{{ form.net_amount.label_tag }}{{ form.net_amount }}</div>
                    </div>

                </form>

            </div>
        </div>
    </div>


{% endblock %}
{#page specific js files#}
{% block custom_js_files %}

    <script src="{% static 'formset/create_duty_formset-expenses.js' %}"></script>
    <script src="{% static 'sweatalert/sweatalert.js' %}"></script>
    <script src="{% static 'choosen/choosen.js' %}"></script>

{% endblock %}

{#page specific inline js#}
{% block js_inline %}
    <script>

        $('.formset_row').formset({
             addText: '<i class="fa fa-plus btn btn-sm btn-primary" aria-hidden="true"></i>',
            deleteText: '<i class="fa fa-trash-o btn btn-sm btn-danger" aria-hidden="true"></i>',
            prefix: 'expenses_set'
        });

    </script>
    <script src="{% static 'js/custom/duty_expenses_create.js' %}"></script>
{% endblock %}













