<form method="post" action="{% url 'expense_delete' expense.id %}" class="js-expense-delete-form">
  {% csrf_token %}
  <div class="modal-header" style="background-color: #D15B47;color: #fff;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirm expense deletion</h4>
  </div>
  <div class="modal-body">
    <h4 class="lead"><i class="glyphicon glyphicon-alert"></i> Are you sure you want to delete the expense with Date:<strong>{{ expense.date }}</strong> and Amount: <strong>{{ expense.amount }}</strong>?</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger">Delete expense</button>
  </div>
</form>