
{% load widget_tweaks %}

<form method="post" action="{% url 'expense_update' form.instance.pk %}" class="js-expense-update-form">
  {% csrf_token %}
  <div class="modal-header bg-primary">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Update Expenses</h4>
  </div>
  <div class="modal-body">
    {% include 'expenses/includes/partial_expense_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="ace-icon fa fa-times white3"></i> Close</button>
        <button type="submit" class="btn btn-primary"><i class="ace-icon fa fa-floppy-o bigger-100"></i> Update Expense </button>
  </div>
</form>