
{% for expense in expenses %}
    <tr>
        <td></td>
        <td>{{ expense.expense_account }}</td>
        <td>{{ expense.date }}</td>
        <td>{{ expense.bank }}</td>
        <td>{{ expense.amount }}</td>
        <td>

            <button type="button"
                    class="btn btn-warning btn-sm js-update-expense"
                    data-url="{% url 'expense_update' expense.id %}">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>


            <button type="button"
                    class="btn btn-danger btn-sm js-delete-expense"
                    data-url="{% url 'expense_delete' expense.id %}">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="6" class="text-center bg-warning">No any Expense</td>
    </tr>
{% endfor %}