{% for expense in expenses %}
    <tr>
        <td></td>
        <td>{{ expense.duty_person }}</td>

        <td>{{ expense.net_amount }}</td>
            {% if expense.status == 1 %}
            <td style="color:red;font-weight: bold;">{{ expense.get_status_display }} <span
                    class="glyphicon glyphicon-time"></span></td>
        {% else %}
            <td style="color: green;font-weight: bold;">{{ expense.get_status_display }} <span
                    class="glyphicon glyphicon-ok"></span></td>
        {% endif %}
        <td>
            <a href="{% url 'update_duty_expense' expense.id %}">
                <button type="button"
                        class="btn btn-warning btn-sm ">
                    <span class="glyphicon glyphicon-pencil"></span> Post
                </button>
            </a>
            <a href="{% url 'delete_duty_expense' expense.id %}">
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-expense">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
                </a>
            <a href="{% url 'detail_duty_expense' expense.id %}">
            <button type="button"
                    class="btn btn-success btn-sm ">
                <span class="glyphicon glyphicon-eye-open"></span> Show
            </button>
                </a>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="5" class="text-center bg-warning">No any Expense</td>
    </tr>
{% endfor %}