{% for product in products %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{ product.product_name }}</td>
        <td>{{ product.units_per_box }}</td>
        <td>{{ product.get_product_type_display }}</td>
        <td>{{ product.purchase_price_per_box }}</td>
        <td>{{ product.sale_price }}</td>
        <td>{{ product.get_product_unit_display }}</td>
        <td><button type="button"
              class="btn btn-warning btn-xs js-update-product"
              data-url="{% url 'product_update' product.id %}">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
        <button type="button"
              class="btn btn-danger btn-xs js-delete-product"
              data-url="{% url 'product_delete' product.id %}">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="6" class="text-center bg-warning">No products</td>
    </tr>
{% endfor %}