{% for d in  cclimits %}
    <tr>
        <td>{{ d.customer }}</td>
        <td>{{ d.limit }}</td>
        <td>
            <button type="button"
                    class="btn btn-warning btn-sm js-update-cclimit"
                    data-url="{% url 'cclimit_update' d.id %}">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>
             <button type="button"
                    class="btn btn-danger btn-sm js-delete-cclimit"
                    data-url="{% url 'cclimit_delete' d.id %}">
                <span class="glyphicon glyphicon-pencil"></span> Delete
            </button>
        </td>
    </tr>
{% endfor %}