a:hover {
 cursor:pointer;
    text-decoration: none;
}
/*modal */

/*end modal*/
.modal {

  margin-top: 70px !important;
  border: 0px !important;

}
/**/
.form-control-label {
    margin-top: 15px;
}

.modal-backdrop.in {
	opacity: 0;
}
/*#id_customer, #id_sale_type, #id_cdate, #id_duedate, #id_amount, #id_discount_total, #id_previous_balance, #id_net_amount, #id_received, #id_balance, #id_supplier, #id_order_type, #id_purchase_type, .chosen-single, #id_paid, #id_subcategory {*/
    /*display: block;*/
    /*width: 100%;*/
    /*padding: .5rem .75rem;*/
    /*font-size: 1rem;*/
    /*line-height: 1.25;*/
    /*color: #55595c;*/
    /*background-color: #fff;*/
    /*background-image: none;*/
    /*-webkit-background-clip: padding-box;*/
    /*background-clip: padding-box;*/
    /*border: 1px solid rgba(0, 0, 0, .15);*/
    /*border-radius: .25rem*/
/*}*/

/*on all invoice forms*/
/*#id_discount_total, #id_amount, #id_previous_balance, #id_net_amount, #id_balance, .qtypresent, .net {*/
    /*background-color: rgb(236, 239, 244);*/
    /*border-color: #838383;*/
/*}*/

input[type="search"] {
    width: 300px;
    border-radius: 6px;
    border: thin solid #cac3c3;
    height: 30px;
    font-weight: bold;

}

.form-control-label {
    margin-top: 15px;
}

.dont-fade {
    trasition: none;
    opacity: 1;
}

.nums {
    font-size: 20px;
    font-weight: bold;
    font-family: Monaco;
}

.invoice-border {
    border: 2px solid black;
    padding: 8px;
    width: 100%;
}

.invoice-border table tr {
    height: 25px;
}

.invoice-inner {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    padding-bottom: 5px;

}

.actionButtons {
    position: fixed;
    bottom:0;
    right: 30px;
    z-index: 10;

}



.contrl_panel_toggle {
    position: fixed;
    right: 280px;

}

.heading {
    opacity: .8;
    padding-top: 3px;
    border-bottom: solid 2px rgb(159, 162, 167);
    position: fixed;
    top: 41px;
    left: 0;
    right: 0;
    height: 33px;
    text-align: center;
    font-weight: bold;
    color: rgb(242, 152, 36);
    background-color: rgb(236, 239, 244);

}

.heading-container {
    position: relative;
    z-index: 3;
   margin-bottom: 25px;
}

.ro-outer {
    position: relative;
    z-index: 3;
}

.new_button {
    position: fixed;
    top: 44px;
    left: 80%;
    right: 10%;
    height: 24px;
    padding-left: 10px;
    background-color: #6b7a85;
    border-color: #6b7a85;
    color: #e1e1e1;
    font-family: "Proxima Nova", sans-serif;
    line-height: 17.5px;
    vertical-align: middle;
    letter-spacing: normal;
    word-spacing: 0px;
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    text-indent: 0px;
    padding-top: 2px;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 3px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 3px;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 3px;

}
.close_btn {
    position: fixed;
    top: 44px;
    left: 91%;
    right: 6%;
    height: 24px;
     padding-left: 3px;
    background-color: #444a55;
    border-color: #6b7a85;
    color: #6b7a85;
    font-weight: bold;
    font-family: "Proxima Nova", sans-serif;
    line-height: 17.5px;
    vertical-align: middle;
    letter-spacing: normal;
    word-spacing: 0px;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    text-indent: 0px;
    padding-top: 4px;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 3px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 3px;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 3px;
    font-size: 17px;


}

.new_button:hover {
    color: #ffffff;
    background-color: rgb(148,160,169);
}
.close_btn:hover{
    color: #ff4b20;
    background-color:rgb(148,160,169);
}

.ro-inner {
    position: fixed;
    top: 48px;
    left: 83%;
    right: 7%;
    height: 24px;
    padding-left: 10px;
    background-color: rgb(103, 116, 125);
    color: #d0d0d0;
}

.form-sections-heading {
    padding: 2px 0 2px 5px;
    font-weight: bold;
    margin: 0 0 10px 0;
    background: rgb(236, 239, 244);
    border: thin solid rgb(192, 195, 199);
    color: rgb(242, 152, 36);

}

/*remove number item spiner*/

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.formset_row > .delete-row {
    text-decoration: none;
}

.settings-header {
    padding: 5px 5px 5px 10px;
    color: rgb(242,152,36);
    font-size: 1.3em;
    font-weight: bold;
}

#id_is_subcategory {
    margin-top: 10px;
}

.btn.btn-inline {
    margin-bottom: 0 !important;
}

.print_text {
    color: rgb(0,168,255);
    font-weight: 580;
    font-family: "Avenir Next forINTUIT";
    line-height: 17.5px;
    vertical-align: middle;
    letter-spacing: normal;
    font-size: 14px;
    margin-right: 5px;

}

.statistic_bar{
    width: 100%;
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
    text-align: center;
}

.home_box{
    border: 2px solid #F29824;
    padding: 0 0 5px 0 !important;
    margin: 8px;
    border-radius: 5px;
    float: left;
    width: 31%;
    overflow: hidden;
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;


}

.home_box_heading{
    padding-bottom: 5px;
    border-bottom: 2px solid #f29824;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    color:#fff;
    background-color: #F29824;

}

.home_box_data{
 padding: 8px;
}

pre{
    font-size: .95em !important;


}

.total_header{
    font-weight: bolder;
    margin-top: 5px;
    border-top: 2px solid #f29824;
    padding-top: 10px;
}

.customer_box{
    
}
/*custom for checkbox*/
.checkboxes label {
  display: block;
  float: left;
  padding-right: 10px;
  padding-left: 22px;
  text-indent: -22px;
}
.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
}
/*borderless table*/
.table-borderless td,
.table-borderless th {
    border: 0;
}

/*jquery auto complte*/
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }