{% extends '../base.html' %}
{% load static %}
{% block page_css_files %}
        <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}"/>
    <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/datetimepicker.min.css' %}"/>
     <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">
                {% block page-header %}
                    <div class="col-md-12 bg-primary" style="padding: 8px;margin-bottom: 10px;font-size: 18px;">
                        Bank depositions (<span id="total_fee_paid">{{ total_bank_depositions }}</span>)
                    </div>
                {% endblock %}

                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-md-12">
                        <a href="{% url 'bank_deposition_home' %}">
                        <button type="button"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span>
                            New
                        </button>
                        </a>
                        <a href="{% url 'bank_deposition_home' %}">
                            <button type="button"
                                    class="btn btn-primary">
                                <i class="fa fa-remove" aria-hidden="true"></i> Close
                            </button>
                        </a>
                    </div>
                </div>

                <table class="table table-bordered" id="bank_deposition-table">
                    <thead>
                    <tr>
                         <th>Duty</th>
                        <th>To Bank</th>
                        <th>Amount</th>
                        <th>Deposition for?</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% include 'cash/includes/partial_bank_deposition_list.html' %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal fade" id="modal-bank_deposition">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js_files %}
    <script src="{% static 'js/custom/bank_deposition.js' %}"></script>
    <script src="{% static 'js/datetimepicker.min.js' %}"></script>
     <script src="{% static 'choosen/choosen.js' %}"></script>

{% endblock %}

{% block js_inline %}
    <script>
        //$(document).ready(function () {

        //});
    </script>
{% endblock %}