
{% load widget_tweaks %}

<form method="post" action="{% url 'clubcard_vehicle_create' %}" class="js-clubcard_vehicle-create-form">
  {% csrf_token %}
  <div class="modal-header bg-primary">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Create a new clubcard vehicle</h4>
  </div>
  <div class="modal-body">
  {% include 'clubcard_vehicles/includes/partial_clubcard_vehicle_form.html' %}
  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-default" data-dismiss="modal"><i class="ace-icon fa fa-times white3"></i> Close</button>
        <button type="submit" class="btn btn-primary"><i class="ace-icon fa fa-floppy-o bigger-100"></i> Create clubcard vehicle </button>
  </div>
</form>