{% for clubcard_vehicle in clubcard_vehicles %}
    <tr>
        <td></td>
        <td>{{ clubcard_vehicle.company_name }}</td>
        <td>{{ clubcard_vehicle.vehicle_no }}</td>
        <td>{{ clubcard_vehicle.driver_name }}</td>
        <td>{{ clubcard_vehicle.driver_cnic }}</td>
        <td>{{ clubcard_vehicle.driver_phone }}</td>
        <td><img src="/media/{{ clubcard_vehicle.driver_photo }}" alt=""></td>
        <td><button type="button"
              class="btn btn-warning btn-sm js-update-clubcard_vehicle"
              data-url="{% url 'clubcard_vehicle_update' clubcard_vehicle.id %}">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>
        <button type="button"
              class="btn btn-danger btn-sm js-delete-clubcard_vehicle"
              data-url="{% url 'clubcard_vehicle_delete' clubcard_vehicle.id %}">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="8" class="text-center bg-warning">No clubcard vehicles</td>
    </tr>
{% endfor %}