
{% for msr in milli_short_recovery %}
    <tr>
        <td>{{ msr.company_name.account_name }}</td>
        <td>{{ msr.from_date }}</td>
        <td>{{ msr.to_date }}</td>
        <td>{{ msr.amount }}</td>
        <td>{{ msr.percent }}</td>
        <td>{{ msr.percentage }}</td>
        <td>

        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="6" class="text-center bg-warning">No any data</td>
    </tr>
{% endfor %}