
{% load widget_tweaks %}

<form method="post" action="{% url 'milli_short_recovery_post' %}" class="js-milli_short_recovery_update">
 {% csrf_token %}
  <div class="modal-header bg-primary">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Post Milli Short Recovery</h4>
  </div>
  <div class="modal-body">
    <span style="text-weight:bold; background-color: #1B6AAA;color:#F0F4F7;padding: 5px;"> {{ account.account_name }}</span>
  <table class="table table-bordered table-responsive">
  <thead>
     <tr>

         <td>Date</td>
         <td>Product</td>
         <td> Milli short</td>
         <td> Litre</td>
         <td> Amount</td>
         <td></td>
     </tr>
  </thead>
  <tbody>
  <input type="hidden" name="company_id" value="{{ account.id }}">
  {% for field in milli_short_recovery_detail %}
  <tr>
      <td style="display:none;"><input type="checkbox" name="invoices_ids" checked="checked" value="{{ field.fuelpurchasem_id }}"></td>
      <td>  <input type="text" name="invoice_date" value="{{ field.fuelpurchasem__duty__date }}" readonly="readonly" style="border:0;outline:0;"></td>
      <td>  <input type="text" value="{{ field.product__product_name }}" readonly="readonly" class="expense_given" style="border:0;outline:0;"></td>
      <td>  <input type="text" value="{{ field.milli_short }}" readonly="readonly" class="expense_given" style="border:0;outline:0;"></td>
      <td>  <input type="text" value="{{ field.litre }}" readonly="readonly" class="expense_given" style="border:0;outline:0;"></td>
      <td>  <input type="text" value="{{ field.total_amount}}" readonly="readonly" class="total_amount" style="border:0;outline:0;"></td>
      <td style="cursor: pointer;" class="remove_it" onclick="remove_me();"> <span style="color:red;" class="glyphicon glyphicon-remove" ></span></td>
  </tr>
   {% endfor %}
  <tr>
      <td colspan="3"></td>
      <td>Sum</td>
      <td colspan="2"><input type="text" name="sum_total_amount" class="sum_total_amount" readonly="readonly" style="border:0;outline:0;"></td>
  </tr>
  <tr style="background-color:#f8f5f5;">
      <td colspan="3"></td>
  <td><input type="text" name="percent" class="percent" placeholder="% percent" required style="border:0;outline:0;background-color: #1B6AAA;color: #FFFFFF;"></td>
  <td colspan="2"><input type="text" name="percentage" class="percentage" placeholder="percentage calculated" readonly="readonly" style="border:0;outline:0;"></td>
  </tr>
  </tbody>

  </table>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="ace-icon fa fa-times white3"></i> Close</button>
        <button type="submit" class="btn btn-primary"><i class="ace-icon fa fa-floppy-o bigger-100"></i> Post </button>
  </div>
  </div>
</form>