
{% for msl in milli_short_list %}
    <tr>
          <td style="display:none;">{{ msl.supplier_id }}</td>
        <td>{{ msl.supplier__account_name }}</td>
        <td>{{ msl.fuelpurchases__product__product_name }} <span style="color: orange;">({{ msl.total_nos }})</span></td>
        <td>

            <button type="button"
                    class="btn btn-warning btn-sm js-show_milli_short_recovery_detail"
                    data-url="{% url 'milli_short_recovery_get' msl.supplier_id  msl.fuelpurchases__product_id %}">
                <span class="glyphicon glyphicon-eye-open"></span> Detail
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="4" class="text-center bg-warning">No any data</td>
    </tr>
{% endfor %}