{% extends '../base.html' %}
{% load mathfilters %}
{% load static %}
{% block page_css_files %}
    <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}"/>
    <link rel="stylesheet" href="{% static 'sweatalert/sweatalert.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'material_time_picker/mdtimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
    <link rel="stylesheet" href="{% static 'data_tables/datatables.min.css' %}"/>
{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">


                {% block page-header %}

                    <div class="row" style="border-bottom: thin solid #EEEEEE;">
                        <div class=" col-md-3 col-lg-3 col-sm-3 col-xs-3">

                            <h4>Tank Stock Transaction</h4>

                        </div>

                    </div>

                {% endblock %}


                <table class="table table-borderless">
                    <tr>

                        <td>
                            <button class="btn btn-primary js-tank_to_lorry_create"
                                    data-url="{% url 'tank_to_lorry_create' %}">Tank => Lorry
                            </button>
                        </td>
                        <td>
                            <img src="{% static 'images/avatars/tank.png' %}" alt=""  style="float: left;">
                            <h3 style="float: left;margin-left: 10px;margin-right: 10px;">TO</h3>
                            <img src="{% static 'images/avatars/lorry.png' %}" alt="" style="float: left;">
                        </td>
                        <td id="show_posted_button">
                            <button class="btn btn-flat btn-success" id="show_posted" type="button">Show Posted</button>
                        </td>


                    </tr>
                </table>
                <div id="tank_to_lorry_table">
                    <table class="table table-bordered" id="un_posted_tank_to_lorry-table">
                        <thead>
                        <tr>
                            <th>Duty</th>
                            <th>Lorry</th>
                            <th>Tank</th>
                            <th>Shifted stock</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% include 'tank_stock_to_lorry/includes/partial_tank_to_lorry_unposted_list.html' %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal modal-full" id="modal-tank_stock_transaction" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>

{% endblock %}

{% block custom_js_files %}
    <script src="{% static 'js/custom/tank_to_lorry.js' %}"></script>
    <script src="{% static 'sweatalert/sweatalert.js' %}"></script>
    <script src="{% static 'js/datetimepicker.min.js' %}"></script>
    <script src="{% static 'material_time_picker/mdtimepicker.min.js' %}"></script>
    <script src="{% static 'choosen/choosen.js' %}"></script>
    <script src="{% static 'data_tables/datatables.min.js' %}"></script>
{% endblock %}

{% block js_inline %}

    <script>
        $(document).ready(function () {
            $("#show_posted").click(function () {
                var url = "/show_all_posted_tank_to_lorry";  // get the url of the `load_cities` view

                $.ajax({                       // initialize an AJAX request
                    url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                    success: function (data) {   // `data` is the return of the `load_cities` view function
                        $("#tank_to_lorry_table").html(data);
                        document.getElementById("show_posted_button").innerHTML = '<button  class="btn btn-flat btn-success" id="show_un_posted" type="button">Show Un Posted</button>';
                        $('#posted_tank_to_lorry-table').DataTable();
                        $('#show_un_posted').click(function () {
                            location.reload();
                        });
                    }
                });

            });


            $(document).on('keyup', '#id_lorry_previous_dip', function () {
                var chamber_dip_received = $(this).val();
                var chamber_id = $("#id_chamber").val();
                var lorry_id = $("#id_lorry").val();
                if (lorry_id != "" && chamber_id != "") {

                    $.ajax({
                        url: '/fuel_purchases_by_lorry/get_chart',
                        data: {
                            lorry_id: lorry_id,
                            lorry_chamber_id: chamber_id,
                            chamber_dip_received: chamber_dip_received
                        },
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            $(this).val(data.litre);
                            $("#id_lorry_previous_stock").val(data.litre);
                        }
                    });
                } else {
                    //message
                    swal({
                        position: 'center',
                        type: 'error',
                        title: 'Select a lorry & chamber first',
                        showConfirmButton: true,
                    });
                }

            });

            $(document).on('keyup', '#id_lorry_final_dip', function () {
                var chamber_dip_received = $(this).val();
                var chamber_id = $("#id_chamber").val();
                var lorry_id = $("#id_lorry").val();
                if (lorry_id != "" && chamber_id != "") {

                    $.ajax({
                        url: '/fuel_purchases_by_lorry/get_chart',
                        data: {
                            lorry_id: lorry_id,
                            lorry_chamber_id: chamber_id,
                            chamber_dip_received: chamber_dip_received
                        },
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            $("#id_lorry_final_stock").val(data.litre);
                        },
                        error: function (data) {
                            $(this).val(0);
                            $("#id_tank_previous_stock").val(0);

                        }
                    });
                } else {
                    //message
                    swal({
                        position: 'center',
                        type: 'error',
                        title: 'Select a lorry & chamber first',
                        showConfirmButton: true,
                    });
                }

            });


            $(document).on('keyup', '#id_tank_previous_dip', function () {
                var previous_dip = $(this).val();
                var tank = $("#id_tank").val();
                if (tank != "") {
                    $.ajax({
                        url: '/fuel_purchases/get_chart',
                        data: {tank: tank, previous_dip: previous_dip},
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            $("#id_tank_previous_stock").val(data.litre);
                        },
                        error: function (data) {
                            $(this).val(0);
                            $("#id_tank_previous_stock").val(0);

                        }
                    });

                }

            });

            $(document).on('change', '#id_tank', function () {
                tank = $(this).val();
                previous_dip = $("#id_tank_previous_dip").val();
                $.ajax({
                    url: '/fuel_purchases/get_chart',
                    data: {tank: tank, previous_dip: previous_dip},
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        $("#id_tank_previous_stock").val(data.litre);
                    },
                    error: function (data) {
                        $("#id_tank_previous_stock").val(0);
                    }
                });

            });
            $(document).on('keyup', '#id_tank_final_dip', function () {
                var previous_dip = $(this).val();
                var tank = $("#id_tank").val();
                if (tank != "") {
                    $.ajax({
                        url: '/fuel_purchases/get_chart',
                        data: {tank: tank, previous_dip: previous_dip},
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            $("#id_tank_final_stock").val(data.litre);
                        },
                        error: function (data) {
                            $(this).val(0);
                            $("#id_tank_final_stock").val(0);

                        }
                    });

                }

            });

               $(document).on('change', '#id_product', function () {
                var product = $(this).val();
                var lorry = $("#id_lorry").val();
                var chamber = $("#id_chamber").val();
                if (product != "" && lorry != "" && chamber !="" ) {

                    $.ajax({
                        url: '/get_lorry_stock',
                        data: {
                            product: product,
                            lorry: lorry,
                            chamber: chamber
                        },
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            $("#id_stock").html('Stock in current chamber : '+ data.lorry_stock)
                            $("#id_stock").css({'background-color':'grey','color':'#fff','padding':'8px'});

                        },
                        error: function (data) {
                            $("#id_stock").html('No data found');

                        }
                    });
                } else {
                    //message
                    swal({
                        position: 'center',
                        type: 'error',
                        title: 'Select a lorry, chamber then product',
                        showConfirmButton: true,
                    });
                }

            });

        });

    </script>


{% endblock %}